[2021-07-29 19:47] mchoji opened #407 "axiom-scan --list not working correctly"
I think it is expected that one should use `axiom-scan --list` to list the available modules so they know which to use. However, when issuing this command, we are presented to an error:

![image](https://user-images.githubusercontent.com/7395296/127556025-562344c2-d1e6-4316-905c-8aef8e7b5bc6.png)

This command only works if we specify a module to use, which seems counter intuitive:

![image](https

[2021-07-29 21:17] 0xtavian commented on #407
@mchoji thanks this is a bug. I'll push a fix shortly

[2021-07-29 21:22] 0xtavian commented on #407
@mchoji thanks. should be working now.

[2021-07-29 21:22] #407 closed

[2021-07-30 19:15] 0xtavian commented on #406
@RapidEU working on this but might not get it finished until after DEFCON. These are the corresponding cli calls that have to be integrated for reference.

Linode

linode-cli linodes shutdown $(instance_id $instance_name)
linode-cli linodes boot  $(instance_id $instance_name)
linode-cli linodes reboot  $(instance_id $instance_name)

Digital Ocean

doctl compute  droplet-action  power-off  $(instan

[2021-08-04 09:30] RapidEU opened #410 "generate sshconfig from axiom-select and allow private ips"
Hiya,

As previously discussed with @0xtavian , this request is being made because of errors I have encountered when using it in an active environment. I have a machine which doesn't have a public ip's, therefore when trying to execute any command, the sshconfig that is generated is malformed because of a missing HostName field value.

So the suggestion is basically to make it so the sshconfig is

[2021-08-04 18:44] 303sec opened #411 "Linode Rate Limiting"
It looks like there is potentially some kind of rate limiting on Linode instances when spinning up a lot of instances. I have confirmed with support that I can create 50 Linode boxes, but when I try to run something like axiom-fleet I get the following on some instances:

[code]

I think this is some kind of Linode rate limiting, but I may be wrong.

[2021-08-04 19:49] 303sec commented on #411
I've tested this a few times and have had about 13-30 boxes successfully spin up, but not the full 50.

[2021-08-08 15:00] Marcio861 opened #415 "Axiom-Scan Error (Solved)"
i have docker kali clear in WSL
Linux 0b17d71b0c3a 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 GNU/Linux

I running axiom-scan targetsfile -m subfinder -o outputfile.txt

output:

usage: interlace [-h] [-t TARGET | -tL FILE] [-e EXCLUSIONS | -eL FILE]
                 [-threads THREADS] [-timeout TIMEOUT] [-pL FILE]
                 (-c COMMAND | -cL FILE) [-o OUTPUT]

[2021-08-09 19:11] saajanbhujel11 commented on #415
Yes, buddy, this error is shown in the WSL.

But, I noticed that if we create one more blank line in our target domain file, then the error does not show anymore.

Let suppose you have created 4 fleets, and you want to perform the scan with this cmd:  `axiom-scan targetsfile -m subfinder -o outputfile.txt`.

So, For performing the above cmd without any error, Only you have to create a text file fo

[2021-08-09 21:03] niemand-sec commented on #411
I'm having the same issue with with linode.  Getting the following errors while doing `axiom-fleet`:

[code]

If I try to spin 30 boxes, only a few get deployed (around 50%), and then when trying to run a scan with the previous deployed fleet I get these errors:

[code]

I have been dealing with this issue the last few weeks. Any pointer about what could be causing this?

[2021-08-10 01:04] Marcio861 commented on #415
not work blank line:

https://prnt.sc/1lzc657

not work with nmap too

https://prnt.sc/1lzebqu

[2021-08-10 12:12] Marcio861 commented on #415
I am solved:

apt install rsync -y

[2021-08-10 12:12] #415 closed

[2021-08-10 22:28] 0xtavian commented on #411
@niemand-sec @303sec
Linode and DO have rate limits applied when spinning up VMs. IIRC you can only spin up in batches of 15. So if you want to spun up a larger fleet, and you've already increased your max allowed Linodes/Droplets by asking support nicely for an increase, you have to spin up max 15 instances at a time.

For example, if you wanted to spin up 30 instances, you'd run `axiom-fleet fir

[2021-08-10 22:29] #411 closed

[2021-08-10 22:38] 0xtavian commented on #415
@Marcio861 thanks, i think the `-y` was missing from the script preventing the instal of rsync? https://github.com/pry0cc/axiom/blob/master/interact/axiom-configure#L95

[2021-08-10 22:39] 0xtavian commented on #415
@saajanbhujel11 generally this error can be ignored. its just interlace complaining that it doesnt have a target

[2021-08-11 01:55] Marcio861 commented on #415
I'm not sure -y reference to auto accept install;
had to test axiom-scp separately and said there was no rsync, bingo! I installed rsync

[2021-08-12 04:05] Marcio861 opened #416 "Is Possible?"
Is Possible running axiom-scan  with:   cat urlsfile.txt | waybackurls?

[2021-08-12 04:40] 0xtavian commented on #416
https://github.com/pry0cc/axiom/wiki/Cheatsheet#scanning-using-a-fleet
`axiom-scan urlsfile.txt -m waybackurls -o myoutputfile` is likely what you are looking for. Also check out `axiom-scan --help` and `axiom-scan --list`. To understand how it works, read: https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules

[2021-08-12 04:40] #416 closed

[2021-08-14 21:23] amineethic opened #422 "after choising reconftw as provisioner i show this erros , i'm using digitalocean"
digitalocean: Error creating droplet: POST https://api.digitalocean.com/v2/droplets: 422 creating this/these droplet(s) will exceed your droplet limit
==> digitalocean: Deleting temporary ssh key...
Build 'digitalocean' errored: Error creating droplet: POST https://api.digitalocean.com/v2/droplets: 422 creating this/these droplet(s) will exceed your droplet limit

==> Some builds didn't complete s

[2021-08-15 03:55] 0xtavian commented on #422
@amineethic the error "creating this/these droplet(s) will exceed your droplet limit" means you already have the max number of droplets on your account. You have to either delete one or ask support nicely for an increase.

[2021-08-15 03:55] #422 closed

[2021-08-15 12:13] amineethic commented on #422
@0xtavian thanks a lot for your help

[2021-08-17 18:37] ResistanceIsUseless opened #424 "Clean up .zshrc"
.zshrc has some things that aren't needed and we have some duplication of plugins and functions.

1. clean up plugins and add some like nmap. I recommend the following:
`doctl encode64 vi-mode dircycle github z autojump rails zsh-navigation-tools docker docker-compose vagrant cp ruby nmap common-aliases`
2. fix source $GOPATH/src/github.com/tomnomnom/gf/gf-completion.zsh ~/go/src is purged after i

[2021-08-18 20:19] tc-mgriff opened #427 "Add profile with VNC install"
it would be nice if there was an option to enable on the VM as loopback. Then we would have an argument for axiom-connect to automatically setup a SSH port forward ``axiom-connect -vnc`` or something along those lines.

[2021-08-20 17:51] ResistanceIsUseless commented on #424
Fixed with https://github.com/pry0cc/axiom/pull/430

[2021-08-20 17:51] #424 closed

[2021-08-20 17:56] ResistanceIsUseless opened #431 "Fix sn0int install"
[code]

[2021-08-20 17:56] ResistanceIsUseless commented on #431
might be easier if we used the docker image and added it to zshrc with other docker image functions.  I'm hesitant to preload too many docker images.

`docker run --rm --init -it -v "$PWD/.cache:/cache" -v "$PWD/.data:/data" kpcyrd/sn0int`

[2021-08-24 22:20] ResistanceIsUseless opened #435 "Azure provider - sudo: unable to resolve host"
this issue doesn't break anything(that im aware of) but it should be an easy fix to add the hostname with 127.0.0.1 to /etc/hosts during build.

something like:
`hostname=$(cat /etc/hostname) && echo "127.0.0.1 $hostname" >> /etc/hosts`

[2021-08-25 00:36] 0xtavian opened #436 "cant run axiom-scan with --spinup flag if axiom-init or axiom-fleet hasnt been previously run"
Reported by c4nh0t0 on 0x00sec discord:

unable to run axiom-scan with spinup flag without first running axiom-init or axiom-fleet. Axiom-scan was erroring because it expects selected.conf and ~/.axiom/sshconfig files to be present but aren't created until after first run of axiom-init or axiom-fleet.
Even tho axiom-scan is overwriting those when spinup flag is specified, there is a bug expecting

[2021-08-25 00:39] 0xtavian opened #437 "better SSH key selection"
report by fersingb on 0x00sec discord

With both an rsa and ed25519, key axiom-configure picked the rsa one without asking

temp workaround, after axiom-configure but before axiom-build you must cat your pub ssh you intend to use into ~/.axiom/configs/authorized_keys

[2021-08-25 12:58] c4nh0t0 opened #438 "--spinup flag unable to create machines without running axiom-fleet or axiom-init first"
Hi there.
I've create a fresh Ubuntu machine to test the --spinup flag and it was unable to run it without run the commands axiom-fleet or axiom-init first. AFAIK when those commands run some essential files are created (selected.conf and .sshconfig).

![001](https://user-images.githubusercontent.com/8462973/130794404-5adcbeb5-96b3-4485-ba56-a6e2c2824c15.png)

![002](https://user-images.githubuser

[2021-08-25 13:14] c4nh0t0 commented on #438
@0xtavian already posted.

[2021-08-25 13:15] c4nh0t0 commented on #436
Some evidences about it:

![001](https://user-images.githubusercontent.com/8462973/130797207-8b17e371-117a-46b9-b88f-bf2707dbe0a3.png)

![002](https://user-images.githubusercontent.com/8462973/130797232-76b07420-4080-4adc-a9a3-6ed5738d0ac1.png)

![003](https://user-images.githubusercontent.com/8462973/130797255-aa6df5f8-04f2-4bfc-a1ba-49cdbb4a7221.png)

[2021-08-31 14:54] 0xtavian commented on #375
@tedmdelacruz Going to reopen this issue until we have a better alternative.

[2021-09-01 17:26] ResistanceIsUseless opened #442 "Support for Azure Cloud Shell"
I looked into adding support for azure cloud shell and the following issues would need to fixed or work-arounds added.

1. azure cloud shell doesnt allow sudo, so that means no apt. Everything will need to be installed manually.
2. anything outside of the users home directory will be lost when the session dies.
3. az login is pre-configured, so /interact/account-helpers/azure.sh needs to be update

[2021-09-05 20:52] dogasantos opened #444 "error on docker deploy: digital ocean nyc2 not supported"
By Default options,
the docker deploy uses "nyc2" as location, which produces an error:

[code]

nyc3 works just fine

You guys may need to add a control for this

thanks

[2021-09-08 00:10] pdelteil opened #446 "[Issue] (axiom-scan) deduplication of input data not working"
Hello there,

I'm not sure when this stopped working, but I did a axiom-update and tested that the input doing axiom-scan with module nuclei and the input was duplicated.

[2021-09-08 03:45] pdelteil opened #448 "[feature] handling case when input items are fewer than number of instances"
There's a border case when the amount of items in the input file are lower than the number of instances in a given fleet.

For example, we want to run a scan using all nuclei templates on 20 urls having a fleet with 40 machines.
This situation will output the following error  `cat: input: No such file or directory` because 20 instances are receiving empty input files.

**Desired behavior**

Warnin

[2021-09-08 21:12] 0xtavian commented on #444
@dogasantos thanks, should be fixed now.

[2021-09-08 21:12] #444 closed

[2021-09-09 21:59] 0xtavian commented on #436
I believe this is fixed with the latest commit. Reopen if not :)

[2021-09-09 21:59] #436 closed

[2021-09-11 05:23] C90D opened #449 "jq: error (at <stdin>:1361): Cannot iterate over null (null)"
Error when generating fleet.
![image](https://user-images.githubusercontent.com/58028789/132937289-ae729e22-5a0f-42eb-8fb8-2e34e04f18fe.png)

[2021-09-11 06:11] 0xtavian commented on #449
@C90D Yea i'm seeing this as well. Only on DO from what I can tell.

[2021-09-11 06:14] C90D commented on #449
@0xtavian I rebuilt it many times, but it didn't work. What now

[2021-09-11 06:16] 0xtavian commented on #449
@C90D well for one the boxes still get initialized. Run axiom-ls and you should see all the boxes that failed to list the IP in your screenshot. I think its happening because DO is slow to release IPs, maybe they are running low ATM. A quick fix is to add a 90 sec sleep here https://github.com/pry0cc/axiom/blob/master/interact/axiom-init#L225.

[2021-09-11 06:17] C90D commented on #449
@0xtavian OK, thank you

[2021-09-13 16:52] c4nh0t0 commented on #436
Not sure if its fixed. I run a fresh install in my VPS and got this error:

![temp](https://user-images.githubusercontent.com/8462973/133124883-357d2bab-804f-4c63-b2b2-c7cc29a39c24.png)

[2021-09-14 04:57] pdelteil commented on #224
This happened to me this time!

Definitely needs a better error message and an auto delete option.

[2021-09-14 05:04] pdelteil opened #450 "[issue] context deadline exceeded"
No idea what this error means.

[code]

[2021-09-14 05:37] pdelteil commented on #450
Probably just a timeout from the API or Linode's services.

Retrying solved the problem.

[2021-09-14 05:37] #450 closed

[2021-09-17 18:55] ResistanceIsUseless opened #452 "Go get deprecation"
"Starting in Go 1.17, installing executables with go get is deprecated. go install may be used instead."
https://golang.org/doc/go-get-install-deprecation

We will probably need to keep track of packages that break because of this. Also, on that topic I wonder if there would be any value in writing test cases for axiom. Make sure apps are being installed on the vm among other things.

[2021-09-17 23:59] #449 closed

[2021-09-18 00:00] 0xtavian commented on #437
its here https://github.com/pry0cc/axiom/wiki/0-Installation#faq but maybe we can make it more apparent

[2021-09-22 17:25] juushya opened #454 "Azure Az CLI install fails on Kali 2021.3"
Hello,

Axiom installation attempted on Kali rolling release 2021.3. Package azure-cli is already installed via `apt-get install azure-cli`.
[code]

[2021-09-23 12:22] juushya commented on #454
Thanks, this new check lets the configuration move ahead. However, Az cli API throws an error next:

[code]

In case you'd like me to open a new ticket for this, please let me know & I'll do that.

Thanks.

[2021-09-23 15:21] 0xtavian commented on #454
@juushya just to bypass this error, trying login manually via the CLI before running `axiom-account-setup azure`. Im not sure why this bug happens but i've been able to get around it by logging in to az manually first. I'll try to see if i can troubleshoot whats exactly happening. Any feedback is welcomed. Reopening until we can figure out a better solution.

[2021-09-24 04:56] juushya commented on #454
@0xtavian I was able to resolve this issue tonight. I found that Microsoft Azure CLI package installation is probably not really considerate of `kali rolling release`. Only the traditional *nix versions are tested and supported directly. I also tried the Azure-cli package from Kali repo, but it too didn't work.

Here's what I did to fix the issue.

[code]
This Kali version is based on Debian stabl

[2021-09-25 00:05] 0xtavian commented on #454
@juushya thanks again, i've implanted a version of what u have above into master. Please let me know if it works for you! :D

[2021-09-25 00:06] 0xtavian commented on #452
@ResistanceIsUseless fixed in here https://github.com/pry0cc/axiom/pull/455 :)

[2021-09-25 00:06] #452 closed

[2021-09-25 19:13] juushya commented on #454
@0xtavian I've added a comment on the fix. Have a look - [code to check release and assign name](https://github.com/pry0cc/axiom/commit/8cd532b398580d4fd896907092a34c0a775066bc#r57056281)

HTH

[2021-09-27 13:24] jcr7301 opened #457 "linkfinder module does not return any result."
Command: `axiom-scan urls.txt -m linkfinder -o output.txt` returns an empty file.
Executing the same input in my host or in an instance does return a correct file.
Playing with the module I can make it write the result in a local axiom instance but I cannot get it in my host in anyway unless I do axiom-scp with all the instances, which a find a little bit too much of a workaround.

linkfinder modu

[2021-09-27 16:24] #345 closed

[2021-09-27 17:05] 0xtavian commented on #457
@jcr7301 good catch. The module should be fixed now. Let me know if you like the output. Also there is no documentation about one-shot modules e.g. modules with `_target_` threads `_output_` `_cleantarget_` etc. I'll try to write some today, I've been meaning to get to it. Thanks again.

[2021-09-28 16:15] #457 closed

[2021-09-28 16:34] 0xtavian commented on #454
@juushya sorry for the delay. Thanks for the suggestion. Its been merged to master. :)

[2021-09-28 17:32] jcr7301 commented on #457
Thanks. It's working now

[2021-09-28 18:22] jcr7301 opened #459 "Custom secretfinder module returns parse error."
I've created my own custom module for SecretFinder (https://github.com/m4ll0k/SecretFinder) in a similar way as linkfinder (https://github.com/pry0cc/axiom/commit/2c412835d3f9aa1f17af2b66f84994adb0277e5e) but it returns `parse error: Invalid numeric literal at line 1, column 2` for whatever input I've tried.

Command:

`axiom-scan urls.txt -m secretfinder -o result.txt`

SecretFinder module:
[code

[2021-09-28 18:36] 0xtavian commented on #459
@jcr7301 Is your module in `~/.axiom/modules/secretfinder.json`? if you run `axiom-scan --list` do you see your module?

[2021-09-28 18:43] #454 closed

[2021-09-28 19:01] jcr7301 commented on #459
Yep, that was, I had a typo in the name. Sorry.
Closing...

[2021-09-28 19:01] #459 closed

[2021-09-30 20:48] 0xtavian commented on #427
added with https://github.com/pry0cc/axiom/pull/461 :)

[2021-09-30 20:48] #427 closed

[2021-10-05 13:08] mchoji opened #463 "[feature] make axiom-configure smarter and less aggressive"
The current axiom-configure script do a lot of things, including installing packages from native repos and tools. However, it does that without checking if dependencies are already satisfied, which sometimes can break environment. Example: it will install a specific Go version without checking if it is already installed. Also, it will try download and install provider's script more than once durin

[2021-10-05 14:14] Rz-Rz opened #464 "[issue] axiom-connect/axiom-ssh gives me both connection timed out"
Using Both axiom-connect or axiom-ssh gives me, after a few minutes, this error message:
ssh: connect to host 178.XX.XXX.108 port 2266: Connection timed out

[2021-10-05 17:17] 0xtavian commented on #463
@mchoji Thanks for the suggestion. I'll try to make changes this week to implement the ideas.

[2021-10-05 17:18] 0xtavian commented on #464
@Rz-Rz  Run `axiom-ls` to see your instances. you can then do axiom-ssh [instance-name].

[2021-10-06 05:12] #464 closed

[2021-10-06 18:53] #437 closed

[2021-10-06 18:53] #463 closed

[2021-10-09 03:42] 0xjson opened #468 "rebuilding axiom"
![image](https://user-images.githubusercontent.com/61111746/136642881-aa584c23-2569-4246-a477-0c3a25941f00.png)

hi, before this i had a jq parsing error in axiom-ls , so i removed everything and tried to reconfigure

and now this happens

[2021-10-09 20:45] 0xtavian commented on #468
@0xjson Interesting. So was proxmox install ever working for you successful? Can you post the entire output of axiom-configure up until this error and upload? Please remove any secrets before uploading. I figure there must have been previous errors as well that might indicate the issue.

I have not tried on a proxmox ubuntu 20.04 container, but the ubuntu latest works. Are you intercepting all out

[2021-10-12 18:07] jcr7301 opened #470 "Should axiom-scp work with python threading?"
I'm currently getting the following errors when trying to execute multiple axiom-scp (with -v, for debugging reasons) from a python thread:

[code]
Same command is working fine in the terminal.
I've also saw some error related with `/home/xxxx/.axiom/.sshconfig` and `/home/xxxx/.axiom/.sshconfig.new` (I think, I haven't been able to reproduce), but basically when I execute from terminal sshconfig

[2021-10-13 02:49] pdelteil opened #471 "[feature] Upload nuclei templates from local folder"
Currently the nuclei module uploads a local template to all instances using the `-wL` flag. It would be helpful if the flag would also work with a folder containing templates.

[2021-10-13 06:47] pdelteil commented on #435
Hello,

How can I reproduce this error?

[2021-10-15 17:06] jcr7301 commented on #470
Doing axiom-scp with -F option fails in every way I've tried.

[code]

[code]

[code]

[code]

[2021-10-16 00:31] #406 closed

[2021-10-16 10:35] xaeroborg opened #474 "Unable to find nuclei-templates folder in a newly initialized instance"
Please have a look at the below screenshot. I initialized a single instance and checked for the nuclei-templates under /home/op of the initialized instance but I couldnt find it. Do I need to manually drop the templates folder into my instance? or am I doing something wrong?

I actually wanted to test running all the templates against a target and to use the entire folder as the wordlist - which I

[2021-10-16 10:37] pdelteil commented on #474
If you run nuclei it will download all the templates automatically.

[2021-10-16 10:42] xaeroborg commented on #474
@pdelteil I was actually going through your blog(https://medium.com/bug-bounty/how-to-run-subfinder-with-axiom-dc2fec98920c) :) and the way you explained was so clear. Just that I am getting used to axiom, I am discovering new things related to its inner working. BTW is it possible to run all the templates against a site? I do know that you raised a similar issue in the past but I am not too sure.

[2021-10-16 10:51] #474 closed

[2021-10-20 11:14] jcr7301 commented on #470
This solution works fine.
Thanks again.

[2021-10-20 11:14] #470 closed

[2021-10-28 13:06] Sicks3c opened #482 "DNSX module not working properly"
## Summary

Hello Team
I noticed that dnsx is not working properly I was trying to give it a list of unresolved subs and it doesn't perform any test

## POC

* Sample of links

<img width="577" alt="Screen Shot 2021-10-28 at 13 56 00" src="https://user-images.githubusercontent.com/32225186/139259486-c25be82e-6619-4477-a5c1-102b2e7b6b08.png">

* Axiom command + output
<img width="1415" alt="Screen

[2021-10-30 16:22] ahmedsherif opened #484 "Axiom-Play book issues with running dns-enum"
[code]

[2021-11-02 11:53] iNoSec2 opened #485 "modified my local zshrc config"
Axiom modified my local zshrc file... is it a normal behaviour?? because when i used it 1y ago it wasnt the case, it install the .zhrc on the digitalocean droplet not fuck my local install

[2021-11-03 01:40] 0xtavian commented on #485
@iNoSec2 yea i can see how that can be annoying. I'll try to push a fix later this week.

[2021-11-03 01:45] 0xtavian commented on #484
@ahmedsherif thanks, yes axiom-playbook needs some attention / code fixes. I've never used axiom-playbook tbh. FYI you can accomplish the same thing (with more granularity) by wrapping axiom-scan in a bash script.

[2021-11-03 01:49] 0xtavian commented on #482
@Sicks3c can you cd in ~/.axiom and run git pull and lmk if there are any errors? What OS are you using for your axiom-controller? I havent been able to reproduce this at all. You seem to be missing a lot of tools. I suspect you're using an old provisioner https://github.com/pry0cc/axiom/tree/master/images/provisioners and have made some local changes to .axiom causing axiom-update ( just a git pu

[2021-11-03 11:17] Sicks3c commented on #482
Hello @0xtavian

I have done the git pull on ~/.axiom nothing new was pulled and I run with debug and here's the output

[debug.txt](https://github.com/pry0cc/axiom/files/7467140/debug.txt)

[2021-11-03 17:54] 0xtavian commented on #482
@Sicks3c I would follow [these steps](https://github.com/pry0cc/axiom/wiki/0-Installation#using-git-clone) to delete axiom and reinstall. I would also delete any previously saved images with axiom-images and then run axiom-configure, which will make a new image etc.

A better approach is to provision a new cloud hosted ubuntu 20.04 machine from the cloud providers web gui, ssh into the droplet, ru

[2021-11-05 03:13] 0xtavian opened #487 "bug when two instances share the same name"
there is a bug when two cloud instances have the same hostname, axiom generates a malformed ssh config file which prevents using any instance. Logic should be added that regenerates the name if a collision occurs.

tmp workaround:
option 1:
log into cloud provider web dashboard (or via the CLI) and manually delete instances with duplicate hostnames.
option 2:
edit the local ssh config axiom uses (

[2021-11-05 03:14] 0xtavian commented on #482
@Sicks3c gong to close this issue as i am not able to reproduce. feel free to comment if u have an update

[2021-11-05 03:14] #482 closed

[2021-11-07 01:15] #485 closed

[2021-11-07 03:24] 0xtavian commented on #485
@iNoSec2  lmk if this fix works for you. Oh My Zsh should have automatically backed up before installing. You might have the backup in `$HOME/.zshrc.pre-oh-my-zsh`

[2021-11-10 01:56] NitescuLucian opened #491 "Command axiom-fleet testy -i=80 creates 3 instances"
I updated the axiom and build a new image in the past 1h and now I am getting the following:

[code]

What should I do? How can I help?

[2021-11-10 02:05] NitescuLucian commented on #491
I just seen https://github.com/pry0cc/axiom/pull/486 I think the documentation should also be updated. All good :100: !

The new command is: `axiom-fleet testy -i 80`

[2021-11-10 05:46] 0xtavian commented on #491
@NitescuLucian thanks. I updated the Fleets page [here](https://github.com/pry0cc/axiom/wiki/Fleets#usage) and made some edits to the [Filesystem-Utilities](https://github.com/pry0cc/axiom/wiki/Filesystem-Utilities#axiom-fleet) page. The same info can be found running `axiom-fleet -h`,`axiom-fleet --help` or `axiom-fleet help`.

[2021-11-10 05:46] #491 closed

[2021-11-10 09:20] sreenathr10 opened #492 "Some error while trying to deploy it in digital ocean"
Building image default for provider do... This can take up to 25 minutes so please be patient!
Ocassionally this will fail, we  don't know why, but it should auto-restart.
digitalocean: output will be in this color.

==> digitalocean: Creating temporary ssh key for droplet...
==> digitalocean: Creating droplet...
==> digitalocean: Error creating droplet: POST https://api.digitalocean.com/v2/drople

[2021-11-10 19:27] 0xtavian commented on #492
@sreenathr10  as the error indicates, "creating this/these droplet(s) will exceed your droplet limit". If you want to increase your droplet limit you have to open a ticket with DO support.

[2021-11-10 19:27] #492 closed

[2021-11-10 20:39] NitescuLucian commented on #397
I confirm this issue. My workaround is using axiom-exec to check if all commands are done and then scp the local output files from the fleet.

[2021-11-10 23:58] 0xtavian commented on #397
thanks @NitescuLucian. I plan on fixing this sooner or later. Hopefully before the new year. This is the problem code.  https://github.com/pry0cc/axiom/blob/master/interact/axiom-scan#L774-L777 and https://github.com/pry0cc/axiom/blob/master/interact/axiom-scan#L791

[2021-11-11 13:35] iNoSec2 commented on #221
Just add it to the profile you took, nothing more simple than that ;)

[2021-11-11 13:40] iNoSec2 commented on #485
From some issues i saw here, you must put a warning in the readme stating this is an unstable project which can impact the main OS config files... it seems you cant handle all the different options you offer

[2021-11-11 14:53] xaeroborg opened #494 "Axiom Fleet Initialization Failure"
I got this error while creating multiple axiom fleets. I updated and built last week but I didnt use it right away and I ran it today and got this error. Out of 3 fleets just the first one got created.

![image](https://user-images.githubusercontent.com/33274680/141318668-cc565a3e-1b63-4fce-8e44-163e75b6ce6a.png)

[2021-11-11 16:16] 0xtavian commented on #494
@xaeroborg thanks, there were some small syntax changes last week. you can exclude the equal sign. Run `axiom-fleet -h` `axiom-init -h` and `axiom-ssh -h` to see the new help menus and syntax.
https://github.com/pry0cc/axiom/issues/491

[2021-11-12 07:54] xaeroborg commented on #494
@0xtavian The fleet creation worked like a charm. I then ran axiom-select rayaan* and all the three instances got selected. But when I ran axiom-scan against targets with Nuclei module 1) In the first run it couldnt SSH into the fleets created. 2) Only one of the fleet could finish the scan and it looked like it was stuck. I havent seen this behavior until the recent update.
![image](https://user-

[2021-11-12 08:06] 0xtavian commented on #494
@xaeroborg please try to recreate. its possible that one instance had an issue during provisioning and is taking longer than expected.

[2021-11-12 09:45] xaeroborg commented on #494
@0xtavian As requested I have recreated the steps all the way from creating instance and then firing the instances to run a scan and it took 10mins and nothing was scanned.
![image](https://user-images.githubusercontent.com/33274680/141444133-51256cc2-153f-47ce-aa63-85053bb9536d.png)

I then ran the scan but also added axiom-select rayaan* and then ran the same scan and this was the result
![image

[2021-11-12 21:27] 0xtavian commented on #485
@iNoSec2 If you are referring to axiom-configure overwriting the .zshrc file, that only happens when installing Oh My Zsh. If you already have Oh My Zsh installed you can select zsh and it wont overwrite `.zshrc`, also selecting bash wont overwrite`.bashrc`. If selecting Bash or Zsh, we just append to the file and add `~/.axiom/interact` to path. I will update the help menu and docs with a warning

[2021-11-12 21:35] 0xtavian commented on #494
@xaeroborg this issue is very likely fixed by just waiting a few moments a bit longer after initialization before using the instances. Also make sure you dont have two fleets with the [same names](https://github.com/pry0cc/axiom/issues/487). I'll work on it this weekend. I see the issue and its that the instance simply hasnt finished provisioning, yet you are trying to use it. this is why its taki

[2021-11-13 07:03] xaeroborg commented on #494
@0xtavian I completely agree to what you've mentioned above. 1) I have always made sure that I dont end up using redundant/same instance names 2) I also had the suspicion that the VPS service would have been down(eventhough I though it could be unlikely but from time to time these things happen if not always) 3) I will definitely use `axiom-exec id` after initializing the fleets and before deployi

[2021-11-13 07:03] #494 closed

[2021-11-16 23:15] 0xtavian commented on #435
@ResistanceIsUseless This error seems to have come from replacing Azure's resolv.conf with [ours](https://github.com/pry0cc/axiom/blob/master/images/provisioners/default.json#L49). It seems this error, and a possible recent change to azure's ubuntu 20.04 image and cli/api, broke linux controllers using the azure provider. There is a temp patch [here](https://github.com/pry0cc/axiom/tree/azure).

[2021-11-30 19:14] pdelteil commented on #435
So, what you need to do is:
- Remove all instances (`axiom-rm '\*' -f`)
- Switch to azure branch (`git checkout azure`)
- Rebuild axiom (`axiom-build`)
- Start new fleet (`axiom-fleet NAME -i 10`)
- Select instances (`axiom-select *`)

That's all!

[2021-11-30 19:33] 0xtavian commented on #435
Correct. I hope to fix this in master sometime over the weekend. Also you can run `axiom-fleet -i 10` now, axiom will pick a random fleet prefix.

[2021-11-30 19:36] pdelteil commented on #435
Yes, I don't like the fleet prefixes because I re use scripts with the same fleet name. :D

[2021-12-05 19:35] stefan-stojanovic-s commented on #494
Can confirm this issuee still keeps on happening. I am using linode. There is also a problem where instances get created but FAIL to boot power on. Again, I am not sure if this is just linode shenanigans or axiom problem

[2021-12-05 19:49] stefan-stojanovic-s opened #495 "Weird bug when creating a fleet"
Here are the logs, not sure what could be the problem here, given that it happens quite randomly.
I have a script which adds new 5 instances to a fleet with sleep time in-between, up until a certain threshold is reached.
When this error occurs, It gets into infinite recursion since it doesn't fulfil the threshold at all.
If its of any value, I am using linode for this.

[code]

[code]

[2021-12-05 20:01] pdelteil commented on #495
Hi,

Please add the relevant section of your script here to check it out.

On Sun, 5 Dec 2021, 14:49 Stefan Stojanović, ***@***.***>
wrote:

[2021-12-06 18:32] 0xtavian commented on #495
@stefan-stojanovic-s please run `cd ~/axiom/ && git pull` to get the latest code. You might have to delete your changes and then readd them to the newest code. We'll also need whatever code you added so we can troubleshoot, as the issue seems to be in your alternations. Feel free to join us on discord.

[2021-12-09 06:06] 0xtavian commented on #495
closing as non-repeatable. feel free to reopen or comment with more info.

[2021-12-09 06:06] #495 closed

[2021-12-17 21:21] niemand-sec opened #498 "axiom-proxy: docker command not found"
Hi there guys, I have been using axiom quite a while and today decided to try `axiom-proxy`, however, I'm seeing that docker is not installed on the axiom main instance.

Before proceeding and installing it, I wanted to ask you about this to make sure I don't brake anything:

[code]

Any particular version that I should stick with:
[code]

[2021-12-18 02:45] 0xtavian commented on #498
@niemand-sec This is how I typically install Docker. Best to use the latest version. However, axiom-proxy might need some attention. I plan on re-factoring it and making it a wrapper for PD’s Proxify (Their newest version supports multiple alternating proxies). Might not get to it before the end of the year tho.

`curl -fsSL https://get.docker.com -o get-docker.sh && sudo sh get-docker.sh && rm ge

[2021-12-22 10:07] xaeroborg opened #499 "Accidentally deleted my own instance along with axiom fleet"
**Request to add this option**
I spun up 4 instances and I usually delete the instance with this command `axiom-rm "fleet-name*" -f `but for some reason axiom gave  me a msg to use `axiom-rm "\*" -f`  and as much as this command says that this will delete all the instances including the main instance I never thought axiom would do it, I thought there was a fail-safe option where it would not delet

[2021-12-22 17:14] 0xtavian commented on #499
@xaeroborg you have to escape the asterix
`axiom-rm "fleet-name\*” -f`.

[2021-12-22 17:14] #499 closed

[2021-12-22 19:58] niemand-sec commented on #498
Thank you so much @0xtavi for the answer and the recommendation to install docker. Now I'm able to successfully deploy the proxy environment, however, I'm getting the following error when trying to connect to the proxy, any ideas?

[code]

Output of `axiom-proxy`:
[code]

[2021-12-22 22:06] 0xtavian commented on #498
@niemand-sec

I haven’t tried axiom-proxy in a minute but will try tonight.
In the meantime can you try the following and lmk if it works? Please and thank you.

`curl -v -x socks5h://127.0.0.1:1337 https://google.com`

If that doesn’t work, try:

`curl -v —socks5-hostname 127.0.0.1:1337 https://google.com`

[2021-12-22 22:11] 0xtavian commented on #499
@xaeroborg keep in mind the failsafe option is the optional `-f`, excluding this forces the user to confirm each action deletion.

Would a detailed help menu be sufficient?

[2021-12-23 14:43] niemand-sec commented on #498
Thanks again @0xtavi , I tried all the different curl variants as well as other tools, however they all return the same error:

[code]

[2021-12-24 09:09] frost19k opened #500 "Linode: Request failed: 408"
This issue has been discussed previously in #411

Following the advice in that issue, I have confirmed with Linode that my account limit is 20 instances & I still get the error when trying to launch 10 instances - which is less than the max batch limit of 15.

Generally, 2 or 3 will fail to launch but in the worst case **all but one** fail to launch.

[code]

[2021-12-24 13:57] hardcore0071 opened #501 "Tool seems to not work properly with azure cloud"
I have installed and deployed the setup and bind it with my azure cloud but it seems to fail at some stage although it says build success, but as I initiate the axiom it doesn't throw the public IP. If you have proper manual for how to set up the tool in azure do share it with me  cuz I have tried every possible solution. Thanks Peace <3

[2021-12-27 05:23] proabiral opened #502 "cannot send * through axiom-exec"
When I tried to send `*` via axiom-exec to remote machine, the `*` get expanded in local machine rather than remote machine.

For Example :

Running following command :

`axiom-exec "ls /tmp/*"`

send `ls <list of files in /tmp/ on localmachine>` to remove boxes.

I tried running the command with single quote `axiom-exec 'ls /tmp/*'`  and also escaping `*` with `\` `axiom-exec 'ls /tmp/\*'`  `axio

[2021-12-27 07:43] six2dez commented on #500
Same here

[2021-12-27 10:43] frost19k commented on #500
Damn, if that's where the contributors are at then I'm screwed! :-P

I've noticed I can reliably launch 5 at a time. Failures are rare in batches of 5 (maybe one in fifty) - but not absent.

[2021-12-27 17:15] 0xtavian commented on #502
@proabiral hi there. Yea azure is having some issues. Following these steps should work until
I get time to merge to master. Lmk if that helps. https://github.com/pry0cc/axiom/issues/435#issuecomment-982938874

[2021-12-27 17:17] 0xtavian commented on #501
@hardcore0071 sorry for the late response. Yea azure is having some issues. Following these steps should work until
I get time to merge to master. Lmk if that helps. #435

[2021-12-27 17:19] 0xtavian commented on #502
@proabiral i don’t believe asterisk ever worked thru axiom-exec. You should be able to accomplish the same above by running `axiom-exec 'ls /tmp/'`.  Lmk if that helps.

[2021-12-28 03:40] proabiral commented on #502
Hello @0xtavian ,

Thank you for such a quick response. I can not run something like `axiom-exec 'ls /tmp/'` when I need to list files starting with certain names like `axiom-exec 'ls /tmp/dirsearch*'`

I came up with the following temporary fix, (wrapping user supplied command in double quote `"` while passing to ssh):

[code]

`axiom_execx "ls /tmp/dirsearch*"`

Maybe it is possible to implement

[2021-12-28 22:39] six2dez commented on #500
Seems that Linode limit has been decreased to 5, anyway I have opened a ticket asking for this. I will update when I have any answer.

[2021-12-30 10:24] 0xtavian commented on #500
@six2dez @frost19k This is a temp workaround. I’ll be merging something like this to master soonish.
[code]

[2021-12-30 18:03] xaeroborg commented on #499
@0xtavian thanks that would be great. Fortunately Linode has a feature to recover the deleted instance and now I have got back the entire linode as it was.

Glad to know that excluding the -f is the best failsafe option, excellent!

[2021-12-31 03:48] frost19k commented on #500
@0xtavian

So, I'd had a similar idea & I decided to run `axiom-fleet` in a for loop. The first two loops run properly. The third loop throws an error.

This only happens with the `-r` flag. Without it, the loop runs successfully. So this probably won't show in your script.

Note: Sometimes the `error token` is "09" - but I can't reproduce that.

[code]

[2021-12-31 19:05] 0xtavian commented on #500
@frost19k this is perfect. thanks you. I’m pretty sure I know what the issue is. I’ll investigate. Thanks again.

[2022-01-04 04:52] devcoinfet commented on #494
I agree this just started happening to me today and the first term that came up led to you guys.  The thing is I also am having intermittent boot issues via linode instances and i am aware of you guys figuring out it is the 5 machine limit with linode but my concern is I'm experiencing the same issues with boots as well as the strange 408's on a  self coded ssh / paramiko setup via python so this

[2022-01-04 17:51] jcr7301 opened #504 "do token is not being validated correctly"
From a fresh reinstall, I'm getting the following output when introducing do token

[code]

Trying to validate the same token manually does not return any error.
[code]

[2022-01-04 18:17] jcr7301 commented on #504
I fixed the issue manually.
For some reason there's an old token value stored in `~/.config/doctl/config.yaml` at line 123
[code]
doctl command is using this value even if -t <new_token> is provided. Changing this value manually works around it.

[2022-01-04 18:44] 0xtavian commented on #397
this fix has been pushed to master.

[2022-01-04 18:46] 0xtavian commented on #398
closing as this is a repeat of:  https://github.com/pry0cc/axiom/issues/397.

[2022-01-04 18:46] #398 closed

[2022-01-04 18:53] 0xtavian commented on #494
@devcoinfet glad we helped track down your issue as well!

I was thinking about this as well. I'll have to play around with it.

[2022-01-04 22:51] 0xtavian commented on #500
@frost19k do you mind running `axiom-update` ( e.g. `cd ~/.axiom/ && git pull`) and trying again? thanks again for bringing this up

[2022-01-05 03:12] frost19k commented on #500
@0xtavian Ayyy!!! It does seem to be fixed :-D

This is great! Thank you so much.

[code]

[2022-01-05 03:12] #500 closed

[2022-01-05 12:44] rixtrayker opened #506 "Go lang fails to install tools"
Fix provisioners by specifying go-lang version ( 1.16 ) go get works **`golang-1.16-go`**

[2022-01-05 12:54] 0xtavian commented on #506
hi @rixtrayker what cloud provider and pwhich rovisioner are you using? if azure please see https://github.com/pry0cc/axiom/issues/501 for a tmp workaround.

[2022-01-05 13:02] 0xtavian commented on #506
if its not azure, which tools were having issues installing? thanks again. @rixtrayker

[2022-01-05 17:41] rixtrayker commented on #506
It was DigitalOcean, I can't remember the tools but many tools failed due to go install

[2022-01-05 18:47] 0xtavian commented on #506
Please update to the latest version of axiom and run rerun axiom-build. go get is deprecated. Since we install go1.17.1 and build using go install, there should be no reason to downgrade go and use
A deprecated build method. Whatever issues you were having I suspect will be fixed by using the latest code.
If you happen to run into the issue again after using the latest code please note and tool na

[2022-01-05 18:47] #506 closed

[2022-01-05 21:59] rixtrayker commented on #506
https://github.com/pry0cc/axiom/blob/master/images/provisioners/reconftw.json

"/bin/su -l op -c 'go get -u github.com/ffuf/ffuf'",
        "echo 'Installing cf-check'",
        "/bin/su -l op -c 'go get -u github.com/dwisiswant0/cf-check'",
        "echo 'Installing Gxss'",
        "/bin/su -l op -c 'go get -u github.com/KathanP19/Gxss'",
and more ...
you keep using ( go get ) in reconftw last up

[2022-01-05 22:03] rixtrayker commented on #506
Notice go install doesn't work with every go app so you may need to test before using "go install"

[2022-01-06 01:53] 0xtavian commented on #506
Only the reconFTW provisioner still uses `go get`, ( using  go version go1.17.5.) Sometime in the future we'll have to update the reconFTW provisioner  similar to how we updated Default and Barebones https://github.com/pry0cc/axiom/blob/master/images/provisioners/default.json. For now it doesnt seem to be breaking anything, unless i've missed something

Packer ( aka axiom-build) terminal output wi

[2022-01-06 01:59] 0xtavian commented on #506
I was asking talking to @six2dez yesterday about how we should go about refreshing reconFTW provisioner

[2022-01-06 18:49] VinzelOps opened #507 "Problem when showing output with -o"
Hello, is there a solution to return the -o function as output for each module's output? I always try -o for output, but only logs are output +[modules]*

[2022-01-06 18:51] VinzelOps opened #508 "CPU Usage limit"
Is there a solution so that the CPU usage per droplets can be more than 50?

[2022-01-06 19:16] 0xtavian commented on #508
@VinzelOps I think this question is better answered by DO support. can you open a DO support ticket and lmk what they say?

[2022-01-06 19:20] 0xtavian commented on #507
@VinzelOps i believe if you specify only `-o` without an output filename, the filename will be `+1234567890`. However if you don’t provide any output arguments at all ( so just don’t type `-o` in the command line), the default output filename will be $module+$timestamp. If that’s not what you were looking for let me know.

[2022-01-06 21:58] NitescuLucian commented on #507
I confirm the issue, previously `-o` allowed arbitrary file names. Example: `-o nmap.txt` previously created `nmap.txt`. Is intended to be a copy of axiom logs folder?

[2022-01-06 22:41] 0xtavian commented on #507
@NitescuLucian @VinzelOps
I see the issue thanks so much for reporting I’ll have to fix out momentarily. this happened after the recent update.

[2022-01-06 22:49] 0xtavian commented on #507
@NitescuLucian @VinzelOps it’s fixed with the latest push to master.  I forgot to remove a line after testing. Thanks again for bringing this up. If everything works as expected feel free to close the issue.

[2022-01-07 00:56] VinzelOps commented on #507
Thank you very much

[2022-01-07 00:56] #507 closed

[2022-01-07 23:48] six2dez commented on #506
Updated provisioner https://github.com/pry0cc/axiom/pull/509/commits/64d44975cc4fc7ea82439245007f691ac66e8f3e

[2022-01-08 02:36] #508 closed

[2022-01-08 04:24] storenth opened #510 "[ffuf] Can't use multiple matchers"
There are few scenarios I tested before filed this issue.
Let's dive into most expected.
Steps to reproduce:
1. Create custom module called `ffuf-hostpath-lfi`, note `-mr` param
[code]
2. Prepare wordlists (any of your choice to match the body response):
[code]
3. Call the next line:
[code]
**Expected behavior**: `lfi-matched-url.csv` contains matched path and query
**Actual behavior**: `axiom-sca

[2022-01-08 21:34] 0xtavian commented on #501
closing as a repeat of https://github.com/pry0cc/axiom/issues/435

[2022-01-08 21:35] #397 closed

[2022-01-08 22:05] 0xtavian commented on #502
@proabiral this fix is being worked on here. Should be able to push by end of week.

[2022-01-08 22:36] #501 closed

[2022-01-09 07:43] 0xtavian commented on #510
@storenth Thanks for opening this issue. Just to make sure we are on the same page, we confirmed in the axiom channel in 0x00sec discord that removing the pipes `|` from the command resolved the issue right?

If removing the pipes fixed it, than I know exactly what the issue is. This line https://github.com/pry0cc/axiom/blob/5dd1137956d288b951081a448b5a6135daa09b2d/interact/axiom-scan#L195

The wa

[2022-01-10 18:31] 0xtavian commented on #504
It seems this was an issue with doctl using the wrong api endpoint. I bumped the version just in case. Closing this issue, but if you see this error again don’t hesitate to post a comment.

[2022-01-10 18:31] #504 closed

[2022-01-11 06:42] frost19k opened #511 "Provisioner 'reconftw', axiom-build fails with JSON:ParseError"
There's a comma missing at the end of line 119 in `images/provisioners/reconftw.json`

...Don't you just love these kinda bugs :-P

[2022-01-11 07:02] 0xtavian commented on #511
fixed :). thanks

[2022-01-11 07:02] #511 closed

[2022-01-12 13:46] proabiral commented on #502
@0xtavian Thanks.

A similar bug also exists on axiom-scp :

When I run something like :
`axiom-scp 'myfleet*':"/tmp/dir_*" '/tmp/puredns_axiom/'`

I get error like following -  (` *` is getting replaced by instance name in path aswell )

[code]

[2022-01-12 15:27] NitescuLucian opened #512 "naabu [signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x7bb614]"
On:

[code]

Output:

[code]

I tried reinstalling it, but with no effect.

[2022-01-12 18:11] fail-open commented on #512
Working on my version I am running. What do you have in dns.txt? Guessing domain names?

[2022-01-12 20:03] NitescuLucian commented on #512
@fail-open yes, domain names

[2022-01-13 09:26] d3sh1n opened #514 "axiom-build ERROR:unfortunately, can not find builder path"
![image](https://user-images.githubusercontent.com/78736442/149302601-babb9bf8-7ab9-40c7-befb-310ac1ba5fd2.png)
How should I solve this problem?

[2022-01-13 14:25] NitescuLucian commented on #512
I rebuilded today and seems to work just fine ... @fail-open did you find anything?

[2022-01-13 18:26] 0xtavian commented on #514
@d3sh1n
What cloud provider are you using? I believe one way to get this error is by selecting `gcp` which is currently not fully supported ( I'll remove that option soon to avoid confusion). If not selecting gcp, first make sure you are on the latest code by running axiom-update ( aka `cd ~/.axiom/ && git pull`), next you might have to run `axiom-account-setup` or `axiom-configure` again.

[2022-01-14 10:52] greckko commented on #514
Same issue with default digitalocean provider and ubuntu 18.04 image.

[2022-01-14 17:20] 0xtavian commented on #514
@greckko @d3sh1n thanks I’ll investigate later today. In the meantime using Ubuntu 20.04 should work.

[2022-01-14 17:51] 0xtavian commented on #514
@greckko @d3sh1n Thanks again for bringing this to my attention. I just pushed a fix to master. The bug only affected Ubuntu 18.04, Ubuntu 20.04 had no issues. Please run `axiom-update` and `axiom-configure`. If everything works as expected feel free to close this issue.

[2022-01-18 17:36] #514 closed

[2022-01-21 15:16] shihaochen666 opened #516 "如何异步请求的同时更换代理ip?"

[2022-01-21 16:58] 0xtavian commented on #502
This fix for exec has been pushed to master. Scp
will follow in the coming weeks. Thank you!

[2022-01-21 16:58] #502 closed

[2022-01-21 18:49] 0xtavian commented on #516
@shihaochen666

Something like [this](https://0x00sec.org/t/advanced-axiom-usage-axiom-scan/24600)?

[code]

We also have [USING AXIOM TO SEND BURP SUITE REQUESTS TO ALTERNATING PROXIES]( https://jamesonhacking.blogspot.com/2021/04/using-axiom-to-send-burp-suite-requests.html)
Other whiteup and videos [here](https://github.com/pry0cc/axiom/wiki/Videos-and-Write-Ups)

However, there is a problem do

[2022-01-21 18:49] #516 closed

[2022-01-24 12:39] jcr7301 opened #517 "SecretFinder custom module is not finishing correctly"
I did a custom SecretFinder (https://github.com/m4ll0k/SecretFinder) module that was working as expected before, but now, I don't know what changed, but it is not finishing correctly when I launch it. It seems to be doing everything correct until the end, where it gets stuck and doesn't finish execution.

Module:
[code]
When it finishes it gets stuck in:
[code]
And the error given when I kill the

[2022-01-24 17:40] 0xtavian commented on #517
@jcr7301

I’ll look into this later today. In the meantime can you run `axiom-exec id` to make sure everything in `$HOME/.axiom/selected.conf` is up and running? If one machine doesn’t work axiom-scan will hang, but I plan to fix this soon.

[2022-01-25 00:16] 0xtavian commented on #517
@jcr7301 testing this and it worked as expected. Was the issue repeatable? Maybe one was still running? you can check by running `axiom-exec tmux ls`. LMK if you can repeat

[2022-01-25 13:57] jcr7301 commented on #517
@0xtavian I removed the instances/initiated them again, and this problem is still happening.
I have tried with a different set of data, and it's working correctly, it works well even with partial data of the first set but not the whole of it. I can't spot any differences in format or anything else that could be breaking it.
Can I send you this file privately, so you can try it yourself? It's just

[2022-01-25 21:06] 0xtavian commented on #517
@jcr7301 sure. Do you mind uploading it here? If so DM me on twitter/discord.

You might be able to identify the troublesome hosts by letting the scan run until it hangs and then run something like `axiom-exec ps aux | grep  SecretFinder`. You should see the expanded `_target_` in the process lists.

[2022-01-27 09:57] Techbrunch opened #518 "Naabu is missing"
[code]

Unless I'm missing something it appears that naabu was removed from the provisioner.

https://github.com/pry0cc/axiom/search?q=naabu&type=code

[2022-01-27 23:19] 0xtavian commented on #518
Maybe we are installing it wrong. I’ll take a look. Thanks! https://github.com/pry0cc/axiom/blob/94b6db50bd317b3386031648b9f686683add3315/images/provisioners/default.json#L261

[2022-01-27 23:21] 0xtavian commented on #517
@jcr7301 ill look into this. Another user reported the same problem with the secretfinder recently. They have a fork version thats patched to get it working ( along with other additions). https://github.com/storenth/SecretFinder

[2022-02-04 15:23] VinzelOps opened #519 "Another alternative DO"
Is there any guide for axiom installation on GCP or Azure?

[2022-02-04 17:14] 0xtavian commented on #519
@VinzelOps For Azure use this fix for now. https://github.com/pry0cc/axiom/issues/435#issuecomment-982938874.
GCP isn’t fully implemented

[2022-02-04 17:14] #519 closed

[2022-02-05 04:13] VinzelOps commented on #519
Ok, is there a video or my guide for installation with azure? please help

[2022-02-07 00:12] 0xtavian commented on #519
@VinzelOps sorry for the late response, we dont have a video for setup. if you ran into errors during azure setup, please try the latest code in the master repo (pushed a fix for azure) and let me know what errors if any prevent you from completing setup.
I noticed with azure only, axiom-build fails with an error suggesting it was not able to find the image resource axiom (this is some strange azu

[2022-02-07 19:23] 0xtavian commented on #435
@ResistanceIsUseless @pdelteil I pushed the fix to master yesterday. To update run `axiom-update` on the master branch and then run `axiom-build`. Im going to close this issue but lmk if you run into any problems.

[2022-02-07 19:24] #518 closed

[2022-02-07 19:31] 0xtavian commented on #245
This has been implemented with the `axiom-ssh —just-generate lock` or `axiom-ssh —just-generate private`. This feature allows connecting to axiom instances via the droplets backend Ip. The only limitation is with DO: the axiom controller and fleet must be in the same region to communicate via backend Ip. All other cloud providers work as expected. The user would of course have to install the axiom

[2022-02-07 19:31] #245 closed

[2022-02-07 19:33] 0xtavian commented on #236
@4k4xs4pH1r3

We now install axiom directly in our default.json provisioner. https://github.com/pry0cc/axiom/blob/ddf8cd3e32e1723ecd9bd864c1ae2fe9c865e757/images/provisioners/default.json#L118

[2022-02-07 19:33] #236 closed

[2022-02-07 19:36] 0xtavian commented on #410
@RapidEU i think we are going to hold off on generating the ssh config for only those selected. We’ve added communicating via private IPs https://github.com/pry0cc/axiom/issues/245. Please let me know if I missed anything. Maybe there’s another reason to reconsider this.

[2022-02-07 19:36] #410 closed

[2022-02-07 21:07] ResistanceIsUseless commented on #435
I'll test and let you know if I see any issues. Thanks!

[2022-02-07 22:31] 0xtavian commented on #435
My finger slipped, ever so slightly, and I accidentally re-open the issue

[2022-02-07 22:31] #435 closed

[2022-02-08 11:41] iambouali opened #520 "Not receive an email upon the creation of every Droplet [DigitalOcean]"
I think it would be better to turn them off, because in this way our email inbox stays cleaner, because some of us create fleets all the time.

This reference may be helpful: https://www.digitalocean.com/community/questions/can-i-disable-emails-about-droplet-creation

[2022-02-10 16:58] PR3R00T opened #523 "Nuclei Module Hanging"
Hello!

Im finding that on a fleet of 3 using the Axiom-scan -m nuclei module in a bash loop that after a random amount of loops the instance number starts to get buggy and then hangs and doesnt finish.

Module: [ nuclei ] | Extra Args: [  -json -t /home/op/custom/ -stats ] | Input: [ 8 targets ] | Scan uid: [ nuclei+1644510624 ]
Instances: 6 [ flyingdragon01 flyingdragon02 flyingdragon03 flyingdr

[2022-02-11 19:02] notakodr opened #524 "Axiom-Scan w/Assetfinder - Strange Output"
![Screenshot from 2022-02-11 10-57-37](https://user-images.githubusercontent.com/99501690/153653058-b9c94ebf-7655-457b-9368-dd7420b6e48e.png)

Getting some strange Axiom info in the output text file...

Any ideas??

Big thanks to you and the team for creating such an exciting project.

[2022-02-11 20:58] pdelteil commented on #524
It seems you're seeing the colored output in a 'plain text' form.

[2022-02-12 00:07] notakodr commented on #524
Thank you for reaching out. Super appreciated.

I am a total noob trying to setup my first automated scan using Axiom.. Would like to have Axiom-Scan do all the scans

Trying to use assetfinder, subfinder and chaos to enum subs. Then send all the cleaned up data to nuclei etc...
Perhaps I am looking at this from the wrong view.

Below is my first attempt at coding my own auto recon.  Is there a fl

[2022-02-13 23:03] 0xtavian commented on #523
@PR3R00T for nuclei when specifying a path to a template or directory of templates, use `-w` instead of `-t`. If supplying multiple paths to templates, the first path should be specified with `-w` and all subsequent paths should be specified with `-t`. I realize this isn’t native to nuclei’, but it’s required for axiom at the moment. I plan to make this more intuitive in the near
feature. We treat

[2022-02-13 23:23] 0xtavian commented on #524
@notakodr check out the wiki for some videos and write ups. I’d recommend first watching https://www.youtube.com/watch?v=t-FCvQK2Y88  NahamCon 2021 - Introduction to Axiom, then reading about Simple Modules https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules.
Some tips: avoid using `|` unless required and only use it directly in the module. There is no point piping to tee sort -u, axiom-sca

[2022-02-13 23:23] #524 closed

[2022-02-14 01:30] notakodr commented on #524
Awesome, thanks!

On Sun, Feb 13, 2022 at 3:23 PM 0xtavian ***@***.***> wrote:

[2022-02-14 09:10] #523 closed

[2022-02-20 00:33] 0xtavian commented on #155
@michael1026 Just to review this issue, im not sure if merging arbitrary JSON will every be a thing an axiom. there are too many cavorts ( as far as I can tell ). The main issue is how to merge. If merging by common JSON fields that might be problematic and lead to undesirable results. There seem to be too many variation between JSON structures to support merging them.

One solution that I've used

[2022-02-20 12:19] pry0cc commented on #155
I agree. Honestly, the txt option with a directory is the best solution IMO.

That being said, merging JSON is an interesting idea. But true, it hasn't dawned on me that there is an obvious way to merge schema, nor, should it be in scope.

I would be interested to here if Michael has an idea on a specific use case where this is needed or desirable that I'm missing?

Thanks!

[2022-02-22 19:01] gprime31 opened #530 "Transfer axiom to another machine without having to reinstall?"
I want to transfer from my vps to local machine.
Is this possible?

[2022-02-22 21:21] 0xtavian commented on #530
@gprime31 The axiom controller needs to be installed on the machine if you want to run axiom-scan commands ( for example ). If axiom is already installed on both machines simply transfer pub/priv key ( axiom_rsa by default) and the axiom profile ( $HOME/.axiom/accounts/youraccount.json ), then run `axiom-account your-account`.

If you are only looking to transfer scan data from the vps to local, u

[2022-02-22 21:53] gprime31 commented on #530
Ok,
So then is there a way to skip the install and backup part and just use the backup that's already there?
(Like when it creates the tmp droplet and backs it up)

[2022-02-22 22:58] 0xtavian commented on #530
You can’t skip installing the axiom controller if you want to use axiom. You can however skip initiating the first Packer build upon install. You’d have to transfer your ssh key from the vps to local machine if you want to use an image already build.

`axiom-configure --unattended`

 If you want to skip running `axiom-account-setup`
[code]
https://github.com/pry0cc/axiom/wiki/Filesystem-Utilities#

[2022-02-22 23:02] gprime31 commented on #530
Awesome.
Thanks.

[2022-02-22 23:02] #530 closed

[2022-02-24 12:18] iambouali opened #531 "[Feature] Ability to load nuclei templates from a local directory"
Hello,

I think it would be great if axiom allows the ability to load nuclei templates from a local directory on the root machine. This would help speed up some hacker's workflow when they create custom templates and want to launch them against a list of targets.

Best

[2022-02-24 12:27] iambouali commented on #531
Duplicate

[2022-02-24 12:27] #531 closed

[2022-02-24 17:55] 0xtavian commented on #531
So you can upload a single template currently with -wL but not a folder of templates. For now we suggesting just using axiom-scp before the axiom-scan command. There are tentative  plans to support uploading a folder of template, but in the meantime I suggest using axiom-scp.

[2022-02-24 20:17] fishnux opened #533 "Add external instances (VMs) to Axiom"
Hi,

I'm looking for the possibility of adding external instances to Axiom. In my case, I already have pre-created VMs and would like to use them as part of a "Fleet" for consequent use of e.g. axiom-scan. These machines were not created through Axiom nor have a provider module available.

I could add Axiom's pubkey to the machines. It's ok if the SSH username is hardcoded to "op" (if it makes thi

[2022-02-25 00:09] #520 closed

[2022-02-25 18:27] 0xtavian commented on #510
@storenth a fix for your use case has been pushed to master. the patch fails for one edge case, if a module contains more than two `|` pipes AND there are additional command line arguments supplied that need to be added to the module - this will fail.

So you can use as many pipes as you wish, just dont supply extra args via the command line. Any command line args intended for axiom, such has `-wL

[2022-02-25 18:34] ibitebyt3s commented on #221
Not sure if it would be a good idea to add `npm` and `nodejs` to the default axiom builds because they add about 500 MB to the disk and some people might not even use them. It's still not a bad idea, I do installed them afterwards.

[2022-02-25 18:36] 0xtavian commented on #221
@ibitebyt3s thanks for bumping this. Closing because I’ve noticed the same. It will increase size a lot more than I’d like and will rarely of ever be used. Plus it should be easy enough to install post init/fleet. Thanks again.

[2022-02-25 18:36] #221 closed

[2022-02-25 19:17] pdelteil commented on #531
I also think it would be helpful.

[2022-02-26 22:10] 0xtavian commented on #517
Closing. If you still see the issue after updating feel free to post a comment or reopen.

[2022-02-26 22:10] #517 closed

[2022-02-26 22:12] 0xtavian commented on #510
Closing as the main issue has been fixed.

[2022-02-26 22:12] #510 closed

[2022-03-03 00:56] 0xtavian commented on #471
https://github.com/pry0cc/axiom/blob/%23471/interact/axiom-scan - not completed sold on the `-fL` flag.. but its simple enough.

[2022-03-09 07:15] ibitebyt3s opened #537 "Feature request: log uptime and amount of money an instance or cluster spent to print it out at axiom-rm"
I've been having this idea circling my mind since quite a while and since I can't find time to submit a PR I think it's better to at least have it "on the table" than just in my mind...

I think it would be great that every time a user runs `axiom-rm` a message displaying the uptime and money cost would be printed to the stdout. That would be for each individual machine and the total of all the de

[2022-03-09 16:46] 0xtavian commented on #537
@ibitebyt3s I love this idea :). I’ve been thinking about displaying the dollar amount spent for the current billing cycle any time axiom-ls is run.

Have you checked `$HOME/.axiom/stats.log` yet? It currently logs axiom-init/fleet and axiom-scan tasks, I planned on incorporating axiom-rm. Let me know how you like it.

[2022-03-10 18:44] tequreq opened #538 "Integration osmedeus"
i cant build osmedeus @0xtavian you can help me us.

[2022-03-10 19:58] 0xtavian commented on #538
Hey @tequreq,
If you want to build Osmedeus, I’d recommend building the image with osmedeus rather than axiom. Osmedeus also has their own discord server for support.
Both Osmedeus and axiom use Packer so it might be possible with a few tweaks to build osmedeus with axiom.
You could likely run axiom-fleet, axiom-init and axiom-rm but I’m not sure if you’d be able to run axiom-exec, axiom-ssh, axio

[2022-03-10 20:47] tequreq commented on #538
thanks bro!

[2022-03-10 20:47] #538 closed

[2022-03-11 23:16] 0xtavian commented on #220
Closing as stale. We support arch installs natively  and don’t compiling binaries.

[2022-03-11 23:16] #220 closed

[2022-03-11 23:17] #263 closed

[2022-03-12 02:48] #332 closed

[2022-03-12 02:48] #471 closed

[2022-03-12 10:09] 0xtavian commented on #177
Closing. Stale. If needed, we continue conversation as a discussion https://github.com/pry0cc/axiom/discussions

[2022-03-12 10:09] #177 closed

[2022-03-13 19:05] Deku-izuku-dotcom opened #540 "axiom-Fleet 15 Give me Only 2 Instance"
Hello

So after a Launch This Command:
axiom-fleet Baya -i 15

After it Finish , All I get is 2 instances

already did axiom-update

Best Regards

[2022-03-13 22:16] iambouali opened #541 "--nuclei-templates doesn't work properly with global paths"
`--nuclei-templates` does not work properly with global paths. When a global path is added it doesn't detect the path and loads all the templates in nuclei. When the relative path is added it works correctly.

### Proof of concept

I am in the `lab` directory, in the `work` dir (`/home/work/lab`).

1. Not woking properly:

`axiom-scan test.txt -m nuclei --nuclei-templates /home/work/custom-nuclei-

[2022-03-15 17:29] #541 closed

[2022-03-15 18:14] Deku-izuku-dotcom commented on #540
Hello
@pry0cc  @0xtavian  Can you Please Check this Error ?

Best Regars

[2022-03-15 18:16] 0xtavian commented on #540
@Deku-izuku-dotcom have you reached your droplet limit?

[2022-03-17 05:40] pdelteil opened #542 "[issue] axiom-power on incorrect syntax"
While using axiom-power on with Azure, the syntax of the command is incomplete:

az vm start -g RESOURCE_GROUP **-name** INSTANCE_NAME

This gives the following error:

![Screenshot from 2022-03-17 00-09-19](https://user-images.githubusercontent.com/20244863/158744140-01d04f02-69eb-479d-ae8f-3edb0dced05c.png)

I did fix it adding the missing '-' into the _interact/includes/functions.sh_ file. I gu

[2022-03-17 05:57] pdelteil commented on #542
Fixed here https://github.com/pry0cc/axiom/pull/543

[2022-03-17 05:58] #542 closed

[2022-03-28 16:40] 0xtavian commented on #356
@Techbrunch keep in mind you will also get this error when there is no more free space left on the instance.

[2022-03-28 16:43] Techbrunch commented on #356
Good to know, here this was clearly not the case, for some reasons interlace was not in my path.

[2022-03-28 16:47] 0xtavian commented on #356
@Techbrunch also make sure you are on the latest version and there are no git conflicts. `cd $HOME/.axiom` && git status`, make sure to fix any errors then run `axiom-update`. Aside from this, I believe there is a bug in MacOS where interlace isn’t added to path.

[2022-03-28 17:24] Techbrunch commented on #518
So I don't know what is the issue but I confirm that I ran into this issue again (new computer / new install of axiom).

[code]

[code]

[code]

[code]

[2022-03-28 17:33] Techbrunch commented on #518
@0xtavian So I reread the doc and my problem is that I what using the wrong image. I should have been using the default one. I was under the wrong impression that reconFTW add more tools.

[2022-04-13 04:24] Hax0rG1rl opened #544 "Gobuster-dns scan module"
Hi,

I am trying to use the axiom's gobuster-dns module this way,

axiom-scan 3.txt -m gobuster-dns --fleet [my_fleet_name] -wD mylist.txt

[code]

However, I get this error message:
[code]

Any idea what I am doing wrong here?

Thanks!

[2022-04-14 05:47] 0xtavian commented on #544
@Hax0rG1rl the default module can be a little confusing, I believe this is a horizontally scaling module. The way it’s supposed to work is:
`axiom-scan mylocalwordlist.txt -m gobuster-dns yahoo.com`
Where you’ll spilt a local wordlist and use the combined power of the fleet to brute force a signaler target ( specified in the command line or you can hardcore the target directly in the module), in t

[2022-04-16 01:10] michael1026 commented on #155
Hey,

I've been getting around this by outputting JSON into indiviual files, then merging them using `sed`. Here's what I'm currently using...

[code]

This has worked perfectly fine for the tools I have, which outputs like so...

[code]

I completely understand where you're coming from though. In situations where (like most JSON), the keys aren't unique, you would have to merge keys, which become

[2022-04-18 03:15] Hax0rG1rl commented on #544
Apologies for my delayed response.

So:

- the content of 3.txt is root/target domains. 3+
- mulocalwordlist.txt in indeed, a custom list for brute forcing.

I am trying to use axiom's feature and load balance the subdomain brute forcing.

[2022-04-18 18:10] 0xtavian commented on #544
@Hax0rG1rl
Try this
[code]

`axiom-scan 3.txt -m gobuster-new-dns -wD mywordlist.txt`

if you want to upload the entire wordlist (instead of splitting and uploading), try

`axiom-scan 3.txt -m gobuster-new-dns -wL mywordlist.txt`

i haven’t gotten a chance to try it yet but pretty confident it will work, but lmk if it doesn’t (include all terminal output if it doesn’t work, please and thank you).

[2022-04-19 22:47] Hax0rG1rl commented on #544
Hey,

It seems to work so far. Thank you!

[2022-04-19 22:47] #544 closed

[2022-04-25 02:36] daai1 opened #545 "axiom-Fleet 15 Gives me Only 3 Instance even when i have enough droplet limit"
Hi,
My droplet limit is more than 20 and If I give axiom-fleet bounty -i=15  it creates only 3 droplets. So if I want 15 instances I had to run the command 5 times to get 15 instances I don't know why I'm not able to create 15 instances in a single shot even when I have a droplet limit of more than 20.

@pry0cc  @0xtavian Can you Please Check this issue?

axiom-fleet bounty -i=15
Initializing new

[2022-04-25 02:45] pry0cc commented on #545
Drop the =

[2022-04-25 02:55] daai1 commented on #545
Working now. Thank you @pry0cc

[2022-04-25 02:55] #545 closed

[2022-04-25 12:13] daai1 opened #546 "Unable to create new instance"
Hi,

I'm getting this error while creating instance

@pry0cc @0xtavian Can you Please Check this issue?

➜  .axiom git:(master) ✗ axiom-fleet new -i 15
Initializing new fleet 'new' with 15 instances...
INITIALIZING IN 5 SECONDS, CTRL+C to quit...
Instances: [ new16 new17 new18 new19 new20 new21 new22 new23 new24 new25 new26 new27 new28 new29 new30  ]
Initialized instance 'new16' at ''!ization...
I

[2022-04-25 13:09] daai1 commented on #546
Looks like it's already in PATH also created 20 instance in the morning and i not faced this issue. After i destroyed some instances and tried creating some more instances in the evening and i'm getting this error. In between i added some regions in axiom.json file.

➜  ~ pwd
/root
➜  ~ echo $PATH
/root/go/bin:/usr/local/go/bin:/root/go/bin:/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbi

[2022-04-25 13:26] daai1 commented on #546
I tried the same again now it creates only 2 instance. @pry0cc

➜  ~ axiom-fleet bounty -i 15 --regions sfo3,nyc1,nyc2,nyc3,ams2,ams3,sfo1,sfo2,sgp1,lon1,fra1,tor1,blr1
Initializing new fleet 'bounty' with 15 instances...
Cycling through following regions:sfo3,nyc1,nyc2,nyc3,ams2,ams3,sfo1,sfo2,sgp1,lon1,fra1,tor1,blr1...
INITIALIZING IN 5 SECONDS, CTRL+C to quit...
Instances: [ bounty16 bounty17

[2022-04-25 16:15] daai1 commented on #546
@pry0cc @0xtavian I tried again after 3 hours and I'm facing the same issue.

➜  ~ axiom-fleet bounty -i 15 --regions sfo3,nyc1,nyc2,nyc3,ams2,ams3,sfo1,sfo2,sgp1,lon1,fra1,tor1,blr1
Initializing new fleet 'bounty' with 15 instances...
Cycling through following regions:sfo3,nyc1,nyc2,nyc3,ams2,ams3,sfo1,sfo2,sgp1,lon1,fra1,tor1,blr1...
INITIALIZING IN 5 SECONDS, CTRL+C to quit...
Instances: [ boun

[2022-04-26 03:00] 0xtavian commented on #546
@daai1

Did you transfer your image to the new region before trying to provision in that region? With DO you need to transfer the image, some providers auto transfer the image, but DO does not.

First get the imageid from `axiom-images ls` , then run `for i in $(axiom-region ls | grep -v false | grep -v Slug | cut -d ' ' -f 1); do doctl compute image-action transfer [imageid-here] --region $i  --w

[2022-04-26 04:17] daai1 commented on #546
@0xtavian followed the steps and the issue is resolved now. Thanks for the one-liner. Your support is great and awesome @pry0cc @0xtavian Thanks.

[2022-04-26 04:20] #546 closed

[2022-04-26 12:01] pry0cc commented on #546
Thanks 🙏 @0xtavian

[2022-04-27 12:45] daai1 opened #547 "Unable to delete instance"
@pry0cc @0xtavian Can you Please Check this issue?

Also i don't know why it's creating droplets with the same name.

Deleting 'bounty01'...
Error: There are 2 Droplets with the name "bounty01"; please provide a specific Droplet ID. [297276468, 297343033]
Deleting 'bounty02'...
Error: There are 2 Droplets with the name "bounty02"; please provide a specific Droplet ID. [297276471, 297343048]
Deleti

[2022-04-27 19:02] 0xtavian commented on #547
@daai1 unlikely you can recover the deleted machine. I would ask support to be sure.

there is a bug when more than one instance shares the same $gen_name. It’s mentioned here with a workaround.
https://github.com/pry0cc/axiom/issues/487

[2022-04-30 04:44] daai1 opened #548 "Axion-scan commands not working"
@pry0cc @0xtavian Please help i want to run this single template and i'm not able to run.

Also i have my custom templates in this path /root/custom-templates how can i run my custom templates

axiom-scan ~/target/subs_httpx -m nuclei --nuclei-templates /root/nuclei-templates/cves/2020/CVE-2020-0XXX.yaml -o nuclei.txt

axiom-scan ~/target/subs_httpx -m nuclei -wL /root/custom-templates/CVE-2020-0X

[2022-04-30 06:32] #547 closed

[2022-04-30 06:36] 0xtavian commented on #548
To upload a folder of nuclei templates use `—nuclei-templates`. To upload a single template use `-wL`. If you are still having issue post the command and terminal output.

[2022-04-30 06:36] #548 closed

[2022-04-30 07:00] daai1 commented on #548
~ axiom-scan ~/target/target_subs_httpx -m nuclei --nuclei-templates /root/nt -o nuclei_nt
              _
  ____ __  __(_)___  ____ ___        ______________ _____
 / __ `/ |/_/ / __ \/ __ `__ \______/ ___/ ___/ __ `/ __ \
/ /_/ />  </ / /_/ / / / / / /_____(__  ) /__/ /_/ / / / /
\__,_/_/|_/_/\____/_/ /_/ /_/     /____/\___/\__,_/_/ /_/

                                    @pry0cc

[2022-04-30 07:13] 0xtavian commented on #548
You can ssh into an instance, cd into the scan working directory, check if the templates were uploaded and try running the command manually?

[2022-05-03 09:37] easyrider commented on #448
@0xtavian, what do you think about adjusting number of instances to host?
I mean introducing `needed_instances` so the scan still works though not using fleet full capacity - works for me.
I'm using this solution and will create a PR if this is a desired functionality.

[2022-05-04 00:39] 0xtavian commented on #448
Hey @easyrider, yea that’s not a bad idea. The way I originally thought I’d fix this issue is by creating a preflight check, which could be disabled by running `—no-preflight` or something. The idea was to ssh into each instance and use interlace to echo the hostname into a random path on the remote instance and then download the hostname from all instances and use that as selected.conf. This idea

[2022-05-04 00:40] 0xtavian commented on #448
maybe we can name the option `—instances` or `—fleet-size` or something.

[2022-05-04 08:40] easyrider commented on #448
@0xtavian, looks like my fix is much simpler and just fixes error when fleet is bigger than inputs - I hope the code is self explanatory.

Most naïve was to choose instances from the top to run jobs - I though about choosing random instances from the `selected.conf` list but this was it's easier to reason about what's being used at the moment.

My other 2 other biggest concerns about Axiom on Azur

[2022-05-10 17:09] #448 closed

[2022-05-11 02:03] 0xtavian commented on #448
@easyrider just to circle back to this:
1. What are the specs on the vm? Try for at 2 vcpu / 2-4 gb ram for a cloud based controller.
2. selected.conf is updated via `axiom-select`. You should be able to exclude any instance you wish. It doesn’t automatically update when you delete instances.
Ping us on discord to troubleshoot further https://github.com/pry0cc/axiom/wiki

thanks for the PR!

[2022-05-11 11:23] easyrider commented on #448
@0xtavian, no, problem - thanks for the great tool!

1. My spec is pretty poor: 1 vcpu, 1 GiB memory - I was thinking about optimizing it though as it is mostly CLI requests, I suppose `interlace` is the culprit here, have you considered other tools?
2. Yea, that's what I've observed - wouldn't that be helpful it those are removed automatically? I think it's pretty simple to do - not a big problem

[2022-05-21 12:16] osamahamad opened #555 "429 Request Failed."
I ran the following
[code]

This is what I got:

![image](https://user-images.githubusercontent.com/59566963/169651048-0d1425b4-c1a7-4813-9aab-983f2d5180db.png)

I'm using Linode.
I'm using axiom with docker latest version.
Why this is happening, is there any solution for it?

[2022-05-21 12:54] osamahamad commented on #555
- Although the above command resulted in spinning up several instance as I can see in my Linode dashboard

![image](https://user-images.githubusercontent.com/59566963/169652405-b0e43a1e-2fc4-468b-bd83-add9ef1af15a.png)

- When running the following command
[code]

I got the following error:
[code]

[2022-05-21 14:03] osamahamad commented on #555
Note that ```axiom-exec id``` will give similar error :

[code]

[2022-05-21 18:08] osamahamad commented on #555
For the first issue, it seems that you need to create another ticket to linode support to increase the limit of instances/Linodes, it seems that it is limited to 9.

For the second one, this occurs because Interlace has some problem with python 3.10 which is installed in the docker container while trying to follow axiom install steps via docker. So the solution will be either changing python versi

[2022-05-21 20:04] 0xtavian commented on #555
@osamahamad just seeing this. Ty for troubleshooting. I’ll try to look into this sometime today, it seems like it could be related to this issue  https://github.com/codingo/Interlace/issues/163  About the rate limits, aside from making a support request the increase in instances/linodes, you’ll need to spin up in batches of 10 ( to be safe ).

[2022-05-22 00:07] osamahamad commented on #555
@0xtavian Hi @0xtavian , May I ask your advice on which provider I should use that does not require me to wait so much time to be able to spin up 100 instance easily?

The reason because when I contacted Linode about increasing the limit, they replayed the following :

[code]

and 3-months period is so much ...
The account is created using referral.
Any other provider I could easily spin up 100 in

[2022-05-26 22:09] absane commented on #548
Wanted to jump in to say that I am also having issues with axiom-scan. Basically, I can't get it to work for nmap. I've installed Axiom twice now, one within a VM and another with Docker. IN both installs, I had issues with Interlace not working with Python 3.10, which I think I fixed. When I run this command, it seems that everything worked:

`axiom-scan test.txt -m nmap -sT -p- -sV -v --open -oA

[2022-05-26 22:12] 0xtavian commented on #548
@absane can you show me the nmap module?

[2022-05-26 22:16] 0xtavian commented on #548
Are you seeing any errors running `axiom-exec id`? If so you might need to follow this temp workaround if using axiom docker (https://github.com/pry0cc/axiom/issues/555). If you are running Ubuntu 20.04 for your axiom controller, you dont need the temp workaround. What is your base OS?

[2022-05-26 22:48] absane commented on #548
Running commands directly with `axiom-exec id` work just find. So, I can manually kick off nmap that way.

Base OS for the VM I tried was Kali Linux. For the Docker, I am running that in Windows. Both give the same exact problems. Both are also using the Axiom as I did a fresh install a few hours ago.

I found the workaround to the Interlace issue I was initially having at this [issue comment](htt

[2022-05-30 00:59] osamahamad opened #558 "Question: Is it possible to link more than one linode account to avoid instance limitation ?"
Hi,

Linode have a limit for creating instances to be used with axiom unless u have 3 months period. I wonder if axiom user is capable of linking ( more than 1 Linode account using each account API token ) for example, 3 Linode accounts which result in 30 Instances ( In case the limit is 10 ).

If this is can be done, How?

[2022-05-30 21:44] Jesse415 opened #559 "Frozen importlib on AWS (python)"
When trying to run axiom-fleet command (axiom-scan list_ips -m nmapx -p -sV -T4 -v --open -oA nmapx-scan) all 3 instances start up. After Enabling oneshot mode, I get the following error:
`Traceback (most recent call last):
  File "/usr/local/bin/interlace", line 33, in <module>
    sys.exit(load_entry_point('Interlace==1.9.6', 'console_scripts', 'interlace')())
  File "/usr/local/bin/interlace",

[2022-05-31 01:26] #559 closed

[2022-05-31 02:25] Jesse415 commented on #555
How can I add this to AWS AMI so when I lunch axiom-fleet I don't have to ssh in individually can add these?

[2022-05-31 16:49] #558 closed

[2022-05-31 17:02] 0xtavian commented on #555
@Jesse415 i have not gotten the chance to test AWS yet, but I see the issue you are facing. https://github.com/pry0cc/axiom/blob/bef03d0624f22402522f18e0626f24093057e77a/images/builders/aws.json#L20
For all other providers we use Ubuntu 20.04, you can see for AWS we are using `ubuntu-jammy-22.04`, which uses the latest python by default. If you switch this to use Ubuntu 20.04, you shouldn’t have t

[2022-05-31 17:05] pry0cc commented on #555
About interlace, we should probably PR them and fix it for the latest python version. I also have it on my todo to use packer 1.8.0 in axiom-configure. Both of these are upstream issues that we can fix.

For AWS, I'm using 22.04 just because it was readily available. It seemed to build just fine and I don't see any issue with it unless you do?

[2022-05-31 17:32] osamahamad commented on #558
@0xtavian Just to note that It does not look like something you will solve by just saying your reasons as you described. It is not about paying the bill because I already had the first invoice payment completed. In my experience, the best case here, after describing your reasons and describing that 3moths is a long time limit, is increasing the limit to 30 instances instead of 10 unless you wait 9

[2022-05-31 23:36] Jesse415 commented on #555
I can confirm that changing line 20 to `"name": "ubuntu/images/*ubuntu-focal-20.04-amd64-server-*"` in .axiom/images/axiom.json and .axiom/imagines/builders/aws.json fixed the issues that I was having with python

[2022-06-10 20:16] di-org opened #560 "Wireguard VPN deploy attempts to copy wrong filename."
Using the following axiom-init, it installs the Wireguard server and generates the client conf and moves it to /home/op/vpn, but when it attempts to retrieve it, it calls the wrong filename:

$ axiom-init wg-tor1-1 --region tor1 --deploy wireguard
..........
$ axiom-vpn wg-tor1-1
..........
rsync: link_stat "/home/op/vpn/client.ovpn" failed: No such file or directory (2)

However, when running axi

[2022-06-17 13:19] daai1 commented on #546
@pry0cc @0xtavian  Unable to create instance  getting this error, please help me.

initializing new fleet 'bounty' with 25 instances...
Cycling through following regions:sfo3,nyc3,ams3,sgp1,lon1,fra1,tor1,blr1...
INITIALIZING IN 5 SECONDS, CTRL+C to quit...
Instances: [ bounty01 bounty02 bounty03 bounty04 bounty05 bounty06 bounty07 bounty08 bounty09 bounty10 bounty11 bounty12 bounty13 bounty14 bou

[2022-06-20 23:06] stop-a opened #561 "Go get doesn't appear to be a thing anymore"
Running axiom-scan and got an error ```[redacted]/.axiom/interact/axiom-scan: line 1006: anew: command not found```

Looked at the script and anew command is called. Worked backwards and on line 1036 I think I see the issue, ```go get -u github.com/tomnomnom/anew >> /dev/null 2>&1```. The whole block:
[code]

If I run that at the command line, I get an error basically saying "we don't do 'go get'

[2022-07-03 23:46] pdelteil opened #562 "Axiom-scan interlace error"
I was running axiom-scan using the module subfinder in the following way

``axiom-scan verizon_domains.txt -m subfinder -o subfinder_verizon.txt``

And got the following error:

![Screenshot from 2022-07-03 17-52-54](https://user-images.githubusercontent.com/20244863/177061281-63bb1427-b316-44d8-9779-b077b015fca5.png)

I fixed the issue adding ``mkdir -p $/tmp/status``  (I will create a PR)

[2022-07-04 16:33] marcelo321 opened #564 "request failed: 408"
Hi, getting this error in linode:

![image](https://user-images.githubusercontent.com/29487296/177193007-cc8d1950-c8a8-4a1f-a6a6-5345cf8d2054.png)

[2022-07-05 16:42] 0xtavian commented on #564
You might be spinning up too fast or might have exceeded your linode limit @marcelo321?

[2022-07-06 03:43] pdelteil commented on #562
Checking the error, I did notice the folder $home/.axiom/tmp/..../status wasn't created.

Not sure yet about the root cause, but I will keep testing.

[2022-07-06 13:22] ZigzagSecurity opened #565 "Flag -oD doesn't work"
Hi, I noticed that the flag -oD causes some issues with the axiom-scan.

![Screenshot_20220706_151204](https://user-images.githubusercontent.com/40743997/177559999-71634268-c02a-4ccb-8577-3fd3d0c69d53.png)

As you seen in the screenshot, when I use the flag `-oD some-name ` the command is empty when sent to the different instances.
it works fine if I removed this specific flag though. I am doing s

[2022-07-06 15:05] 0xtavian commented on #565
@ZigzagSecurity can you post the json module? You might just need to change the ext mentioned in the module to`"etc":"dir"` or `"etc":""` ( both are ways to specify merging as a folder, look at other modules for an example).

[2022-07-07 03:39] 0xtavian commented on #565
just realized you already posted the json module -_-  ty. I see the issue (I think), change
`-o output` to `-o output/output` and rerun. @ZigzagSecurity

[2022-07-07 08:37] ZigzagSecurity commented on #565
Hi ! Thank you for coming so quickly ! I managed to get it to work following your advice but I also had to change the extension to "dir". I still the issue with the extension left empty.

Thank you and have a good day :)

[2022-07-07 12:41] YouGina opened #566 "Starting a fleet with 30+ instances does not go well"
Online there are people using many instances at once. When I try to start 30+ instances of a fleet at the same time I quickly run into issues with digital ocean's API. Is there something I can do about it? Maybe throttle the requests or some thing?

To solve this problem I now start my full fleet by using axiom-fleet three times, which is not so user-friendly. Since there are people running hundre

[2022-07-07 15:12] 0xtavian commented on #566
Spin up in batches of 10-15 to avoid api rate limits wrt droplet creation :)

[2022-07-07 15:13] 0xtavian commented on #565
Noted, thanks!

[2022-07-07 15:13] #565 closed

[2022-07-07 15:43] cswiers commented on #566
That's what I'm doing now. Is that how people who have 1000 instances spin up do it too? Can't imagine what a pain that must be

[2022-07-07 15:47] YouGina commented on #566
That's what I'm doing now. Is that how people who have 1000 instances spin up do it too? Can't imagine what a pain that must be

[2022-07-07 16:54] 0xtavian commented on #566
The issue is, every cloud provider has their own rate limits. So it’s not really a one size fits all for spinning up in batches. we could add logic to spin up X instances at a time for Y provider, just haven’t gotten around to doing that yet. What I do is `for i in $(seq 1 55); do axiom-fleet myfleet -i 9 -r [comma separated list of regions; done`. I know others have made small spinup scripts to a

[2022-07-07 17:26] marcelo321 opened #567 "add more timeouts when creating fleets"
When creating fleets in linode with a number above 10 I tend to get code 429 "too many requests" and I have to run the command again with the amount of linodes I actually want.

Would it be possible to add some extra timeouts in the creation of fleets?

[code]

[2022-07-09 02:52] lonelyman666 opened #568 "AWS build error"
im getting this error

![Screenshot from 2022-07-09 09-51-19](https://user-images.githubusercontent.com/96546053/178088910-43aeb2cd-69c3-4d13-a200-151938ca74d1.png)

how can i fix this

[2022-07-13 09:33] 0x4148 opened #569 "Digitalocean build failed"
Terminal output

[code]

[2022-07-13 16:50] 0xtavian commented on #569
What’s os and python version are you using? Also you might want to try a new region. @0x4148

[2022-07-14 08:20] 0x4148 commented on #569
@0xtavian
Changing the default region worked just fine! Can't believe I didn't try this.

[2022-07-14 08:20] #569 closed

[2022-07-15 01:17] 0xtavian commented on #568
@lonelyman666 You posted creds, you should invalidate. You can get past this error by bumping the version of packer. But I fear there is another error after. Might need to manually authenticate to the cli. Not sure. I apologize I haven’t really had the time to look at.

[2022-07-16 22:26] lonelyman666 commented on #568
hi @samet-g I have followed what you said but i got the same error. Is this from IAM that is not set properly?

@b1bek how can you install axiom for aws. did you get an error like me. after running the first time? I've tried with DO it works smoothly. but not with this aws

[2022-07-17 02:51] b1bek commented on #568
@lonelyman666 After upgrading packer and creating axiom keypair i was able to use axiom in AWS. Try changing shell to zsh or oh-my-zsh once

[2022-07-19 17:50] fail-open commented on #564
Linode has a 10 requests per 30 seconds limit on creation calls from what I am reading. I am playing around with modifying the sleep time in the fleet file to find a consistently working number on there. I may try to add the rate limits to the provider files with each limit and modify the fleet script to pull from there and toss it in as a PR to see if it can help with this.

[2022-07-19 18:13] 0xtavian commented on #564
There might be more issues in axiom-init, https://github.com/pry0cc/axiom/blob/2a808087ae4232748b917c628c6180a0a7a3fd9f/interact/axiom-init#L267
https://github.com/pry0cc/axiom/blob/2a808087ae4232748b917c628c6180a0a7a3fd9f/interact/axiom-init#L246
We might not want to background these processes. Ty for looking into it @fail-open. Lmk what you come up with.

[2022-07-19 19:46] fail-open commented on #564
I think I might be answering the wrong thing. Initializing too many calls in one go I believe throws a 429 vs a 408. I was answering for 429 so I am not helpful here.

This is what I had found regarding 429s at least that I was typing up before I realized this was a different code

--------------
On linode 3 second (for 10 in 30 seconds) still threw an error, likely right on the thresh hold. 4 sec

[2022-07-19 19:52] fail-open commented on #566
I adjusted the sleep per init call in axiom-fleet to 4 seconds (~3 seems to be the rate limit) and it let me spin up 50 without flagging. DO appears to have 1 hour rolling quotas of 5k requests which would make it inconsistent to try to spot an issue if you are going in and out of that quota.

You can see the limit/remaining requests in the response headers if you do a direct call to to the DO api

[2022-07-20 02:02] 0xtavian commented on #566
@fail-open That sounds like it should work! We could simply set the sleep time based on the provider.
https://github.com/pry0cc/axiom/blob/2a808087ae4232748b917c628c6180a0a7a3fd9f/interact/axiom-fleet#L43

[2022-07-20 13:42] sp00kx opened #573 "Command not found"
I have updated to latest build as of 20th July 2022. With a fleet of 15 instances on DigitalOcean after any axiom-scan module appears to complete, i am seeing this message pop up: /root/.axiom/interact/axiom-scan: line 1026: anew: command not found

Looking at that line of code in axiom-scan it appears to be associated with shutdown checking procedure, i am assuming when it is trying to poll the i

[2022-07-20 16:34] fail-open commented on #564
With the changes in axiom-fleet to increase the sleep time between calls, I dont get 429 anymore, but now I do see 408s on linode. Trying to look into it more

[2022-07-20 17:00] fail-open commented on #564
I asked linode and they said 408 is still a rate limit but did not give much extra guidance other than slow down a little more. I am still learning axioms code and assumed that it was doing one call per spin up so figured 4 seconds would be good, and seemed to be so when I tested yesterday, but maybe there are other calls happening to facilitate?

[2022-07-20 17:29] 0xtavian commented on #573
@sp00kx
Make sure anew is in your path. You might need to restart your shell.

[2022-07-20 17:29] #573 closed

[2022-07-21 18:38] 0xtavian commented on #567
@marcelo321 can you update to the latest code and try again?

[2022-07-25 00:26] marcelo321 commented on #567
Hi @0xtavian, if I want to update it to the last version without building again, how do I do it? so I can try it

[2022-07-25 13:21] 0xlittleboy opened #574 "Error"
Hey, This error occured while subfinder
``axiom-scan target.txt -m subfinder -pc ~/.config/subfinder/provider-config.yaml``
[code]

[2022-07-25 21:18] 0xtavian commented on #567
Hey @marcelo321 thanks for testing. did all the instance spin up regardless of errors?

[2022-07-25 21:21] 0xtavian commented on #574
@0xlittleboy can you show me the entire output of the command including the banner etc?

[2022-07-26 00:19] marcelo321 commented on #567
@0xtavian,

definitely improved but I think 2-3 instances didn't set up, so out of 12 I think 9 were up correctly.

edit: just run it again creating 12 instances and got 0 errors, all instances were ok <3

[2022-07-27 17:38] big-ppp opened #575 "Mac OSX - expr: division by zero"
Running Mac OSX - Monterey 12.4

Trying to run naabu seems it cant split the file it runs in a endless loop with the below error message

"expr: division by zero"

![image](https://user-images.githubusercontent.com/17185724/181312923-ec046026-2f3f-47d0-b862-5c9bba5a4c47.png)

[2022-07-27 20:11] 0xtavian commented on #575
@big-ppp you don’t have any instances selected ( `instances: 0`). You should have gotten an error saying “error with number of instances” (lmk if that didn’t happen). To list instances run `axiom-ls` to select them run `axiom-select instance-prefix*`, you might need to escape the asterix.

[2022-07-27 21:51] 0xtavian commented on #574
@0xlittleboy I fixed this issue. thanks. it shouldnt have caused any fatal error, its safe to ignore. thanks again for bringing it up. can you test again after running axiom-update and lmk if you still see that error?

[2022-07-29 00:05] sanjay493 commented on #555
<img width="407" alt="interlace modification" src="https://user-images.githubusercontent.com/41715249/181656686-5781f31f-00bf-441c-9d27-352fd3bf981b.png">

and issue with interlace resolved. Thanks

[2022-07-29 00:08] sanjay493 commented on #555
┌──(kali㉿DESKTOP-6K4VUA2)-[/usr/lib/python3.10/collections]
└─$ sudo nano __init__.py
[sudo] password for kali:

add the code written below in __init__.py file which is /usr/lib/python3.10/collections folder.
from collections.abc import Mapping

[2022-08-01 17:37] #574 closed

[2022-08-01 17:37] #575 closed

[2022-08-01 17:38] #567 closed

[2022-08-01 17:39] #566 closed

[2022-08-03 14:29] mirhatx commented on #573
I'm still getting this error, I couldn't find a workaround for this problem.
Do you mind sharing how did you fix the problem? @sp00kx @0xtavian

[2022-08-03 15:50] 0xtavian commented on #573
@mirhatx install anew (should be already installed) https://github.com/tomnomnom/anew and make sure it’s added to your path. If you run anew and get command not found, and it’s installed, it means it’s not in your path. What OS are you using? I think there is a bug with Mac installs atm that’s not correctly setting gopath or path.

[2022-08-08 07:26] Huntinex opened #577 "AWS build error"
Hi,
I ran `axiom-build` and it succeeded, but when I run `axiom-exec ls` it gives me an error :
![image](https://user-images.githubusercontent.com/83470008/183361147-18d03e1c-4d69-4515-8e9c-28d7bd4bd24f.png)

[2022-08-08 19:19] pdelteil commented on #577
Hi there,

That indicates that the file selected.conf is not yet created. The command `axiom-select` should fix it.

Also, is not recommended to run commands logged in as root, the use of sudo command is the way to go.

[2022-08-09 12:56] random-robbie opened #578 "Additional Tool"
Hey Dude,

Is it possible to add cero `go get -u github.com/glebarez/cero` to the tools list.

it just grabs the SSL cert my idea is to fire up a fleet and scan AWS range with this and put it all in one big text file.

[2022-08-09 16:17] fail-open opened #579 "Axiom-Build errors on Linode"
This is happening in an account that has been working previously with Axiom. It definitely has 18GB for the build. It is happening both with the standard build and the reconftw image. Another user is reporting the same. As far as I can tell, I have not changed anything other than updating Axiom and trying to rebuild as I do every few weeks. Last image I made was 7-20. This my first time doing sinc

[2022-08-09 17:22] 0xtavian commented on #578
Hey bud,

we already include [cero](https://github.com/pry0cc/axiom/blob/master/modules/cero.json) as a [docker based module](https://github.com/0xtavian/minimal-pentesting-dockerfiles/blob/master/cero/Dockerfile). All you have to do is build with the default provisioner and you should be all set. To see a list of modules you can run `axiom-scan —list`. Lmk if it doesn’t work for whatever reason a

[2022-08-09 17:41] fail-open commented on #579
This was user error on my part. I let my images stack up and I am likely hitting an account limit. Deleted some and was able to build successfully.

Closing this out.

[2022-08-09 17:41] #579 closed

[2022-08-09 17:59] random-robbie commented on #578
sorry mate just seen it on the build now nice one! closing ticket.

[2022-08-09 17:59] #578 closed

[2022-08-09 18:59] random-robbie opened #580 "DO not creating fleet"
Hey,

Weird one my token works but when i go to build a fleet i can not see them in my account.

is there a log i can review to work out whats going wrong? i'm seeing no errors on the cli so far.

[2022-08-09 19:12] 0xtavian commented on #580
@random-robbie Try running axiom-fleet with the `--debug` flag. Also what OS did you install the axiom controller on? Try to use an Ubuntu 20.04 droplet or any OS in our [supported OS](https://github.com/pry0cc/axiom#operating-systems-supported). There are a few issues with [Interlace] (https://github.com/codingo/Interlace/issues/163 ) using the latest version of python ( python 10 and 9 might hav

[2022-08-09 19:16] 0xtavian commented on #580
Also, make sure you are spinning up the fleet in the same region you built the image in. DO doesnt automatically transfer images to new regions just because its requested in that region. you'll need to transfer it via the doctl cli if you want to spinup in multiple regions. It should show an error but I just tested and there is no error when you spin up in a different region ( i'll look in it ). Y

[2022-08-09 19:18] random-robbie commented on #580
ah that might be why as i've tried to build in am3 with the image living in lon1.

`Welcome to Ubuntu 20.04.4 LTS (GNU/Linux 5.4.0-121-generic x86_64)` OS
`Python 3.8.10` Python Version.

i'll rebuild and try again :)

[2022-08-09 19:25] 0xtavian commented on #580
After you verify thats the issue, if u r using DO and want to check out round robin region distribution, this is only specific to DO, all other cloud providers auto transfer the image.

First get the imageid from `axiom-images ls`, then run
`for i in $(axiom-region ls | grep -v false | grep -v Slug | cut -d ' ' -f 1); do doctl compute image-action transfer [imageid-here] --region $i  --wait  ; don

[2022-08-09 19:26] random-robbie commented on #580
Cheers dude,re testing now.

[2022-08-09 19:36] fail-open commented on #580
Sorry if it was mentioned and i missed it skimming. the  ` at ''!ization...` you are seeing is an error message that the box is failing from the provider which would be why you dont see it in the cloud dashboard. Obviously that doesnt help in figuring out why the errors (I assume the debug command will help there), but if it wasnt clear why they werent showing up, thats why, or what you can look f

[2022-08-09 20:34] random-robbie opened #581 "Idea: PTR records"
Just an idea to add a script where you can have a domain on DO and when the fleet is made it adds the dns records to the PTR so it's easy for SOC's to see who is scanning them.

so it would be like jarvis01.xxxx.com for a PTR.

the same for cloudflare would be cool as well.

[2022-08-10 19:40] random-robbie opened #584 "Ibm cloud - provisioner issue."
[code]

[2022-08-10 20:16] random-robbie opened #585 "Idea: Alpine Image"
Just an idea to shrink storage size how about seeing if it's possible to use alpine to create the image the fleet uses this would allow the super cheap fleets.

[2022-08-12 00:56] 0xtavian commented on #584
Yea for IBM you have to downgrade packer to 1.5.6 for now
`wget -q -O /tmp/packer.zip https://releases.hashicorp.com/packer/1.5.6/packer_1.5.6_linux_amd64.zip && cd /tmp/ && unzip packer.zip && sudo mv packer /usr/bin/ && rm /tmp/packer.zip`.
This issue, at least from my understanding, is a small piece of a broader issue with Packer deprecating json builders in favor of yaml. We might have to end

[2022-08-14 23:48] cycoslave opened #587 "./axiom-exec not sending command file to fleet"
when I try to execute a command, I always get this.

bash: /tmp/exec/axiom-exec+1660520679/command: No such file or directory
bash: /tmp/exec/axiom-exec+1660520679/command: No such file or directory
bash: /tmp/exec/axiom-exec+1660520679/command: No such file or directory

After inspection, I found that the /tmp/exec/axiom-exec+1660520679/command did not get exported to the fleet
The file does exis

[2022-08-18 21:39] bart3nder opened #590 "Axiom doesn't work on cron"
Hello folks.
Amazing project, thanks for your efforts,
When i'm trying to use axiom with its modules and utilities in my script which i set in cron for every e.g 1 hour, i face many error that indicates axiom could not run under cronjobs:
[code]
I've tested many solutions as setting PATH in script and providing full path a and ... but it doesn't work. is there any solutions to use it under cron? a

[2022-08-19 23:33] pdelteil commented on #567
I also had this issue, can confirm it works great now.

[2022-08-22 18:37] 0xtavian commented on #587
@cycoslave can you show me the command you are running? I'm not able to reproduce this.

[code]

[2022-08-25 19:57] 1ultimat3 opened #595 "AWS: Add fleet option to use EC2 spot instances"
## Motivation
EC2 spot instances fit perfectly for most scanning activities. According to [AWS](https://aws.amazon.com/ec2/spot/?nc1=h_ls) up to 90% can be saved in costs.

## Approach
The AWS CLI run-instance command in [aws-function.sh L321](https://github.com/pry0cc/axiom/blob/master/providers/aws-functions.sh#L321 ) needs to be adapted according to the official documentation [run-instances](ht

[2022-08-26 04:20] pdelteil commented on #595
It looks interesting. But, what happens if you have 30 instances, running for a couple of days, how are you going to manage the possibility of some instances being dropped? I know it's around 5% of the time, are you willing to test this new feature?

[2022-08-26 05:54] 1ultimat3 commented on #595
Spot instance interruptions occur and are non-negligible as you mention. I'd follow the "keep it simple stupid" principle here and just provide a warning in case a spot instance has been interrupted - the user should know what he is doing and should implement the interruption handling on his own.

[2022-08-26 05:54] 1ultimat3 commented on #595
Disclaimer: I'd be happy to test the feature once implemented

[2022-08-26 05:58] pdelteil commented on #595
@1ultimat3 You didn't answer my question though.

[2022-08-26 06:08] 1ultimat3 commented on #595
Sorry, if my answer was not clear.

Question: How are you going to manage the possibility of some instances being dropped?
Axiom should do absolutely nothing. The user should manage the fleet status and react on changes.

I know it's around 5% of the time, are you willing to test this new feature?
Yes, I use spot instances for engagements on a regular basis.

[2022-08-26 18:45] unnimona opened #598 "aws error"
getting error
axiom-scan domains.txt -m subfinder -o subf.txt --threads 1

Traceback (most recent call last):
  File "/usr/local/bin/interlace", line 33, in <module>
    sys.exit(load_entry_point('Interlace==1.9.6', 'console_scripts', 'interlace')())
  File "/usr/local/bin/interlace", line 25, in importlib_load_entry_point
    return next(matches).load()
  File "/usr/lib/python3.10/importlib/metad

[2022-08-27 21:57] 0xtavian commented on #598
@unnimona
This is an issue with Interlace. It doesn’t play nicely with python3.10. There are lots of issues here https://github.com/codingo/Interlace/issues describing the problem. There are workaround in the issues you can use. Just to confirm what OS are you using? Ubuntu 20.04 installs python3.8 and is recommended to use. Ubuntu 22.04/10 installs python 3.10, which hits this bug.

[2022-08-28 00:55] 0xtavian commented on #587
not able to reproduce, closing. lmk if the issue continues to happen and we'll troubleshoot in the 0x00sec discord

[2022-08-28 00:55] #587 closed

[2022-08-28 00:57] 0xtavian commented on #562
the file does get created. it might be a race conduction during axiom-scan that shows that error, but u can safely ignore.

[2022-08-28 00:57] #562 closed

[2022-08-28 06:20] unnimona commented on #598
fixes are here
https://github.com/codingo/Interlace/issues/167
please apply it

[2022-08-29 12:52] mr0xE opened #601 "Gowitness doesnt work with Golang 1.17.1."
Great tool,

Can you update golang to version 1.18 or 1.19 to handle installing gowitness and future tools.

[2022-08-29 18:45] marcelo321 opened #602 "Randoms 'connection timed out'"
Sometimes when running scans I get the below message and I need to delete instances and run evertyhing again. But I am not sure why this happens, it doesn't happen to often tho.

[code]

[2022-08-29 18:52] 0xtavian commented on #602
@marcelo321 can you show me the command you are running? If you are using `—rm-when-done`, this error is expected and can be ignored. Also is it happening at the beginning, middle or end of the scan?

[2022-08-29 18:58] marcelo321 commented on #602
it just happened again @0xtavian:

![image](https://user-images.githubusercontent.com/29487296/187277061-8a8bc505-e4a9-4d35-ab4d-b910911747da.png)

[2022-08-29 19:01] marcelo321 commented on #602
the weird thing is, it says `instances:  0  [  ] |` but seems like the scan keeps going but not sure what it is doing with no instances to scan with.

[2022-08-29 19:03] 0xtavian commented on #602
@marcelo321 can you update to the latest code and try again? If it still doesn’t work, can you add `—preflight-timeout 30` to the axiom-scan command. It seems like you aren’t using the `axiom-scan —spinup 30` and instead you are running axiom-fleet before axiom-scan? If that’s the case, you can try to add a 60 second sleep after axiom-fleet (before axiom-scan).

[2022-08-29 19:06] marcelo321 commented on #602
I am doing `axiom-fleet` and right after that I was doing axiom-scan, I will update it and try with a 60s timeout too, thanks! I will update later

[2022-08-29 19:10] 0xtavian commented on #602
It might be better to increase the preflight timeout option too. I have a feeling that might be causing the issue.

[2022-08-29 19:15] marcelo321 commented on #602
so with the `axiom-scan` command, I add `—preflight-timeout 30` flag too?

[2022-08-29 19:18] marcelo321 commented on #602
so just a 60s timeout, helped a lot. now adding the `—preflight-timeout 30` too.

Still some which fail, but not many and it is working.

[code]

[2022-08-29 21:39] 0xtavian commented on #602
@marcelo321

Yes as long as you haven’t made any local changes, axiom-update should work. You can check for any local changes by running `cd $HOME/.axiom ; git status`

Yep

If you are on the latest code and this is still happening lmk. It might be because of a [change I made over the weekend](https://github.com/pry0cc/axiom/commit/92f82cfda5779f6fe97f2fefdc2fa3274a4c23f8), or it might be a tempor

[2022-08-31 18:19] marcelo321 commented on #602
@0xtavian,

Would it be possible for me to send you a priv message so I don't create issue to ask dumb questions? One thing I would love to see differently, is e.g when you use findomain to enumerate issues, that it doesn't print all the subdomains it finds, but if you > /dev/null, then you don't see the output of axiom running. a flag like `-silent` or getting the axiom output as stderr would fix

[2022-08-31 19:33] 0xtavian commented on #602
@marcelo321 sure. HMU on twitter or join
the 0x00sec discord (link is in the wiki). Probably best to join the 0x00sec discord, since we have a channel dedicated to axiom support etc.

A few points and questions
1. I just noticed that the findomain install one-liner we use stopped working, Ty for bringing attention to this. I’ll try to push a fix later today.

2. Findomain doesn’t have a comparable

[2022-08-31 20:16] chevonmdphillip opened #603 "axiom-exec not working"
Instances have been selected.

[code]

[2022-08-31 20:21] 0xtavian commented on #603
@chevonmdphillip can you run with `—debug` and post the output?

[2022-08-31 20:40] chevonmdphillip commented on #603
Sure!

[code]

[2022-08-31 21:10] 0xtavian commented on #603
Thanks! Do you have [Interlace](https://github.com/codingo/Interlace) installed and is it in your path? It should have automatically installed during `axiom-configure`. What OS are you using as a controller and how did you install axiom? @chevonmdphillip

[2022-08-31 23:16] chevonmdphillip commented on #603
@0xtavian awesome! Thank you that worked. I needed [Interlace](https://github.com/codingo/Interlace) and [anew](https://github.com/tomnomnom/anew) installed. Thanks!

[2022-08-31 23:16] #603 closed

[2022-09-01 19:55] RodricBr opened #605 "Axiom freezes at "Provisioner" option."
#### Image:
![image](https://user-images.githubusercontent.com/72948934/187995835-75fc237c-59df-4186-afc2-b39864a43e51.png)

I can't press enter, or type anything, it just freezes and all I could do was cancel the process (CTRL+C). Tested on a Debian 11 x64 and on a Ubuntu 22.04 x64 machine.

[2022-09-01 20:08] 0xtavian commented on #605
@RodricBr that’s odd. Question if you press control+c, then reload your shell ( via running `bash` or running `zsh` if you installed omz or zsh), and finally try running axiom-build again, does it work? You could also select the provisioner via the command line by running `axiom-build default` for example. What’s your shell? bash, zsh or oh-my-zsh?

[2022-09-01 20:14] 0xtavian commented on #605
Also, Ubuntu 22.04 unfortunately isn’t supported atm. If you can use Ubuntu 20.04 that would be preferable. The only issue with Ubuntu 22.04 is that by default the version of python is 3.10, which doesn’t play nicely with Interlace. There are plenty of workarounds to the interlace issue mentioned in their repo. Just keep in mind you’ll have to that extra step once to get exec/scan etc working if y

[2022-09-01 21:41] RodricBr commented on #605
My current shell is bash.

<br>

Yeah... thanks, that seems to resolve the problem, I used Ubuntu 20.04 and it worked as expected!

---

Also, this is what the program prints out after one hour of waiting, if this can be useful to you. (On Ubuntu 22.04)
![image](https://user-images.githubusercontent.com/72948934/188017233-65e3ea83-7e97-4741-8a3c-0ecb79539b40.png)

[2022-09-02 23:22] 0xtavian commented on #605
@RodricBr Thanks, yeah there is definitely some bug here. I am able to reproduce. The workaround is unfortunately when axiom-configure calls axiom-build, you'll have to control+c and then run axiom-build again. I'll look into it over the weekend. Thanks for bringing this up!

[2022-09-03 01:13] jackson-jackson commented on #605
I've got the same issue.

[2022-09-03 02:02] 0xtavian commented on #605
@jackson-jackson @RodricBr can you please update to the latest code and try again? It seems I was able to identify the issue. Run `axiom-update` to update to the latest code. If you've made any local changes you might have run `cd $HOME/.axiom ; git status` and restore any files it complains about, then run `axiom-update` again. Thank you both!

[2022-09-03 10:11] jackson-jackson commented on #605
@oxtavian, that worked. Thanks for the insanely fast fix :)

[2022-09-03 14:37] RodricBr commented on #605
@0xtavian
Yeah, it seems like the bug was fixed, thanks for the help, and keep up the good work!

[2022-09-04 11:12] Sarfu47 opened #607 "/home/op/.axiom/interact/axiom-scan: line 693: generate_sshconfig: command not found cat: /home/op/.axiom/selected.conf: No such file or directory cp: cannot stat '/home/op/.axiom/.sshconfig': No such file or directory error with number of instances, exiting"
After create axiom instance and then now run axiom tool like now I run axiom-scan and this showing

/home/op/.axiom/interact/axiom-scan: line 8: /home/op/.axiom/interact/includes/functions.sh: No such file or directory
              _
  ____ __  __(_)___  ____ ___        ______________ _____
 / __ `/ |/_/ / __ \/ __ `__ \______/ ___/ ___/ __ `/ __ \
/ /_/ />  </ / /_/ / / / / / /_____(__  ) /__/ /

[2022-09-05 10:21] Techbrunch opened #608 "Python 3.10 Interlace"
Interlace doesn't work with python 3.10 cf https://github.com/codingo/Interlace/issues/167

@0xtavian you might want to consider using something other than interlace in the future, @six2dez mentionned rush in https://github.com/six2dez/reconftw/issues/561

On osx you probably want to edit the following files:

[code]

[2022-09-06 20:52] #605 closed

[2022-09-07 15:53] 0xtavian commented on #608
This should be fixed with the latest Interlace @Techbrunch ty for reporting!

[2022-09-07 15:53] #608 closed

[2022-09-07 15:54] 0xtavian commented on #598
This fix has been merged to master for Interlace. Please let me know if you continue to see the issue @unnimona

[2022-09-07 15:54] #598 closed

[2022-09-07 15:57] 0xtavian commented on #607
@Sarfu47 can you try again with the latest code? Run axiom-update prior. Also make sure the instances are selected with axiom-select

[2022-09-08 18:52] 0xtavian commented on #601
@mr0xE @random-robbie

So there are two issues here. One, the version of go we install on the [instances](https://github.com/pry0cc/axiom/blob/master/images/provisioners/default.json#L57) needs to be upgraded; two, so does the Golang version we install on the [controllers](https://github.com/pry0cc/axiom/blob/master/interact/axiom-configure#L33). Without upgrading the version on the controllers we

[2022-09-09 22:00] #607 closed

[2022-09-10 03:35] 0xtavian commented on #601
@mr0xE @random-robbie @p0mbe
Ok so there was a third issue, which is almost definitely why all the PRs you submitted weren’t working as expected for me. In the default provisioner for the PRs we installed golang 1.19.1, but then we install axiom ( in the default provisioner) which installs 1.17.1. The errors were due to changing the version installed without first running `sudo rm -rf /usr/local/g

[2022-09-10 03:35] #601 closed

[2022-09-11 03:32] 0xtavian commented on #564
@marcelo321 @fail-open @osamahamad  thanks for the input! With the latest change to init_sleep for [Linode](https://github.com/pry0cc/axiom/commit/efbb961a7dea41883ea56f41a2bb156405035572), I've been consistently able to spin up fleets of 100+. Going to close this issue and https://github.com/pry0cc/axiom/issues/555. Please let me know if you disagree. Thanks again!

[code]

[2022-09-11 03:32] #564 closed

[2022-09-11 03:35] 0xtavian commented on #555
@sanjay493 @Jesse415 @osamahamad
Thanks everyone. Interlace [merged a PR fixing this issue](https://github.com/codingo/Interlace/pull/168) a few days ago. Also, with the latest changes, Linode can spin up fleets of 100+ without timeouts https://github.com/pry0cc/axiom/issues/564#issuecomment-1242877719. Closing this issue. Please let me know if you disagree.

[2022-09-11 03:35] #555 closed

[2022-09-11 03:36] #577 closed

[2022-09-11 03:37] 0xtavian commented on #568
This has been since fixed. Thanks all. Closing but lmk if you still see this issue @b1bek @lonelyman666 @samet-g

[2022-09-11 03:37] #568 closed

[2022-09-11 03:38] 0xtavian commented on #561
thanks, we've updated configure and scan.

[2022-09-11 03:38] #561 closed

[2022-09-11 18:30] mrd17 commented on #573
Hi @mirhatx ,

As @0xtavian said the error is because the anew is either not installed or not in the path.

For new members using Linux and facing this issue can follow these steps to fix this error.

1. Install anew using command
 `go install -v github.com/tomnomnom/anew@latest`

3. If you get error installing using above command, then download binary from [here](https://github.com/tomnomnom/anew

[2022-09-12 11:27] cswiers opened #611 "axiom-scan regions"
We can specify regions when using axiom-fleet, we can also directly start fleets using axiom-scan. We cannot however specify regions when using axiom-scan directly if I am not mistaking. Is it possible to add this?

[2022-09-12 17:22] 0xtavian commented on #611
@cswiers thanks for opening this issue. Currently `axiom-scan —fleet` doesn’t recognize the `—regions` argument the way `axiom-fleet` does. However with a few relatively simple code changes, it certainly can. When I get some time, I’ll work on extending the `—regions` argument to `axiom-scan`. Good idea :) thanks again!

[2022-09-12 19:21] #611 closed

[2022-09-12 23:37] xenion0 opened #612 "File "/usr/local/bin/interlace", line 33, in <module>"
when i try to run axiom-scan in my kali machine give me error
also i try to  install interlace from here https://github.com/codingo/Interlace
with `python3 setup.py install`
[code]

[2022-09-13 00:30] 0xtavian commented on #612
@xenion0 Thats odd, I am able to get it working with python3.10. Can you first delete Interlace, run the following and try again?
[code]

They should have fixed this issue recently. If none of these work, you can try workarounds mentioned in their recently closed issues https://github.com/codingo/Interlace/issues?q=is%3Aissue+is%3Aclosed

[2022-09-13 07:59] cswiers commented on #611
Yes, it works like a charm! Thank you

[2022-09-13 17:03] #612 closed

[2022-09-13 21:30] sudo-jtcsec opened #613 "Axiom breaks with DO if any droplet has a reserved IP"
After spinning up a new DO fleet, I kept getting sshconfig errors when launching scans such as below:
[code]
Looking at my .axiom/.sshconfig file, I found an entry was scuffed:
[code]
The issue persisted after I fixed the config file manually - Im assuming its checked in the background and will repush the bad config.

More investigation shows that for a DO droplet not in my fleet I configured a re

[2022-09-14 16:47] vulnerablecodes opened #615 "Axiom fleet init fails on AWS + multiple regions."
COMMAND:
axiom-fleet snake-eater -i 500 --regions eu-north-1,ap-south-1,eu-west-3,eu-west-2,eu-west-1,ap-northeast-3,ap-northeast-2,me-south-1,ap-northeast-1,sa-east-1,ca-central-1,ap-east-1,ap-southeast-1,ap-southeast-2,eu-central-1,us-east-1,us-east-2,us-west-1,us-west-2

PROVIDER:
AWS

ERROR:
[ test-deploy01
An error occurred (InvalidAMIID.NotFound) when calling the RunInstances operation: The

[2022-09-15 12:05] #590 closed

[2022-09-15 12:17] bart3nder opened #616 "axiom warning output using linode-cli"
Hi!
Thanks for amazing project, really useful.
So I get an error whenever axiom is interacting with linode-cli (axiom-fleet, axiom-ls, axiom-rm ...) saying:
[code]
It's still functioning correctly but it is some how slower due showing the error every single time. Is there anyway that I can fix it? I tried `pip3 uninstall linode-cli` and `pip3 install linode-cli` but no luck.
Thank you!

[2022-09-15 20:21] pdelteil commented on #616
Maybe as a temporary solution you could create an alias:

`linode-cli='linode-cli --suppress-warnings' `

[2022-09-15 20:22] pdelteil commented on #616
I'm not sure it would work.

[2022-09-15 20:54] bart3nder commented on #616
Hmm,  didn't think that way. I just checked and unfortunately it didn't worked.
Thanks for your time Philippe!

[2022-09-15 21:05] pdelteil commented on #616
I think the alias should be created on every instance, not on the local machine.

[2022-09-16 22:56] pdelteil commented on #616
No problem. You want to get rid of the warning message, in order to do that without reinstalling `linode-cli` you could set up an alias linode-cli='linode-cli --suppress-warnings', that way every instance of your axiom fleet will run the command `linode-cli` but without the warnings, it's a trick.

To do this you will need to add the alias to the `.bashrc` file of every instance. Something like th

[2022-09-17 07:50] bart3nder commented on #616
Ah, so it's like that, huh. I thought you meant I have to edit the axiom setup source to reach that. I understand that now.
I did what you said but apparently there is no CLI tool for cloud providers (or at least for linode) on created instances, so the alias solution won't work since the only machine who is responsible to interact with the API is the local one and alias thing didn't fixed it (Sti

[2022-09-17 17:17] pdelteil commented on #616
You are correct. I was wrong!

But still the same should work on your local machine. I'll try on my
instalation later.

On Sat, Sep 17, 2022, 02:50 deBartender ***@***.***> wrote:

[2022-09-17 20:31] bart3nder commented on #616
Instead of `alias linode-cli='linode-cli --suppress-warnings'`, I edited `~/.axiom/providers/linode-functions.sh` directly and replaced every `linode-cli` with `linode-cli --suppress-warnings`. I can confirm it is fixed and works without any problem now.
Thank you!

[2022-09-17 20:33] pdelteil commented on #616
Yes, that was the boring solution 😂 😂 😂 😂

On Sat, Sep 17, 2022, 15:31 deBartender ***@***.***> wrote:

[2022-09-17 20:35] #616 closed

[2022-09-18 11:29] 0xKourama commented on #155
I have a problem how i can edit arjun model to make each input line a file  output inside a directory

[2022-09-19 09:29] nicoandmee commented on #615
@vulnerablecodes Could you share your script? I also encounter the same issue.

[2022-09-20 20:38] marcelo321 opened #618 "'Connection timed out during banner exchange ' error"
This is the error I got in today's scan, and wanted to know if you guys know a solution or why it is happening.

[code]

[2022-09-24 01:24] nicoandmee commented on #615
@vulnerablecodes  I can haz script? I would like to add: I have this issue even with a single region, but if I go into the EC2 console I'm able to spin up the instances manually using the AMI. 🤔

[2022-09-25 20:20] Sicks3c opened #619 "Axiom Not recognizing Any Module"
## Summary

Hello guys

I have setup axiom from scratch using all the steps and adding the proper keys and profiles
however, whenever I use any `module`  it shows this

<img width="1427" alt="Screen Shot 2022-09-25 at 21 19 43" src="https://user-images.githubusercontent.com/32225186/192163521-b5e2c1dd-eeba-47c5-a84c-3e4483fa1694.png">

I hope you can help

Cheers

[2022-09-27 10:08] Monst3rSec opened #620 "ERROR: API Version 2022-03-01 does not have operation group 'images'"
Hi Team,

I have installed the axiom using easy-install method and have setup my Azure account with axiom( chosen default options only).

However, I encountered the below problem when attempting to initialize an **axiom-init.**

Please assist me in solving this problem.

thanks in advance.

**Reference:**
![image](https://user-images.githubusercontent.com/60444051/192498422-0771d57d-5abf-4225-a5a3

[2022-09-27 19:23] thapr0digy commented on #613
Just recently ran into this, but also think it might be good to only create new sshconfig for droplets that have been created by axiom. I worked around this by creating a new "instances_axiom()" function in do-functions.sh. I'll try and submit a PR.

[2022-09-27 21:07] Sicks3c commented on #619
Fixed by adding
`/home/op/.local/bin` to PATH

Cheers

[2022-09-27 21:07] #619 closed

[2022-09-29 19:02] 0xtavian commented on #618
Closing this issue as I am not able reproduce but feel free to comment etc. i’m thinking this was a temporary network issue with linode. Maybe try a different region if it’s repeatable. @marcelo321

[2022-09-29 19:02] #618 closed

[2022-09-30 11:04] thapr0digy opened #622 "Feature Request: Automatically upload configs with API keys"
From what I can tell, there is no automation built in place to copy the configuration for a tool such as subfinder or amass from the system into each instance/fleet when running axiom-scan. It would be great to have an option for copying over a user specified configuration location with all of the secrets/API keys into the instance/fleet when running axiom-scan with the module.

My current workflo

[2022-09-30 17:16] 0xtavian commented on #622
@thapr0digy this is already supported, but maybe it can be more intuitive (check out the axiom-scan help menu for a description).

Use the axiom-scan `—local-config` argument and pass the path to a local config. AND In the module you have to add the `_config_` string somewhere so axiom knows where to position the config file.

During runtime, axiom will upload the local config to each of the scann

[2022-10-01 02:36] 0xtavian commented on #602
@marcelo321  I added the `--stdout` flag. also lmk if you are still seeing this issue

[2022-10-01 02:36] #602 closed

[2022-10-01 09:32] #622 closed

[2022-10-05 18:12] nicoandmee opened #624 "cf-check module appears broken"
When attempting to run `axiom-scan` with `cf-check` as module, I observed the following output:
[code]

Upon checking I guess https://github.com/Cgboal/exclude-cdn is a great alternative, but should we mark this module as deprecated perhaps to avoid confusion? I will be happy to submit a PR.

[2022-10-05 18:23] 0xtavian commented on #624
@nicoandmee good catch. Yea I removed it from the default provisioner. To avoid confusion,
I’ll merge a PR removing the module.

[2022-10-05 18:31] nicoandmee commented on #624
💯 https://github.com/pry0cc/axiom/pull/625

[2022-10-05 18:31] #624 closed

[2022-10-06 19:35] nicoandmee opened #626 "axiom-boxes: When to use it and is it broken?"
I'm a little fuzzy as to how `axiom-boxes` is to be used in relation to a running instance. For example, I have a droplet provisioned with all my favorite tools/dotfiles, etc. and it seemed like (from description) that `axiom-boxes` would allow me to take my image out of DO, rolled up as as an encrypted `.tgz`.

However when I run `axiom-boxes master` (master is the name of my pet instance) I obse

[2022-10-06 19:48] 0xtavian commented on #626
@nicoandmee yea `axiom-boxes` is pretty old code. I don’t suspect it would work without an update or refactor. If you just want to download a copy of the home directory you should be able to use `axiom-sync`.

[2022-10-08 01:24] #584 closed

[2022-10-11 08:54] Hax0rG1rl commented on #544
Hi Octavian,

So:

\- 3.txt contains a list of domains I am looking to scan

\- mylocal list is a large words list for domain brute-force

I am looking to use the axiom split the workload concept and expedite the brute force subdomain discovery supplying a list of root domains.

And thank you very much!

Sent from ProtonMail mobile

\-------- Original Message --------
On Apr 14, 2022, 17:47, Octav

[2022-10-11 09:25] pdelteil commented on #619
Please show us the command you're using.

On Sun, Sep 25, 2022, 15:20 Ayoub Elaich ***@***.***> wrote:

[2022-10-11 10:21] Sicks3c commented on #619
I was using
`axiom-scan file -m subfinder -o output.txt`
but I kinda fixed it, I had to add `/home/op/.local/bin` to PATH

[2022-10-13 12:01] K4r1it0 opened #630 "wordlist distribution"
instead of distributing the targets on different instances to be run on puredns i want to distribute the wordlist to be splitted with and run with the same target how can i do this?

[2022-10-13 12:19] #630 closed

[2022-10-14 00:54] 0xtavian commented on #630
@dhauenstein glad you figured it out. ICYMI, we have a wiki page going over horizontal versus vertical scanning https://github.com/pry0cc/axiom/wiki/Horizontal-vs-Vertical-Scaling

[2022-10-16 04:08] Hax0rG1rl opened #632 "AWS :: Axiom Fleet "Init” Fails —Single Region"
Hi,

Trying to spawn several instances in a single AWS region, nothing fancy, I get this error:

```An error occurred (InvalidKeyPair.NotFound) when calling the RunInstances operation: The key pair 'axiom' does not exist```

This is a fresh install, axiom version is from Oct 15, 2022.

Any ideas about how this can be resolved?

Thanks!

[2022-10-22 16:49] K4r1it0 opened #636 "Parallel issues"
Does the module runs on all instances in the same time. I am using puredns with https://wordlists-cdn.assetnote.io/data/manual/best-dns-wordlist.txt on 100 target + 100 digitalocean instances its been 15 hours and it doesn't finish. this wordlist takes around 20m in my personal digitalocean VPS. So when 100 instances runs at the same time i expect them to finish in 30m at least.

[code]

[2022-10-23 06:08] K4r1it0 commented on #636
Update been 48+ hours

[2022-10-23 23:23] pdelteil commented on #636
Hello there,

How are you running the scan?

Saludos,

*Philippe Delteil*

On Sun, 23 Oct 2022 at 01:08, K4r1it0 ***@***.***> wrote:

[2022-10-24 00:23] K4r1it0 commented on #636
axiom-scan hosts.txt -m pure.json -o dir
and it still not finished
[code]

[2022-10-24 00:26] pdelteil commented on #636
Include the output of the first lines of execution. It should be puredns
without the json I don't know if that will make any difference. How many
selected instances do you have running?

On Sun, Oct 23, 2022, 19:23 K4r1it0 ***@***.***> wrote:

[2022-10-24 00:40] K4r1it0 commented on #636
![axiom](https://user-images.githubusercontent.com/39193373/197426765-7ca14010-6d6f-4851-b981-71a350a6ae05.png)

[2022-10-24 00:46] K4r1it0 commented on #636
its been + 48 and the scan did not finish i am running puredns on 123 host on 100 instances using assetnote dns wordlist

[2022-10-24 13:49] MuhammadUsman-coder opened #638 "Request to add DSXS"
Hi ,

I have a request to add DSXS tool in the default provision. This tool is similar to kxss but way more useable and with very less Flase positives.

Here is the link https://github.com/stamparm/DSXS.

Thanks
Kind regards

[2022-10-25 04:49] m3chboy opened #639 "Interlace Error"
* When I run
`axiom-scan resolved.txt -m httpx -o output.txt`

* I'm getting this error
[code]

[2022-10-25 06:04] pdelteil commented on #639
Hi there,

What Python version are you using? Take a look at [this](https://github.com/pry0cc/axiom/issues/555#issuecomment-1133745166) thread.

[2022-10-25 16:45] 0xtavian commented on #639
Can you show the stats prior to the scan running? Also, make sure you are on the latest code. @m3chboy

[2022-10-26 02:51] 0xtavian commented on #636
@K4r1it0 Sorry for the delay.

in this case, axiom will split the input file the best it can, 23 instances would be scanning 2 targets, 100 instances would be scanning 100 targets, for a total of 123 targets.

You can check each scanner by ssh-ing into the instance (axiom-ssh $name), cd to the unique scan working dir and check the input file and command. You can also attach to the tmux sessions ru

[2022-10-26 03:44] 0xtavian commented on #639
@m3chboy
Make sure you have instances selected with `axiom-select`

[2022-10-26 03:44] #639 closed

[2022-10-27 12:01] MuhammadUsman-coder opened #642 "request to add rush just like interlace"
Hi ,
Kindly add rush as scan module .
https://github.com/shenwei356/rush

Thanks
Kind regards

[2022-11-03 03:48] #636 closed

[2022-11-09 13:03] satishshekher99 opened #643 "Not able to install on Azure - Ubuntu VM"
A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.

No browser opens.
Also where is the code that I need to enter?

![Screenshot 2022-11-09 183312](https://user-images.githubuse

[2022-11-09 16:40] pdelteil commented on #643
You could try loading the url (https://login....) using firefox (manually or clicking the link).  Once you open the link you'll get the code.

[2022-11-10 00:01] pdelteil commented on #638
Hi there,

That tool is abandoned I believe, no commits in over 2 years.

[2022-11-10 08:52] MuhammadUsman-coder commented on #638
Hi There,

Although it is an old/abandoned tool but it does what it is made for very good. As i said it is like kxss but way less false positive and it checks if the context is breakable and injectable for xss.

[2022-11-14 04:01] Marcio861 commented on #518
I am solved with: axiom-exec "git clone https://github.com/projectdiscovery/naabu.git && cd naabu/v2/cmd/naabu && go build && chmod +x naabu && echo password-sudo-or-root | cp naabu /usr/bin"

[2022-11-15 18:25] quantumburnz opened #644 "AWS errors when "security group 'axiom' already exists for VPC""
Setting up Axiom for a 2nd time (previously used it) and now getting errors during setup. Would be ideal if this were handled gracefully.

[code]
![image](https://user-images.githubusercontent.com/26365765/201996654-6b2f0073-9575-4607-a401-9010573f35aa.png)

[2022-11-17 14:27] swdbo opened #645 "--rm-logs argument isn't compatible with specific --fleet argument"
Hello !

It seems the `--rm-logs` command triggers the `delete_logs()` function that runs only on the instances defined in `selected.conf`.
Ref : https://github.com/pry0cc/axiom/blob/f369d255977498b48c06207265d4263289b565a0/interact/axiom-scan#L182

Example of the command I'm using :
[code]

Excepted behaviour :
The delete_logs() should check if a --fleet has been passed, if none, it can use the s

[2022-11-17 19:01] 0xtavian commented on #644
@quantumburnz sorry for the delay this open PR addresses this issue https://github.com/pry0cc/axiom/pull/635#issue-1417535951
We are still working thru some other bugs with AWS, such as round Robbin region distribution and managing multiple images (axiom-images functionality).
I hope to do some more work on axiom over the weekend.

[2022-11-17 19:02] 0xtavian commented on #643
Pretty sure azure is broken atm :/ @satishshekher99

[2022-11-17 19:03] 0xtavian commented on #645
Good catch @swdbo ive been meaning to rewrite delete_logs() to use interlace instead of axiom-exec. I’ll try to do this over the weekend.

[2022-11-24 11:47] pierinogiorgio opened #646 "Tool add request: Katana from ProjectDiscovery"
Hi there, I'd like to ask if it's possible to add Katana (crawler tool) by Project Discovery: https://github.com/projectdiscovery/katana

As all tools made by them, Katana is great.

[2022-11-25 16:56] jarombrown commented on #590
Did you find a solution for this issue?

[2022-11-28 16:05] catchmeifyoucaan opened #647 "axiom shuts down everytime even when i request to increase tpo 18GB"
i'm experiencing shutdowns no matter what size

 linode: go: downloading github.com/gorilla/mux v1.8.0
    linode: go: downloading github.com/trufflesecurity/overseer v1.1.7-custom5
    linode: go: downloading github.com/sirupsen/logrus v1.9.0
    linode: go: downloading gopkg.in/alecthomas/kingpin.v2 v2.2.6
    linode: go: downloading github.com/google/pprof v0.0.0-20211214055906-6f57359322fd

[2022-11-30 03:25] pdelteil commented on #647
Did you try adding `"expect_disconnect": true` ?

Also, did you try using the script from a remote instance? (VM/VPS)

[2022-11-30 14:40] bart3nder commented on #590
Hello, Sorry for late response.
No I'm afraid I didn't find any solution to solve this issue, But I would be glad to hear yours (If there is any).