[2020-05-20 17:10] pry0cc opened #2 "Packer Build Hangs / Fails"
Every now and then a build fails with a command mentioning GPG keyservers.

This occurs because of a bug with dirnmgr (I think), this happens so sporadically so I have no idea if it has been fixed yet.

If you get a build fail -  just rerun the commands:
[code]

[2020-05-21 12:36] pry0cc commented on #2
Fixed this by just removing the gpg import!

[2020-05-21 12:36] #2 closed

[2020-05-21 14:59] getsec opened #6 "Issued with axiom commands"
Im quite possibly a moron. I'm running on OSx.

I was able to use the bash oneline to provision the instance, but i do not seem to have the axiom command on my machine
[code]

[2020-05-21 15:02] getsec commented on #6
Yeah im an idiot. Issue with path in zshrc.

[2020-05-21 15:02] #6 closed

[2020-05-21 15:02] pry0cc commented on #6
Hi! I'm still fixing this in the axiom-configure command, you need the ~/.axiom/interact/ directory to be in your PATH

export PATH="$PATH:$HOME/.axiom/interact"

Put this in your ~/.zshrc!

[2020-05-30 02:46] tavdog opened #12 "Feature Request : zsh shell customizations sync"
Currently the backup/sync functionality only syncs non image default values so any customizations to the shell are not saved.  It would be nice to have a flag to backup and restore changes to the shell and other dot files.

[2020-05-30 16:53] mrpentest opened #13 "Feature Request: New tools to include"
Hackerone has released a list of tools:

https://www.hackerone.com/blog/100-hacking-tools-and-resources

It would be a great addition to axiom to include some of these tools :)

[2020-05-30 20:55] pry0cc commented on #12
Awesome idea!

I was thinking about this, what files should we add?

.zshrc
.oh-my-zsh
.vim
.vimrc
.config
.tmux.conf

What do you think?

[2020-05-30 20:57] pry0cc commented on #13
Great suggestion!

Looking at this list, we already have quite a few! Which 10 tools would you pick from that list? And why?

[2020-05-31 06:28] blueteq opened #14 "Arch Question"
Hello, This issue might be because I am on Arch.
But will ask anyway, I ensured all dependency is installed and got the DigitalOcean key.. looks okay then this:

`/dev/fd/63: line 185: 230812 Killed                  packer build -var-file ~/.axiom/axiom.json ~/.axiom/packer.json                         `

The full output here: https://pastebin.com/QAizNMaQ

I'll spin up ubuntu if I have to, but an

[2020-05-31 06:42] tavdog commented on #12
All of those sound good.  ~/.gitconfig too for sure.  Any ideas for a way to specify which files we want backed up ?

[2020-05-31 07:23] tavdog commented on #12
I'm a little bit confused about the whole backup/sync process.  Since the backup process backs up to the instance name, if I rm the original instance then want to axiom-init a new instance and restore the original to the new one, they now have different instance names so a sync won't bring the new instance back to the state of the original instance. I guess I could just rename the box directory to

[2020-05-31 07:28] tavdog commented on #14
from the readme : Packer is pretty easy everywhere, although manual (its really important you get the right version, if its too old, then the var-file syntax will fail.

[2020-05-31 08:08] blueteq commented on #14
Thank for the quick reply, can confirm the version is what's listed in the readme:

[code]

[2020-05-31 10:04] pry0cc commented on #14
Hey @blueteq!

Can you confirm that your  ~/.axiom/ directory has files in it? And what the output of

[code]

Is?

[2020-05-31 10:08] pry0cc commented on #12
So I’ve been thinking of scrapping the sync script,it’s definitely confusing.

Give this one liner a go, where yourbox is a machine that has been backed up and is not live already.

[code]

[2020-05-31 10:25] pry0cc commented on #12
https://github.com/pry0cc/axiom/commit/bce8b76a58fbc711b25dee61972aef9a323c356e

New commit that enables dotfile backup by default as well as the go directory backup!

Please give it a go and tell me how it works, and don't forget to `axiom-update`.

If it works cool - we can close this issue :)

[2020-05-31 10:32] pry0cc commented on #12
Ok I'm beginning to think this is not the best way of doing this.

Some of these git files are taking a very long time, thinking maybe making a tar archive and then transferring that would be better. For both go and .*.

[2020-05-31 10:54] blueteq commented on #14
Yes, cloned files okay, listed below and the output of packer output is in Pastebin link.
I tried deleting the .axiom folder and ran the script again, however the same result.

I am no developer (very apparent I am sure), I did look at the packer.json files cloned. There are a few references to ubuntu and apt-repositories? Am I mistaken to think that this needs to be Pacman and not apt for Arch?

[2020-05-31 10:59] pry0cc commented on #14
Those commands are to run on the initialised server, which is Ubuntu, so it's not for your local arch system.

Can you show me the contents of `~/.axiom/axiom.json`? Minus your key of course.

[2020-05-31 11:03] blueteq commented on #14
obvuscated key, but this is it:

[{
  "do_key": "57a22e9fb08c07.....................3ddb1",
  "region": "sfo2",
  "domain": "",
  "default_size": "s-1vcpu-1gb",
  "hunter_key": ""
}](url)

[2020-05-31 11:05] pry0cc commented on #14
Okkk - so it seems that this is a bug in an older packer (I have no idea how).

https://github.com/hashicorp/packer/issues/8910

How did you install packer? Can you try from the AUR? I use an AUR Helper called yay, the command would just be "yay -S packer".

[2020-05-31 11:24] blueteq commented on #14
Thank you, Ill close issue as not related to Axiom. I'll get Yay installed and work from there.

[2020-05-31 11:24] #14 closed

[2020-05-31 12:07] tavdog commented on #12
I think the go backup should maybe be separate from the .dot files.  It creates a ~350MB size file.  Maybe tar'ing up the files from find ~op -type f -name ".*" -maxdepth 1

I see you how you can give a name to an instance so then it's easy to run a restore on the instance when it's got the same name as the old backed up instance.  But axiom-init yourbox —restore=yourbox  didn't do a restore of th

[2020-05-31 15:07] pry0cc commented on #12
OK.

So I've gone through completely and redone the backup and the restore scripts.

It is pushed to master, I've redone how I'm pulling and pushing dotfiles, and I'm using a "files-from" directive, you can access this file in ~/.axiom/boxes/backup-files.txt, whatever is in this will be sync'd.

I've also deprecated sync, we can reinvent it, but it'll take some more thought I think.

[2020-05-31 15:23] pry0cc commented on #12
Also - could you share your .gitconfig file?

[2020-05-31 21:25] tavdog commented on #12
my .gitconfig is just the following :
[oh-my-zsh]
	hide-status = 1

I felt kind of silly going to all this trouble about the backup script once I realized how easy it is to just re-image my modified machine on DO and use that as my starting point but.  I like the files-from direction style, very flexible.

[2020-05-31 21:25] #12 closed

[2020-05-31 21:27] #13 closed

[2020-06-01 13:02] mrpentest opened #18 "Tool gf requires additional setup steps to function as intended"
According to https://github.com/tomnomnom/gf after installing it using Go, you need to create a ~/.gf/ folder and copy the .json files from /examples folder there. Then, for the autosuggestion/autocomplete function to work you need to source a specific file. Additional filters can be found here: https://github.com/1ndianl33t/Gf-Patterns which would also be nice to include :)

[2020-06-01 16:04] pry0cc commented on #18
Been planning on adding this!

Thanks! I will work on this next :)

[2020-06-01 18:47] pry0cc opened #19 "Packer / axiom-configure build fails"
Very occasionally, you'll get an error talking about Ubuntu and APT complaining that the build failed.

All you need to do in this case is rerun the script, it'll work. Keep running it until it does, it's an ubuntu bug, I'm sorry :(

[2020-06-04 18:36] kpcyrd opened #21 "Detect id_ed25519.pub key"
hey! right now there's only a check for:

[code]
it would be great if it would also check for non-rsa keys, the most popular being ed25519. So if `~/.ssh/id_rsa.pub` doesn't exist you could check for `~/.ssh/id_ed25519.pub` as a fallback. :)

You can test this by generating a keypair with `ssh-keygen -t ed25519`.

[2020-06-07 22:37] 303sec opened #25 "Request: AWS EC2 Support"
This looks like an cool project, but only being able to use Digital Ocean is a bit limited. Are there any plans to add AWS support? And what are the features / benefits of adding a Digital Ocean API key?

[2020-06-08 00:31] #18 closed

[2020-06-08 00:31] #19 closed

[2020-06-08 00:35] pry0cc commented on #21
Yes this is awesome!

It is merged! Thank you!

[2020-06-08 00:35] #21 closed

[2020-06-08 00:37] pry0cc commented on #25
Yes, this is like version 0.02 in the grand scheme of things.

I want to eventually have a full modular rewrite in Go and have support for every single cloud provider possible! I will need help though!

Right now I just want it to be a playground to figure out how I want the Axiom lifecycle to work, and then rewriting should be simple.

[2020-06-08 00:37] #25 closed

[2020-06-08 01:07] kpcyrd commented on #21
@myrdn thanks!

[2020-06-08 18:55] hakluke opened #26 "Golang install not detected on Mac OS installation"
Looks like a great tool! Golang is not detected on my Mac OS install, see the following screenshot:

![image](https://user-images.githubusercontent.com/13975395/84068316-1e208a80-aa0c-11ea-94c9-426de73fa823.png)

It is because I don't have $GOPATH explicitly set as an environment variable, despite having golang installed.

[2020-06-08 18:58] pry0cc commented on #26
Ahhh!

Yeah, maybe we should try and tweak that to configure go. I would've assumed a proper Go install would be with the $GOPATH, otherwise, how do you go get stuff? :P

Is this a fresh install?

[2020-06-09 04:25] hakluke commented on #26
Yeah I thought so too, but actually mine works fine. I think if there is no $GOPATH defined it just defaults to ~/go

[2020-06-09 10:52] k-sau opened #28 "Uploading local files"
Hi,
Is there any way we can upload local files to the droplets? I tried ``scp`` but getting the following error:
``ssh: connect to host x.x.x.x port 22: Connection refused``

[2020-06-09 16:05] chppppp opened #29 "install fails on kali 2020"
everything goes well until

[code]

[2020-06-09 16:19] chppppp commented on #29
I think my issue was not using `root` :P

[2020-06-09 16:20] pry0cc commented on #29
Huh, it should work, just sometimes the packer build fails, axiom-build fixes that.

[2020-06-09 16:23] chppppp commented on #29
it's working now as `root` but i dont love it. This was just doing the initial install with the pipe into bash. i am getting a ton of errors during this process as well.

[2020-06-09 16:29] myrdn commented on #28
I think ssh is listening on port `2266`, you have to specify the port in your `scp` command.

[2020-06-09 16:31] pry0cc commented on #28
Yes you do, the recommended way of pushing files would be to:
[code]
(Then move all files to this path)
Then
[code]
And it will use rsync to push. Not very clean, still thinking of a way to make this slicker. Should probably add a one liner!

[2020-06-09 16:33] chppppp commented on #29
@pry0cc is there an easy way to `uninstall` axiom? Just wondering in case I totally bork this install and need to start over. I should have taken a snapshot before installing ;)

[2020-06-09 16:34] chppppp commented on #29
or an easy way to add/update ssh keys and such?

[2020-06-09 16:35] pry0cc commented on #29
To uninstall, all you have to do is delete ~/.axiom/ and remove the paths from your zsh or bashrc.

To manage ssh keys, you just need to make changes in ~/.axiom/configs/authorized_keys, and rebuild with axiom-update && axiom-build

[2020-06-09 16:35] #28 closed

[2020-06-09 16:36] pry0cc commented on #26
Ahhh ok - thanks :)

[2020-06-09 16:36] #29 closed

[2020-06-09 16:37] chppppp commented on #29
Thanks @pry0cc

[2020-06-11 09:20] pnunes515 opened #30 "jq & packer"
Hello.

I've just tried setting up my first instance with axiom-configure as recommended in the readme. I'm running Linux Mint 19.3 ( Linux flagship 5.3.0-51-generic #44~18.04.2-Ubuntu SMP Thu Apr 23 14:27:18 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux).

On my first attempt I got an error with jq and packer being unknown commands:

`You're running Bash! Installing Axiom to $PATH...
/dev/fd/63: line 1

[2020-06-13 19:51] broketech commented on #26
running debian, have same situation. I orginally built go, and it magically works with no env variables. I messed around a little bit and changed the test:

`#install go
whereis go; if [ ! $? -eq 0 ] && [[ -z "$GOPATH" ]];then`

I'll let you know if there are any side effects that I can tell.

[2020-06-14 02:22] hakluke commented on #26
Nice. I suspect this will work on Mac too. I'll check later. As a workaround I just removed the check entirely.

[2020-06-15 10:02] justatechnology commented on #30
You got this thing working? Figuring out same thing.

[2020-06-15 10:20] frontierpnunes commented on #30
Hey. Yeah, I got it working. Linux Mint has outdated packages.

Grab the following and place them in your user's local bin:
jq: https://github.com/stedolan/jq/releases
packer: https://www.packer.io/downloads/
doctl: https://github.com/digitalocean/doctl/releases

[2020-06-15 10:23] pnunes515 commented on #30
Hey. Yeah, I got it working. Linux Mint has outdated packages.

Grab the following and place them in your user's local bin:
jq: https://github.com/stedolan/jq/releases
packer: https://www.packer.io/downloads/
doctl: https://github.com/digitalocean/doctl/releases

[2020-06-15 23:12] pry0cc commented on #30
Thanks for posting the solutions! I remember we fixed this in DM :)

[2020-06-15 23:12] #30 closed

[2020-06-15 23:13] #26 closed

[2020-06-23 17:59] VonTran opened #34 "Temporary failure resolving mirrors.digitalocean.com"
Running the script on arch (with doctl installed)

Error occurs shortly after creating the GPG pubkey
Build fails because the urls are not resolving on the box.

[2020-07-02 12:06] x1mdev opened #37 "New box username & onetime password in email"
Hi @pry0cc,

Thank you for this awesome tool!

I've noticed some strange/unnecesary behaviour when starting up new boxes.

Example: `axiom-init hades --restore=hades && axiom-ssh --tmux && axiom-rm hades -f` (Economics)

Whenever I run this command and detach from tmux the box is destroyed. Now, when I'm executing the same command again everything works just fine. No passwords etc have been provid

[2020-07-02 12:14] pry0cc commented on #37
Yeah, so we change all that and DO has an automated email solution.

Personally I just ignore the emails and have an email filtering rule to automatically mark them as read and archive them, if you can find a better way to disable emails though, I will definitely add it to the readme :)

[2020-07-02 12:14] #37 closed

[2020-07-02 12:15] pry0cc commented on #34
Yeah this is a weird issue, we're setting the DNS to 1.1.1.1 so I'm not sure why that would conflict with it... It works sometimes and sometimes not.

[2020-07-03 17:18] ikuamike opened #38 "Nuclei v2 Update"
Nuclei v2 has been released, is it possible to update the build?

[2020-07-03 17:25] pry0cc commented on #38
Yes! The packer image builds from the direct GitHub nuclei.

https://github.com/pry0cc/axiom/blob/4095fcad4ab909d6e99f9bb2731e76d7bf3207fb/packer.json#L195

So all you have to do is run axiom-build and wait for it to build a new image for you.

[2020-07-03 17:25] #38 closed

[2020-07-04 01:31] ikuamike commented on #38
For version 2 you need

`GO111MODULE=on go get -u -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei`

Note the **v2**

Here's the reference from their page.
https://github.com/projectdiscovery/nuclei#from-source

[2020-07-04 01:33] pry0cc commented on #38
Would you be able to open a PR so I can merge it?

pry0cc

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, 3 July 2020 21:32, Michael Ikua <notifications@github.com> wrote:

[2020-07-04 01:36] ikuamike commented on #38
Would be happy to, I'll try on Monday. I'm afk this weekend. Thanks.

[2020-07-07 14:59] pry0cc opened #40 "Bug when running axiom-init, Error: open /tmp/raman18.sh: no such file or directory"
[code]

[2020-07-09 11:07] liscazza opened #41 "/dev/fd/63: line 62: [Ubuntu: command not found"
root@xxxxxx:~# bash <(curl -s https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-configure)
Hello! Welcome to Axiom configuration :)
To begin, I will ask you a few questions
Press enter to continue
Installing deps! Please wait :)
/dev/fd/63: line 62: [Ubuntu: command not found

on ubuntu 18.04

installation continues, but the script does not have permissions to create folders

[2020-07-09 13:49] liscazza commented on #41
i find this articles, maybe is a explaination for this issue
https://askubuntu.com/questions/1086617/dev-fd-63-no-such-file-or-directory

[2020-07-09 21:55] Vap0rz commented on #41
I'm seeing the same issue here, even after a new config or build. It doesn't look like that script is doing much other than set the expiry and 'Birthdate".

[2020-07-09 23:32] Vap0rz commented on #41
I'm seeing the same issue here, even after a new config or build. It doesn't look like that script is doing much other than set the expiry and 'Birthdate".

Build 'digitalocean' finished.

==> Builds finished. The artifacts of successful builds are:
--> digitalocean: A snapshot was created: 'axiom-sfo2-1594335483' (ID: 66519443) in regions 'sfo2'
cau5tic@axiom-test:~$ axiom-init
Initializing 'pare

[2020-07-10 10:32] bauthard opened #42 "The repository is not signed."
Used command:-

[code]

Output error:-

[code]

[2020-07-10 21:09] daddyhack commented on #40
No matter what i try I cannot get past this bug. I have built and rebuilt multiple times and still can no longer get "axiom-init" to run successfully. It was working beautifully in the past.

[2020-07-11 00:37] pry0cc commented on #40
I have an idea.

Stand by. I think this will fix it for you. Sorry about this, open source is hard :P

Sent from ProtonMail Mobile

On Fri, Jul 10, 2020 at 10:09 pm, daddyhack <notifications@github.com> wrote:

[2020-07-13 19:30] b00ls0ck3t commented on #40
i'm facing the same issues described by daddyhack

![image](https://user-images.githubusercontent.com/19557578/87345131-df707980-c54f-11ea-9e97-aea82767aa77.png)

[2020-07-14 22:57] pry0cc commented on #41
Can you try `wget https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-configure && chmod +x axiom-configure && ./axiom-configure`?

[2020-07-14 22:58] pry0cc commented on #42
Can you try it again?

[2020-07-14 23:00] pry0cc commented on #40
Can you provide more details, namely, operating system, bash version and doctl version.

[code]

[2020-07-15 09:20] natgriffiths commented on #40
I'm in the same position as daddyhack i.e. can no longer to get axiom-init to run successfully. These are my details:
Linux Private 4.15.0-111-generic #112-Ubuntu SMP Thu Jul 9 20:32:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

NAME="Linux Mint"
VERSION="19.1 (Tessa)"
ID=linuxmint
ID_LIKE=ubuntu
PRETTY_NAME="Linux Mint 19.1"
VERSION_ID="19.1"
HOME_URL="https://www.linuxmint.com/"
SUPPORT_URL="https

[2020-07-15 10:08] bauthard commented on #42
It worked, thank you.

[code]

[2020-07-15 10:08] #42 closed

[2020-07-15 18:01] bauthard commented on #42
Hey @pry0cc,

Even the ssh key is added in DO account, I see password authentication for all actions, any clue around this?

[code]

[2020-07-16 07:34] daddyhack commented on #40
-------------------------------------------------------------------

**uname -a:**
Linux testbox 5.4.0-40-generic #44-Ubuntu SMP Tue Jun 23 00:01:04 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**cat /etc/os-release**
NAME="Ubuntu"
VERSION="20.04 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ub

[2020-07-17 09:39] xlaruen commented on #40
This problem happens when doctl is installed via snap since it's using strict confinement, which means doctl has no access to files on your filesystem (except the whitelisted directories configured in their snapcraft.yaml). One of possible workarounds is to remove doctl from snap and install it by other means, for example use their latest pre-built binary from https://github.com/digitalocean/doctl

[2020-07-17 22:16] daddyhack commented on #40
@xlaruen Thank you! Removing doctl via snap and reinstalling using the pre-built binary worked. I can once again run "axiom-init" successfully.

[2020-07-18 07:40] natgriffiths commented on #40
@xlaruen thanks from me also. I can run axiom-init successfully again as well. Cheers mate.

[2020-07-18 10:43] pry0cc commented on #40
Oh wow!

That makes a lot of sense! I did not think about that. I've been using both MacOS and Arch, I had no idea snap confined the filesystem like that!

We'll have to update the axiom-configure script then to pull the binaries for Ubuntu users, this new functionality with the --user-data-file is going to become the basis for a bit of more tech that I'm planning down the road. Right now we use i

[2020-07-18 10:44] pry0cc commented on #41
Latest merge fixed this.

Thanks.

[2020-07-18 10:44] #41 closed

[2020-07-18 10:45] pry0cc commented on #34
Maybe we should set the DNS to Google, maybe this is CloudFlare DNS acting crazy?

[2020-07-18 10:46] #40 closed

[2020-07-18 18:39] b00ls0ck3t commented on #40
Thank you @xlaruen! this did the trick ~ @pry0cc would it make sense to implement this in the next release? thank you!

[2020-07-18 19:44] pry0cc commented on #40
Yes!

Anybody who would like to make a PR is welcome, got some things I need to take care of first. For now, though, installing doctl first is a good way to make it work.

pry0cc

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Saturday, 18 July 2020 14:39, b00ls0ck3t <notifications@github.com> wrote:

[2020-07-26 14:50] codered commented on #34
I am not seeing this on digital ocean. @pry0cc - maybe you can close this?

[2020-07-26 15:42] codered opened #46 "Unable to ssh after axiom-configure"
First off, great work!

After I run configure, I am unable to connect to the droplets that are created. I am on Mac OS Mojave. The same keys work for my existing droplets without any problem.

Any ideas why this could be happening? Any tips to troubleshoot?

[2020-07-26 18:10] pry0cc commented on #46
Can you tell me what error you get? A screenshot?

[2020-07-26 18:11] #34 closed

[2020-07-27 01:54] codered commented on #46
I spun up a droplet called "hades". I enabled -vvv in the connect script you have.

[~/.axiom/configs]$ axiom-ssh hades                                                                                                                  *[master][ruby-2.4.0]
ssh: connect to host 64.227.80.139 port 2266: Operation timed out
[~/.axiom/configs]$ axiom-connect hades

[2020-07-27 16:13] codered commented on #46
I am using Mac OS Mojave. Can you tell me where I should look in the code to ensure that the key is added correctly?

[2020-07-27 19:08] codered commented on #46
I think I found the problem. It is not using the pub key that is on my computer, (i did a recovery on the droplet and dropped in. I found that it has some random key in there). I believe this has to do with the check during configuration.

[2020-07-29 02:44] kusayuzayushko opened #47 "axiom-init failes with "doctl: command not found""
[code]

[2020-07-29 02:54] kusayuzayushko opened #48 "Warning from digitalocean during the droplet installation"
[code]

This makes sense, isn't it?

[2020-07-29 02:55] kusayuzayushko opened #49 "Error from digitalocean diring the droplet installation:"
[code]

[2020-07-29 02:58] kusayuzayushko opened #50 "Errors from digitalocean during the droplet installation"
[code]

[2020-07-29 19:39] kusayuzayushko commented on #47
have to "pacman -S doctl" first

[2020-07-29 19:43] kusayuzayushko opened #51 "Add an ability to select a region during axiom-configure"
By default, it's "San Francisco, United States", so please let us select different locations or add an automated selection based on ping measurement.

[2020-08-08 10:20] pry0cc commented on #50
This is benign, it doesn't cause any issues with the install, purely cosmetic.

[2020-08-08 10:20] #50 closed

[2020-08-08 10:21] pry0cc commented on #49
Still works /shrug

[2020-08-08 10:21] #49 closed

[2020-08-08 10:21] #47 closed

[2020-08-08 10:21] #46 closed

[2020-08-08 10:21] pry0cc commented on #51
This is a fantastic idea!

[2020-08-09 00:19] BUGBOUNTYchrisg8691 opened #52 "Issue with axiom-init on ParrotSecOS"
So, I've been running this on Ubuntu and it runs great. Today, I tried to install on a Parrot OS VM and have been having some issues, but I'm running into this permission error and I'm trying to find a way around it. It allows me to run the bash one-liner in Tilix emulator but not in Konsole and not on either while in tmux. When I run one-liner in Tilix, it will install the commands in Konsole, bu

[2020-08-09 00:25] BUGBOUNTYchrisg8691 commented on #52
I'm an idiot. I'm sorry. I guess chsh did not work correctly or something. I went into the 'edit current profile' in the settings tab and manually changed the shell command from /bin/bash to /bin/zsh and it fixed my zsh config, so I'm hoping that it fixes this as well. I'm running bash one liner now and will close this as soon as it finishes, but I believe this was my issue. My fault.

[2020-08-09 00:27] pry0cc commented on #52
Let me know how it goes! I'm glad you're getting some mileage :)

Are you enjoying axiom? Do you have any suggestions?

[2020-08-09 00:56] BUGBOUNTYchrisg8691 commented on #52
I am, very much, and as far as suggestions go, no, the zsh history you have added is a great touch and other things you already have planned just sound brilliant. I am new to all of this, and a tool like this a great for someone like me, but also a lot to wrap your head around. Oh, that was one thing, maybe someone could do a video on the usage of this tool. That would honestly be great. Someone t

[2020-08-09 00:56] #52 closed

[2020-08-10 10:22] CrystalSage opened #53 "Zsh is not detected due to incorrect shell path"
Currently, the user's default shell is detected by checking the $SHELL variable. The paths used to check the shells are hardcoded in [axiom-configure](https://github.com/pry0cc/axiom/blob/master/interact/axiom-configure). For any path that is not included in this file, the default shell is not detected.

e.g On my machine running Arch Linux, I've my Zsh installed through Pacman. The $SHELL variabl

[2020-08-14 18:26] daehee commented on #28
Old issue, but adding this note for others looking to scp files to & from an axiom box. As noted above, specify port `2266` using `-P` option and username/IP address for the axiom box.

[code]

[2020-08-18 11:06] natgriffiths opened #60 "--restore="
When I do a --restore=existing box axiom has recently stopped loading the data from the existing box into the new one.

[2020-08-19 08:14] vschwaberow opened #61 "Configuration change makes configure hang"
I am stuck while configuring my axiom machine with following log

 digitalocean: snapd.failure.service is a disabled or a static unit, not starting it.
    digitalocean: snapd.snap-repair.service is a disabled or a static unit, not starting it.
    digitalocean: Setting up openssh-sftp-server (1:8.0p1-6ubuntu0.1) ...
    digitalocean: Setting up openssh-server (1:8.0p1-6ubuntu0.1) ...
    digitalo

[2020-08-19 14:41] BUGBOUNTYchrisg8691 opened #62 "no such file or directory: packer.json"
So, I'm attempting to run the bash one liner on a new install of Linux and it looks like the packer json file is no longer in the repo. I noticed this earlier when I ran axiom-update on another machine and then went to run axiom-build and got this same issue. I luckily had a pull from a few weeks back and just copied the packer.json into .axiom directory. I'm I doing something wrong here or is thi

[2020-08-19 14:55] BUGBOUNTYchrisg8691 commented on #61
I had this exact same issue. I posted just a few minutes ago, a issues with "cannot find packer.json" and as mentioned in that post, when I ran get 'axiom-update' and then 'axiom-build' I received the 'cannot find...' err. then after copying an old packer.json into .axiom/ I ran into this. I figured it might be a problem, but got distracted and forgot about it until now.

[2020-08-20 04:52] michael1026 commented on #62
I can confirm the same issue here.

[2020-08-20 10:36] streaak commented on #62
I can confirm the same issue on MacOS

[2020-08-20 14:24] Jabo-SCO commented on #42
What is the "op" account password, I have this same issue. Am I supposed to connect to the droplet as root (which I have the password for) and change "op" 's password?

[2020-08-20 16:04] Jabo-SCO commented on #62
I had this issue too. https://github.com/pry0cc/axiom/pull/64 fixes it.

[2020-08-22 10:40] YouGina opened #67 "Password required for created droplets"
The problem I'm experiencing is similar to #37, except that when I run axiom-fleet all the instances created ask me to actually fill in the password. That doesn't work well during automation.

Did I make a configuration mistake?

Hope someone knows what goes wrong. Thanks in advance.

[2020-08-23 17:26] BUGBOUNTYchrisg8691 commented on #62
Thanks, everyone, for the help. It seems to be fixed, now, anyway.

[2020-08-23 17:26] #62 closed

[2020-08-25 03:35] incredincomp commented on #67
From my review of axiom-fleet, this looks to be the only way currently. Would need to add some stuff to a couple of the interact scripts, but in theory you should be able to use the axiom-configure ssh key concept: https://github.com/pry0cc/axiom/blob/fd7bc8e744eb8784cbe7eb78a90a1bf934eacf2a/interact/axiom-configure#L128

Then if a fleet run option is chosen `--ssh` for instance, then set a flag d

[2020-08-25 07:54] pry0cc commented on #67
It is a configuration mistake, check ~/.axiom/configs/authorized_keys and ensure your ssh pub key is in there.

Then run axiom-build again. It will be a setup issue when you first configured axiom. You need to ensure your ssh public key is in that file.

[2020-08-25 07:57] pry0cc commented on #61
I've fixed this - run axiom-update; axiom-build.

[2020-08-25 10:23] #60 closed

[2020-08-25 10:23] natgriffiths commented on #60
This issue has been corrected by subsequent updates.

[2020-08-28 09:19] YouGina commented on #67
That was it, I got it working :-)

Thank you for your answer!

[2020-08-28 09:19] #67 closed

[2020-08-28 17:44] dltmurphy opened #72 "Feature Request - Hashcat"
Is it possible to add Hashcat into Axiom?

[2020-08-29 09:16] vschwaberow commented on #61
Works for me. Thanks for your feedback.

[2020-08-29 09:16] #61 closed

[2020-08-29 14:33] Neolex-Security opened #73 "Running nuclei via axiom-exec hangs"
Hello,
I have an issue with axiom : when I try to run nuclei from axiom-exec it hangs after a few lines printed.
I run the following command :
[code]
I attached a screenshot which may be more clear
![nuclei_axiom_hangs](https://user-images.githubusercontent.com/15272044/91639201-3dc8bd00-ea15-11ea-980e-a3cddae03be0.png)
and it nevers finish the command, but it work if I connect via ssh on it and t

[2020-08-31 21:28] pry0cc commented on #73
Interesting, can you see if this works?

[code]

This will use the interactive SSH mode instead.

[2020-09-01 02:41] Neolex-Security commented on #73
Hi,
Yes it works perfectly like that !

[2020-09-01 16:27] kyleavery opened #76 "axiom-configure fails on nuclei installation"
Hello,

My axiom-configure job has ran three times and failed at the same spot each time.

[code]

[2020-09-01 16:53] daehee commented on #76
Having same issue with the `nuclei` line item in packer config, where `go get` attempts to grab an outdated version v1.1.7 -- current version is v2.1.0.

[2020-09-01 17:48] kyleavery commented on #76
Created a pull request that uses git clone instead of go get. Works fine for me now. #77

[2020-09-01 17:53] daehee commented on #76
@kyleavery did you figure out why the `go get` command isn't working in the build script? The same command works without errors on a fully initialized box.

[2020-09-01 17:57] kyleavery commented on #76
@daehee I'm not sure what the issue is, but my Kali box had a different issue using go get with nuclei. The git clone method worked on both.

[2020-09-01 18:07] pry0cc commented on #76
Fantastic!  Thank you so much everybody 👍

I'm tied down right now, but I'm happy to merge any PR that does not have a merge conflict to keep you all going.

[2020-09-01 18:32] kyleavery commented on #76
@pry0cc Fixed the merge conflict: #78

[2020-09-01 20:30] pry0cc commented on #76
Merged

[2020-09-01 20:30] #76 closed

[2020-09-01 20:31] pry0cc commented on #72
Why would you want to crack a hash on a 1GB DigitalOcean Droplet? If you really want to, you can use `apt-get`.

[2020-09-01 20:31] #72 closed

[2020-09-01 20:31] #48 closed

[2020-09-01 20:31] #73 closed

[2020-09-01 20:31] pry0cc commented on #51
How would you do this?

[2020-09-01 20:32] pry0cc commented on #53
Nice. Can you add this as a PR?

[2020-09-01 21:20] rst10124492 commented on #51
Not the original poster but this was something I had on my mind too and was going to implement something quickly at some point during the next weekends when I could find some free time.

After we request the api key we can use it to query the api for the available regions, display them to the user ask them to pick one or have them use a default one.

[2020-09-02 06:35] CrystalSage commented on #53
Created PR #82  for this. Closing the issue.

[2020-09-02 06:35] #53 closed

[2020-09-02 10:37] natgriffiths opened #83 "Updating error"
When trying to do the latest update I get the following error message:

Updating 3c153dc..185443b
error: Your local changes to the following files would be overwritten by merge:
	configs/authorized_keys
Please commit your changes or stash them before you merge.
Aborting

Not sure what I should do here.

[2020-09-02 13:47] #83 closed

[2020-09-02 13:47] natgriffiths commented on #83
Cleared thanks for your help.

[2020-09-04 11:36] ankushgoel27 opened #85 "pkg_resources.DistributionNotFound: The 'tqdm==4.36.1'"
Hi,

I am seeing an error when in run the axiom-scan command.

![1](https://user-images.githubusercontent.com/10580970/92235242-f76dd500-eed0-11ea-9409-ada83a746e6b.png)

[2020-09-04 11:38] pry0cc commented on #85
axiom-scan is not public, hence where there is no documentation in the readme.

If you want axiom-scan to work, currently, you will need to figure out for yourself. Axiom-scan is in a pre-release, unsupported experimental stage reserved only for those who can read bash & debug basic python errors.

[2020-09-04 11:38] #85 closed

[2020-09-05 15:37] nxnjz opened #86 "axiom-configure fails due to missing 'packer' package on Ubuntu server 20.04.1"
The following text is repeated forever:
[code]

The "packer" package is available in debian's, ubuntu's and arch's default repos. If someone can verify that manjaro, fedora and ubuntuwsl also have it in their default repos, I'll send a pull request to update axiom-configure.

[2020-09-05 15:44] #86 closed

[2020-09-06 11:52] mr3lii opened #90 "Error: (droplet.create.image) command is missing required arguments"
I am trying to axiom-init and it is gives me :
Error: (droplet.create.image) command is missing required arguments

[2020-09-07 03:45] harleyhacker opened #91 "axiom-init: command not found"
I've tried multiple time as getting the same outcome. Am I missing anything. I've set this up before and was working last week, now on a new droplet this is what I am receiving with no errors on build.

==> Builds finished. The artifacts of successful builds are:
--> digitalocean: A snapshot was created: 'axiom-sfo2-1599448086' (ID: 69684403) in regions 'sfo2'
Your build completed successfully!
To

[2020-09-07 03:52] #91 closed

[2020-09-07 16:10] Datacrass opened #92 "Error: 422 You specified an invalid image for Droplet creation."
==> digitalocean: Creating droplet...
==> digitalocean: Error creating droplet: POST https://api.digitalocean.com/v2/droplets: 422 You specified an invalid image for Droplet creation.

This worked initially. Retried with fresh git clone of repo. Same issue persists.

[2020-09-07 21:58] ikuamike opened #93 "axiom-build takes a while"
Is it possible to source some files from github other than from the locally cloned repo? to reduce setup time.

I noticed this part takes a while to complete and it's just uploading files from my machine esp the last 2 files.

![image](https://user-images.githubusercontent.com/5783614/92418014-1210aa00-f16e-11ea-9afd-e76f0a4dc6e3.png)

[2020-09-08 13:32] MantisSTS opened #96 "axiom-scp issue"
There appears to be an issue with axiom-scp which affects the command when the instance names are similar to the files that are being extracted.

This was shown with the instance: "**mo**g*" and the files "tcp.com**mo**n.nmap" which resulted in the following:
[code]
Renaming the file to `tcp.random.nmap` fixed the issue temporarily.

[2020-09-10 16:12] xxzxcuzx-me commented on #37
It looks that the only way to "disable" that notification is to specify ssh key at droplet creation. You can do that by adding --ssh-keys flag to the "doctl compute droplet create" command, for example: --ssh-keys 4d:23:e6:e4:8c:17:d2:cf:89:47:36:b5:c7:33:40:4e
The fingerprint of the ssh key must match a key added by you to your account. You can list ssh keys with command: doctl compute ssh-key li

[2020-09-13 18:58] ikuamike commented on #93
This was probably related to my home internet connection.

[2020-09-13 18:58] #93 closed

[2020-09-13 20:24] r4d1k4l commented on #90
```axiom-build``` fixed it for me

[2020-09-14 06:34] mr3lii commented on #90
not working with me :

Your build failed :( Please take a look at the errors!
Builds may fail every now and then, there are some known bugs in Ubuntu Server that cause this.
Im sorry, but it just fails sometimes, just sit back and relax and we'll try again until  it works ;)
Building image axiom... This can take up to 25 minutes so please be patient!
Ocassionally this will fail, we  don't know why

[2020-09-14 13:16] r4d1k4l commented on #90
You do not have packer installed. **```packer: command not found```**
You can get it from here: https://learn.hashicorp.com/tutorials/packer/getting-started-install
There are other [dependencies](https://github.com/pry0cc/axiom#dependencies) make sure you have them all installed on your system.

[2020-09-14 15:04] mr3lii commented on #90
great, that's solved the issue.
thanks

[2020-09-14 15:04] #90 closed

[2020-09-16 01:44] tedmdelacruz opened #104 "Running axiom-fleet deletes input file"
I have been trying out `axiom-fleet`  and I noticed that `axiom-fleet "host/path/to/domains.txt" -m=amass -o=outfile.txt`  deletes `"host/path/to/domains.txt"`

I think this is because of `rm $src`  here: https://github.com/pry0cc/axiom/blob/87eabe4bf571b17e9c4e6f5deff9a04fa84a0a35/interact/includes/functions.sh#L229

Please let me know if I'm doing it wrong 😅

Huge fan of `axiom`, I'll try and co

[2020-09-17 18:36] praveenroot03 opened #108 "configutation error makes axiom fails to ssh"
I have few instances which is tied to private VPC, so that axiom adds additional private IP field to .sshconfig. So it makes ssh configuration errors in while connecting to instance. I tried re-configuring it manually but axiom updates the config as I run the command

Here is my `.sshconfig`

Host server
	HostName <private IP>
<public IP>
	User op
	Port 2266

Host recon
	HostName <private IP>
<pub

[2020-09-18 20:31] fngoo opened #109 "Add support to use bitlaunch API for DO"
bitlaunch can do cryptocurrency payment for DO, no annoying check, pretty cool for Axiom.
DO payment is really a painful thing especially student like me.

[2020-09-20 06:51] ankushgoel27 commented on #104
Same here. axiom-scan also deletes input file

[2020-09-21 13:01] lecidhugo opened #110 "This should be installed on a local machine or VPS ?"
Hello,

In addition to the question in the title, here is another one:
Can we add more packages than the default ones ? is there any flexibility there ?

Thanks in advance,

[2020-09-26 06:28] k-sau commented on #76
I am still having problem with it. Anyone else facing the same issue?
![Screenshot from 2020-09-26 11-54-17](https://user-images.githubusercontent.com/7109945/94332022-0dae1300-ffef-11ea-8f50-d05c74a4f19a.png)

[2020-09-27 06:16] sillydadddy opened #111 "The installation is not stopping"
I am trying to install axiom in Ubuntu 20.04 .
It needed "apt-get install libnotify-bin" to start .

After that the  installation goes on for hours .In the the digital ocean activity tab its showing like this
![image](https://user-images.githubusercontent.com/61352069/94357490-e7ec4100-00b6-11eb-9b4d-94c54f32eaa6.png)
more than 20 times

thanks
siLLyDaddy

[2020-09-27 18:00] k-sau commented on #111
Have you noticed the reason why the installation is failing? Are you getting the same nuclei installation error(
https://github.com/pry0cc/axiom/issues/76#issuecomment-699438363)

[2020-09-27 18:04] sillydadddy commented on #76
I am also having issues with installation . But i am not sure why .

[2020-10-02 01:17] pry0cc commented on #110
Ideally both, but originally just your local machine. It will create other instances too once installed and configured. Depends I guess too if you want it to run in the background.

[2020-10-02 01:17] #110 closed

[2020-10-02 01:18] pry0cc commented on #109
Kind of out of our hands /shrug

[2020-10-02 01:18] #109 closed

[2020-10-02 01:18] pry0cc commented on #96
Hmm

I have no idea why this happens - does anybody?

[2020-10-02 01:19] pry0cc commented on #92
Did you run `axiom-build`?

[2020-10-02 07:09] paulocamboim commented on #108
Did you get it working? I'm having problems to connect to the droplet.

# Error on axiom-connect
me@xx:~/go/bin$ axiom-connect
/home/me/.axiom/.sshconfig: line 18: Bad configuration option: xx.xx.xx.107
/home/me/.axiom/.sshconfig: terminating, 1 bad configuration options

# sshconfig contents
me@xx:~/go/bin$ cat /home/me/.axiom/.sshconfig
Host recon
	HostName 10.124.0.2
xx.xx.xx.107
	User op
	Port

[2020-10-02 13:27] sillydadddy opened #114 "Getting error while installing"
Builds may fail every now and then, there are some known bugs in Ubuntu Server that cause this.
Im sorry, but it just fails sometimes, just sit back and relax and we'll try again until  it works ;)
Building image full for provider do... This can take up to 25 minutes so please be patient!
Ocassionally this will fail, we  don't know why, but it should auto-restart.
/root/.axiom/interact/axiom-build

[2020-10-02 13:33] sillydadddy commented on #114
sudo apt-get update && sudo apt-get install packer

installing packer manually solved it

[2020-10-02 15:16] Datacrass commented on #92
I had tried running axiom-build and it was successful initially. I was able to resolve the issue by removing all generated Hidden files through usage of the application and retrying.

[2020-10-02 15:16] #92 closed

[2020-10-02 15:39] #114 closed

[2020-10-02 15:50] pry0cc commented on #108
Have you updated to the latest version?

axiom-update

Thanks,

pry0cc

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, October 2, 2020 8:10 AM, Paulo Brito <notifications@github.com> wrote:

[2020-10-02 16:37] paulocamboim commented on #108
Yes, i did it. But still got the same error.
What I'm trying now is going from zero. I removed the **.axiom** folder and running axiom-configure.
I will let you know in this thread how it go.

Just an idea, it would be nice if we could use an already existing image that is created on Digital Ocean when executing **axiom-configure**

Thanks!

[2020-10-02 18:47] paulocamboim commented on #108
I still have the same issue.
I'm using Ubuntu 20.04

[2020-10-03 04:47] michael1026 commented on #108
I was running into this issue as well. I updated Axiom, then re-configured it using `axiom-configure`. Takes a while, but seems to have fixed the issue.

[2020-10-03 05:23] michael1026 opened #116 "axiom-execb can't find host"
Hello,

After updating to the latest changes for Axiom and re-configuring everything, I noticed `axiom-execb` runs into errors.

`axiom-execb "shuffledns -list domains.txt -r resolvers.txt -d example.com -o example.txt" "example01" `

Results in

[code]

I've verified I can connect to the host just fine using `axiom-connect example01`.

[2020-10-03 20:39] matglas opened #118 "Clean axiom-configure does not include interlace install needed to use axiom-scan."
**Problem:**
After installing axiom and running axiom-scan for the first time it can't find `interlace`.

**Solution:**
Add interlace install to axiom-configure or provide a notice to install interlace.

Partly copied from your setup in the packer build.
[code]

Note this was run on a Parrot OS machine.

[2020-10-07 09:11] praveenroot03 commented on #108
As @michael1026 said `axiom-update` and `axiom-configure` resolved the issue. Guess the new commit has resolved the issue. Also, the new feature to select the region is awesome.

[2020-10-07 09:11] #108 closed

[2020-10-07 09:39] staz0t opened #125 "axiom-scan error: Tries to validate droplet name as IPv4 address"
First, it's an awesome tool. I love it.
I wanted to try distributed scanning, and axiom-scan is giving errors which says that it could not validate "dropletname" as an IPv4 address. Unfortunately, I could not debug the issue and fix it. Below is the output. Any help would be appreciated!

[code]

[2020-10-08 07:17] tume70 commented on #125
I have the exact same issue on fresh install of Ubuntu 20.04 in digital ocean. I could guess this issue affects all new installations of axiom and all its interact modules.

[2020-10-08 08:06] staz0t commented on #125
It probably has something to do with the use of doctl to fetch the IPs of the droplets. I guess axiom-scan is still under development.

[2020-10-17 02:05] 0x540 commented on #125
It is an issue in the latest Interlace update - target hostnames without a period break it - see:  https://github.com/codingo/Interlace/issues/123

[2020-10-17 04:38] Isoterric commented on #125
^ this. The solution being put forward is pretty straight forward, so if you're feeling adventurous you could try doing the fix yourself. Just make the code change based on the [PR](https://github.com/codingo/Interlace/pull/124/files), reinstalled Interlace with `python3 setup.py install`. And you're good to go again!

[2020-10-17 09:20] k-sau commented on #76
Undoing: https://github.com/pry0cc/axiom/pull/78 fixed the problem

[2020-10-19 09:38] pry0cc commented on #125
Hey!

Also - just a word your syntax is off for the scan command. We have since changed since STÖK's video, the new syntax can be shown here https://github.com/pry0cc/axiom/wiki/Scans

Example:

`axiom-select 'fleet*'`
`axiom-scan input.txt --banners -p80,443 -o=output.txt`

[2020-10-19 09:38] #125 closed

[2020-10-19 09:38] pry0cc commented on #118
Dope!

[2020-10-19 09:38] #118 closed

[2020-10-19 09:39] #116 closed

[2020-10-19 09:40] pry0cc commented on #111
Yepp, if you don't watch it and ctrl+c after a few cycles then something is definitely off.

[2020-10-19 09:40] #111 closed

[2020-10-19 09:41] pry0cc commented on #104
The problem here is that we're cd'ing into a new directory, we should hard-code the input file and move it.

Like mv $src input.txt, then rm input.txt, rather than the src. It's because you're doing absolute path referencing. If you ran it against the local file, say `axiom-scan input.txt` it'll work fine. Just need to refactor that. I need to refactor a lot of scan, it needs some love :D

[2020-10-19 09:41] pry0cc commented on #96
Still nobody has any idea? 🗡️

Womp :D

[2020-10-19 09:42] pry0cc commented on #51
Added `axiom-account-setup` which includes a configuration helper for region!

[2020-10-19 10:28] tedmdelacruz commented on #104
Cool, I'll check it out too! 🙇 cheers!

[2020-10-20 02:24] staz0t commented on #125
Hey @pry0cc, thanks for letting me know! I'll try that

[2020-11-05 01:25] jona5pok opened #128 "tar (child): doctl.tar.gz: Cannot open: No such file or directory"
Saving to: ‘/tmp/doctl.tar.gz’

/tmp/doctl.tar.gz                                   100%[=================================================================================================================>]  11.87M  15.8MB/s    in 0.7s

2020-11-05 01:19:45 (15.8 MB/s) - ‘/tmp/doctl.tar.gz’ saved [12450872/12450872]

tar (child): doctl.tar.gz: Cannot open: No such file or directory
tar (child): Error

[2020-11-09 11:54] pry0cc commented on #104
Axiom-scan v2 should fix this, can anybody confirm?

[2020-11-09 11:54] pry0cc commented on #76
Niceee

[2020-11-11 22:42] #104 closed

[2020-11-17 21:36] cybertron10 commented on #128
same error

[2020-11-19 19:28] 0xtavian commented on #128
fixed in the latest merge, thank you.

`wget -O /tmp/doctl.tar.gz https://github.com/digitalocean/doctl/releases/download/v1.45.0/doctl-1.45.0-linux-amd64.tar.gz && tar -xvzf /tmp/doctl.tar.gz && sudo mv doctl /usr/bin/doct`

[2020-11-19 19:28] #128 closed

[2020-11-20 23:59] cybertron10 opened #140 "Can't generate html report"
nmap was unable to generate html report.

no such file merge.html error

![Screenshot 2020-11-21 at 5 25 43 AM](https://user-images.githubusercontent.com/56225601/99860830-4a932200-2bba-11eb-9ebc-17ddebaf2424.png)

[2020-11-21 00:44] #140 closed

[2020-11-21 00:44] cybertron10 commented on #140
Resolved

[2020-11-21 12:28] cybertron10 opened #141 "Jaeles Scanner"
Can you add Jaeles scanner and thanks for sharing such a great tool.

[2020-11-21 23:29] pry0cc commented on #140
Would you be able to provide your problem and fix for other people searching in future?

[2020-11-22 00:37] cybertron10 commented on #140
Nmap bootstrap xsl needs xsltproc which was not installed on ubuntu from digital ocean.

I used sudo apt-get install xsltproc

Since then axiom is able to convert XML files into html report. It will be good if you add this install command while installing axiom.

[2020-11-25 03:34] absane commented on #72
Randomly found this and thought i would comment. A better alternative is to rent GPUs from [https://vast.ai/](https://vast.ai/). You can build a quick bash script to launch  an instance, install a hashcat docker container, and get to cracking.

To make things easier, wrap your script around their python tool: https://raw.githubusercontent.com/vast-ai/vast-python/master/vast.py

[2020-11-25 18:39] 0xtavian commented on #141
@cybertron10 Can you try this and let me know if it works for you?

Update axiom-scan with the following
https://github.com/pry0cc/axiom/blob/da97418c2563836cdb77739a9867a23aefd3a84e/images/provisioners/full.json

create module/jaeles.json
https://github.com/pry0cc/axiom/blob/da97418c2563836cdb77739a9867a23aefd3a84e/modules/jaeles.json

jaeles-summary.txt and vuln-summary.txt are overwritten and w

[2020-11-25 21:14] cybertron10 commented on #141
@0xtavian It doesn't works installation was done but when I run
axiom-scan subdomain.txt -m jaeles -o jealesresults

This gives me jeales help options I guess we need to pass templates path as well

[2020-11-25 21:56] 0xtavian commented on #141
I believe that is expected behavior with jaeles. As you said, you need to provide templates. The default templates should already be initialized. Try running `axiom-scan targets.txt -m jaeles scan -s 'wordpress' -v`, for example. If you have specific templates that arent added let me know.

[2020-11-25 21:59] cybertron10 commented on #141
Is there a way I can add my own templates in both nuclei and jaeles.

[2020-11-25 22:23] 0xtavian commented on #141
Yes, for example running `axiom-exec "git clone https://github.com/cybertron10/Mysignature"` should download your signatures to all Axiom instances. You should be able to specify them inline with your jaeles command. For nuclei, download the templates to all boxes using any method and edit the module to point to the new templates https://github.com/pry0cc/axiom/blob/master/modules/nuclei.json

[2020-11-25 22:36] cybertron10 commented on #141
Thank you

For jaeles I edited the axiom-scan. Do I need to revert back to the original axiom-scan or no need to do so.

Just want to confirm becoz other tools should not stop working.

[2020-11-27 20:11] m0chan opened #149 "Add DNSGen to Supported Commands"
Title says it all :) - Would be great to distribute DNSGen over multiple hosts.

https://github.com/ProjectAnte/dnsgen

~ @m0chan

[2020-11-28 11:41] pry0cc commented on #149
https://github.com/pry0cc/axiom/commit/922ab57b035b2bff4b2f9dbbfc2d6a8e49d848a5

👍

[2020-11-28 11:42] pry0cc commented on #149
I'm an idiot... DNSGen is now preinstalled. Module incoming...

[2020-11-28 12:17] pry0cc commented on #149
https://github.com/pry0cc/axiom/commit/b28d119392e59d1a59a4b5d726cd3dfc2ea19107

;)

I had an idea for a playbook module too...

[code]

[2020-11-29 08:56] fngoo opened #150 "add Alibaba Cloud as optional server"

[2020-11-30 20:49] sulaimanzai opened #151 "oneforall package"
Hello pry0cc!

can you kindly add the https://github.com/shmilylty/OneForAll package to the axiom?

thanks in advance

[2020-12-01 02:16] michael1026 opened #153 "axiom-scan "No such file or directory""
Hello, when running axiom-scan, once finished, I get the following output...

[code]

I'm using bash, so `cp *` and `mv *` should work. I'm confused as to why they aren't and have been looking for solutions to this.

[2020-12-01 02:52] 0xtavian commented on #153
@michael1026  Can you paste the command and full output? Also, make sure you're using the most recent version of axiom-scan  https://github.com/pry0cc/axiom/blob/master/interact/axiom-scan

[2020-12-01 03:32] michael1026 commented on #153
Thanks! Just realized there were changes to axiom-scan yesterday. I think that fixed the issue. I'm pretty new to using axiom-scan, as I typically use custom scripts using `axiom-exec`, so I have a question. I'm running shuffledns through `axiom-scan example.txt -d example.com -m shuffledns -o output`. This is a pretty small subdomain list, so it should finish within seconds, but this is what I am

[2020-12-01 14:12] pry0cc commented on #153
It's shuffledns. I don't know why, but it does hang, I noticed that too.

I asked pdiscovery but nobody seems to know why? It seems to be a bug about launching shuffledns inside SSH.

In the meantime, massdns works, as does dnsx. So, sorry 😀 I don't know why. If somebody can find a workaround, I'll be super happy 😁

[2020-12-01 15:26] 0xtavian commented on #141
@cybertron10 Everything should work as expected. Please let us know if thats not the case. We've committed these changes to dev for now https://github.com/pry0cc/axiom/tree/dev

The following is a description of changes in dev.
"Creates a unique directory for every scan to work out of. This allows running multiple module at the same time without overwriting input/output files. The $control directo

[2020-12-01 15:26] #141 closed

[2020-12-01 16:59] michael1026 commented on #153
Got it. Thanks for the info. I'll let you know if I find a solution :)

[2020-12-01 16:59] #153 closed

[2020-12-01 18:55] michael1026 opened #155 "Feature Request: Ability to merge JSON output files"
When running axiom-scan, there's some great utilities for merging different types of files, but currently, JSON is not supported. Not sure if this would be a heavy lift, but as the default (or sometimes optional) output format of many tools, it'd be great to be able to merge all of the JSON output files into one final JSON file that's downloaded in the end. I don't think this would be too difficul

[2020-12-02 01:38] pry0cc commented on #155
Which tools have json output you'd like to merge?

[2020-12-02 02:37] michael1026 commented on #155
Most recently, I was thinking of writing a utility to setup Arjun, which outputs as a JSON file.

[2020-12-04 00:19] dst-mx559 opened #160 "osx dependency "shuf" not fulfilled by installer"
"shuf" is not installed by default on osx and parsing input scope files to fleets breaks.

to fix the issue, install coreutils via brew.

[2020-12-04 00:43] 0xtavian commented on #160
Thank you. We'll get this tested and added soon.

[2020-12-04 00:47] 0xtavian commented on #160
@dst-mx559 Can you uninstall coreutils and then rerun axiom-configure to test the new merge?

[2020-12-04 19:12] #160 closed

[2020-12-06 06:23] vschwaberow opened #161 "add Hetzner support"
Please add support for Hetzner dynamic cloud

[2020-12-06 13:46] pry0cc commented on #161
Do they support packer & have a CLI?

Please provide as many references as possible if you want to help get it migrated. The easier it is to do, the more likely it is to happen.

Examples of:
- Packer configurations that work with the provider
- A cli tool, with command examples on how to initialize an instance using an image, delete an instance, and list instances.
- Free credit or voucher to use

[2020-12-06 13:47] #149 closed

[2020-12-08 13:37] Lucaman97 opened #164 "Adding own tools"
Is it possbile to add your own tools?
If not is it possible to implement this?

Thanks

[2020-12-09 03:30] h1hakz opened #165 "Adding Linod Support"
Hi Team,

Is it possible to add linode sever support also.

Thanks
Ranjith

[2020-12-10 09:30] math-ematics opened #166 "No option to enter API-key for do"
No option to edit settings before install starts, and install can not run with no key added.

`Configuring your cloud account...
Axiom Account Setup
You can use this wizard to add new accounts, once made, use axiom-account to switch between profiles
Please enter your provider (Default 'do', options: 'gcp', 'ibm', 'azure'):

Please enter your GPG Recipient Email (for encryption of boxes): (optional

[2020-12-10 09:37] math-ematics commented on #166
no problem to create a new json from the do.json.example and then axiom-account with the new one.
Then axiom-build no problem , stuff works.

But the installer does not offer the option to edit info

[2020-12-10 12:36] sakyb7 commented on #166
yes having the same problem

[2020-12-10 22:13] 0xtavian commented on #166
@math-ematics @sakyb7 Thanks for bringing this to our attention. Can you both run axiom-update and try again? there was an issue with the port to Azure that caused the field being skipped. https://github.com/pry0cc/axiom/blob/master/interact/axiom-account-setup

[2020-12-11 03:00] #166 closed

[2020-12-13 18:35] pry0cc commented on #165
Yep :) If you want it bad enough, sponsor the project for $80 per month and it'll become a priority.

[2020-12-13 18:35] pry0cc commented on #165
https://github.com/sponsors/pry0cc

[2021-01-10 19:17] sumgr0 commented on #108
I've come back to axiom after a while and facing the same error message when connecting to the box created by axiom. I've already tried the suggested axiom-update and axiom-configure, but its not resolved on the Mac OS Big Sur...

Any pointers?

[2021-01-10 20:23] pxng0lin opened #167 "packer not auto installed on WSL Ubuntu"
I've installed WSL on my windows desktop and gone through the installation steps for axiom, nearly finished but then noticed it hadn't installed packer, see attached

![axion-nopacker](https://user-images.githubusercontent.com/60779090/104134477-a0e23d00-5381-11eb-915a-b0d45df3d0ea.jpg)

[2021-01-10 22:48] pxng0lin commented on #167
Update

It also doesn't install interlace, just found out whilst trying to execute axiom-exec, gave me an error advising
`line 83: Interlace: command not found`

[2021-01-12 09:54] ZultanH commented on #165
Linode support would be great! I found some resources that you may find useful to add it to the list of providers.
Packer support via https://www.packer.io/docs/builders/linode
Linode CLI tool https://www.linode.com/docs/guides/linode-cli/
Free $100 of credit https://www.linode.com/lp/brand-free-credit-short/

[2021-01-12 13:58] pxng0lin opened #168 "unable to run gospider"
I've checked the modules and found the gospider.json, I've attempted to run the axiom-scan against it but it brings back an error, please see image

`zsh:1: no such file or directory: /home/op/go/bin/gospider
Generated 10 commands in total
Repeat set to 1
zsh:1: no such file or directory: /home/op/go/bin/gospider
zsh:1: no such file or directory: /home/op/go/bin/gospider
zsh:1: no such file or dir

[2021-01-12 13:59] pxng0lin commented on #168
json contents:

`cat gospider.json
[{
        "command":"cat input | /home/op/go/bin/gospider -S - --depth 3 -v -t 50 -c 3 -o output",
        "ext":""
}]`

[2021-01-12 14:44] dogasantos commented on #164
it's a VPS running on cloud. You can just connect into it and install your tools.
If you don't want to do it manually, you can write a bash script to run git clone or whatever into each node.

[2021-01-12 17:48] 0xtavian commented on #168
thanks for letting us know. gospider was missing from the packer build. I went ahead and added it.

[2021-01-12 17:48] #168 closed

[2021-01-14 17:15] int0x33 opened #170 "You know computerz count from 0, right? n00b!"
I ask for 3, I get 4 u n00b!
[code]

[2021-01-14 18:29] pry0cc commented on #170
It's noted - there's been a lot of fuckery with the initialization piece, it needs help, thank you for stoking the fires to get this fixed, I'll fix it whenever I'm not snowed over.

[2021-01-14 18:36] int0x33 commented on #170
I forked and will try to take a look, was just kidding with the n00b! since you have it in axiom just rolling on with the trend :)

What about moving away from bash scripts, or you want to keep it simple? Would you accept pulls where whole scripts are replaced with say rust bins?

[2021-01-14 19:56] pry0cc commented on #170
I know what the problem is - in version < 1 we're keeping it Bash, but moving to something like Python or Go in the future is on the table.

I have probably 3-4 more commits that I haven't fully tested yet and just need to push them. I will get to it :)

[2021-01-16 16:58] pry0cc commented on #170
https://github.com/pry0cc/axiom/commit/2baafb360d85915261bb7af360d952f293d98c46

Yeeeet

[2021-01-16 16:58] #170 closed

[2021-01-16 18:13] g33kyshivam commented on #161
@pry0cc  @0xtavian I checked the Hetzner and seems like they have a good CLI support and packer package.
https://www.packer.io/docs/builders/hetzner-cloud
CLI
- https://community.hetzner.com/tutorials/howto-hcloud-cli
- https://docs.hetzner.cloud/
- https://github.com/hetznercloud/cli

There isn't much free credit available. But they have announced €10 in credits for a new user. https://twitter.co

[2021-01-18 12:17] ZultanH opened #172 "Ffuf module error - No such file /home/op/lists/pry-web-quick.txt"
When attempting to run the ffuf module using axiom-scan http.txt -m ffuf -o content.csv --threads 2 it would error out saying it couldn't find the default wordlist specified in the module.

[2021-01-18 18:15] pdelteil opened #173 "Add module Dalfox"
It would be nice to have this tool running in a distributed manner.

https://github.com/hahwul/dalfox

[2021-01-19 14:22] Techbrunch commented on #96
Looks like I'm running into a similar issue:

[code]

On my machine:
[code]

On the instance:

[code]

I'm using the latest version of Axiom on macOS Catalina.

@pry0cc Let me know if I can help you troubleshoot this issue.

[2021-01-19 14:23] pry0cc commented on #96
Hey- I have no idea why it would happen except for a bug with sed. Could you please try spinning up a fleet named something else?

[2021-01-19 14:27] Techbrunch commented on #96
Maybe a dumb question but do I have to create a fleet to use `axiom-scan`? In this case I only have one instance created using `axiom-init`.

[2021-01-19 19:26] pry0cc commented on #172
Ahh. Need to set a custom wordlist with -w,

I'd ssh into an instance, identify the wordlist you want and then run pwd to get the absolute path. Then supply that using -w :)

[2021-01-20 21:00] pry0cc commented on #172
Fixed when not specifying the -w option

[2021-01-20 21:00] #172 closed

[2021-01-21 04:38] EthicalKid1 opened #174 "Input file upload fails"
I have a setup where I used 15 digital ocean instances but have now switched to 5 instances with the massdns module. Currently, the output is empty ever since I switched to 5 instances. The input file is 9.5 million lines long of domain names with subdomains. I think its upload functionality that fails from the following screenshot.

![2021-01-20_22-37](https://user-images.githubusercontent.com/32

[2021-01-21 08:18] 0xtavian commented on #174
@EthicalKid1 Can you run `axiom-update` and try again? Also can you show the command you entered? The screenshot is missing a little from the top.
Also try to run `axiom-exec "uname -a" | wc -l`. This should return how many instances you have.

[2021-01-21 08:27] 0xtavian commented on #174
Dont run with `-q` to test. Also, is there any data on the instances or the local logs tar.gz? And make sure there arent any orphaned processes with `axiom-exec sudo ps aux`.

[2021-01-21 15:59] EthicalKid1 commented on #174
@0xtavian I ran `axiom-update` and I modified the massdns module to run without `-q` and it worked. I now get the expected output.

Thanks for your help.

[2021-01-21 15:59] #174 closed

[2021-01-21 21:49] EthicalKid1 opened #175 "Stop execution when all machines are initialized"
For `axiom-fleet` I notice that the program stops execution when the countdown hits 0. Why not have the program stop execution when all the machines are initialized instead of a countdown?

[2021-01-21 21:58] EthicalKid1 commented on #175
The reason for this is because I'm trying to script my recon with axiom and when `axiom-fleet` is done with execution sometimes all the machines are not initialized and my script executes `axiom-scan` and it causes the program to break because all the machines are not initialized.

[2021-01-22 17:12] 0xtavian commented on #175
@EthicalKid1
Thanks for bringing this up. This is due to API rate limits with creating instances. We've noticed if you initialize in batches of 10-15 this doesnt happen. We are going to either add a patch that limits the fleet sizes to 10 (If wanting to add 10 more you'd just run `axiom-fleet "$fleet" -i=10` again) or we are going to batch initialize if instances are greater than 10.
[code]

eithe

[2021-01-22 17:18] 0xtavian commented on #173
@pdelteil I've been meaning to get to this. Dalfox is installed but there just is no module for it. I might make a small guide on how to make modules instead. Would you be willing to follow the guide and make the module for it? Its not hard at all to add modules. One of the simplest modules that can be used as a template is dnsx https://github.com/pry0cc/axiom/blob/master/modules/dnsx.json

[2021-01-22 17:23] 0xtavian commented on #164
@dogasantos @Lucaman97 please see https://github.com/pry0cc/axiom/issues/173#issuecomment-765564851. Going to try to get to this soon.

[2021-01-22 17:28] pdelteil commented on #173
Hi there,

Thanks for your answer. I would love to make the module. I will try during the week end.

[2021-01-22 22:13] nullman0x opened #176 "amass preinstalled?"
I am trying
amass -version

getting error
zsh:1: command not found: amass

isn't preinstalled?

[2021-01-22 23:35] 0xtavian commented on #176
@nullman0x thanks good catch. it was included (twice actually once by mistake) just not added to path. you can run `axiom-exec "sudo cp /home/op/go/bin/amass /usr/bin"` to fix.

[2021-01-22 23:39] 0xtavian commented on #51
this has been long resolved :)

[2021-01-22 23:39] #51 closed

[2021-01-22 23:42] 0xtavian commented on #96
this was from a different issue unrelated to the scp issue https://github.com/pry0cc/axiom/issues/96#issuecomment-762870631. It has been resolved. Im closing this as I have not been able to repeat the OG issue and we've had many updates since. feel free to open a new issue if the problem persists @Techbrunch, just make sure you run `axiom-update` before you do.

[2021-01-22 23:42] #96 closed

[2021-01-22 23:43] 0xtavian commented on #96
@Techbrunch you can run axiom-scan with one instance yep!

[2021-01-22 23:51] 0xtavian commented on #173
@pdelteil https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules Im going to make another on adding tools that output to JSON or to a folder, but this should work for simple text output

[2021-01-22 23:52] 0xtavian commented on #173
accidental close :) We'll close when the module is added.

[2021-01-22 23:53] 0xtavian commented on #164
@dogasantos @Lucaman97 https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules let me know what you think!

[2021-01-22 23:53] #164 closed

[2021-01-23 01:14] #176 closed

[2021-01-23 02:28] 0xtavian opened #177 "Adding Support for All Other Cloud Providers"
This will serve as the master thread for discussing/suggesting porting axiom to another cloud provider. Becoming a premium sponsor will always get precedence. If you rather not wait or have a specific cloud provider you need, becoming a premium sponsor will get your suggestion prioritized and supported in all future axiom releases. This comes with custom tools and/or specific features.

For everyo

[2021-01-23 02:28] 0xtavian commented on #150
thanks @fngoo please see https://github.com/pry0cc/axiom/issues/177

[2021-01-23 02:28] #150 closed

[2021-01-23 02:29] 0xtavian commented on #161
thank you @vschwaberow and @g33kyshivam  please see https://github.com/pry0cc/axiom/issues/177 moving forward

[2021-01-23 02:29] #161 closed

[2021-01-23 02:30] 0xtavian commented on #165
awesome info. @h1hakz @ZultanH  we are closing this issue and merging all issues for cloud provider suggestions into one. https://github.com/pry0cc/axiom/issues/177

[2021-01-23 02:30] #165 closed

[2021-01-23 02:47] 0xtavian commented on #151
hey @sulaimanzai sorry about the wait. I've never used or even heard of OneForAll but tbh it looks bad freaking ass! If you dont wanna wait until we add it you can create your own module with the help of this new guide https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules. Unfortunately since I've never used the tool its going to take me a bit to go thru all the code and make a determination

[2021-01-23 02:47] #151 closed

[2021-01-23 02:48] 0xtavian commented on #167
@pxng0lin will get to this sooner or later. Another thing we need to add is to download and install python3 and make it default.

[2021-01-23 04:18] 0xtavian commented on #175
@EthicalKid1 run the script above in the meantime to spin up more than 15 instances without issue.

[2021-01-23 06:23] ZultanH commented on #173
Added code for it in pull request #178

[2021-01-23 07:08] 0xtavian commented on #173
@ZultanH were you able to test it and everything works as expected?

[2021-01-23 10:07] nullman0x commented on #176
how to run amass in parallel?
i could not find axiom module for it?
i want to run subdomain enumeration parallely for a domain

[2021-01-23 10:33] 0xtavian commented on #176
There is no axiom module for amass however it shouldnt be difficult at all to add one. Check out https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules. If you make a working module we will def commit it to master.
For now we have subfinder which is used to gather from certificate transparency logs sources. We also have massdns, and shuffledns for brute forcing. and DNSX for  just simple resol

[2021-01-23 14:14] ZultanH commented on #173
@0xtavian yes, the output doesn't look pretty in the main terminal screen but it does the job and works as expected

[2021-01-23 21:58] 0xtavian commented on #173
merged! thanks man!! :D

[2021-01-23 21:58] #173 closed

[2021-01-24 06:49] EthicalKid1 commented on #175
@0xtavian Thanks. Will do

[2021-01-25 17:55] sumgr0 opened #180 "Not able to access any box created by axiom"
Hi,

I've been trying to setup the axiom on my Mac running Big Sur over the Digital Ocean cloud services.

After I successfully create the box(es) using init or fleet commands, I'm unable to access the box via ssh or through scan command.

Looking at the file ~/.axiom/.sshconfig, I notice an unknown IP address: 178.128.143.10 getting listed under my existing VPS box on Digital Ocean not created us

[2021-01-25 18:19] sumgr0 commented on #180
Update: I just checked my IP addresses in the DO GUI, and figured that 178.128.143.10 belongs to my box running the ghost blog.

[2021-01-25 18:29] pry0cc commented on #180
It looks like you have two hosts named the same thing - check the web gui.

[2021-01-25 18:32] sumgr0 commented on #180
After a little bit of digging, the ghost blog box has one IPv4 and the other is the floating IP I'd setup ages ago, and never touched it...

[2021-01-25 18:36] 0xtavian commented on #180
@sumgr0 you'll need to delete the box on DO GUI, axiom wont be able to. You could also manually edit the ssh config to remove the problem hosts and run axiom-scan with --cache. This skips the API call for axiom-ls. Its due to the way axiom parses the inventory.

[2021-01-25 18:50] sumgr0 commented on #180
@0xtavian thanks your suggestion of **$HOME/.axiom/interact/axiom-exec and change cache to true** worked and axiom is now able to connect to the box(es)

[2021-01-25 18:51] #180 closed

[2021-01-26 14:04] nullman0x opened #181 "ssh issue"
i have added ssh key without password at

~/.ssh/id_rsa.pub
~/.axiom/configs/authorized_keys

and build the instance
axiom-build

when axiom-init
all new instances are asking for password, though the ssh key has no password set

need help

[2021-01-26 14:08] nullman0x opened #182 "ssh issue asking for password"
i have added ssh key without password at

~/.ssh/id_rsa.pub
~/.axiom/configs/authorized_keys

and build the instance
axiom-build

when axiom-init
all new instances are asking for password, though the ssh key has no password set

need help

[2021-01-26 14:09] #181 closed

[2021-01-26 16:01] hahwul opened #183 "Question of install multiple devices"
@pry0cc
Hi buddy :D
I have a question about Axiom. Is there any way to share instance information between multiple platforms? If I install the axiom on another device after setting it up on my Macbook, it seems to be make instance image again. Let me know if there's anything I missed 🙏🏼

------
== Content not related to the issue ==
Oh, and there's a `discussions` in the github. I think we can sep

[2021-01-26 16:44] 0xtavian commented on #182
@nullman0x what platform are you running Ubuntu or Mac? Are you able to SSH into the instances without axiom? SSH op@IP port 2266

[2021-01-26 16:58] 0xtavian commented on #183
@hahwul For now you can share the axiom profile between computers. Your account profile is in `~/.axiom/account/<your-account>.json`, which contains your API key. To install Axiom without spinning up a box, clone the repo with the new machine to `~/.axiom` with `git clone https://github.com/pry0cc/axiom ~/.axiom/`, and uncomment the build script https://github.com/pry0cc/axiom/blob/master/interact

[2021-01-26 17:39] 0xtavian commented on #183
I like the idea of making this a discussion tho. But I dont have the permissions to do so. @pry0cc can you make a discussion for this? @hahwul we've been thinking about this for a week or so now about the best way to share a fleet.
To share a fleet between two computers you own, the above works fine. But if sharing a fleet with someone your collaborating with, you might not what to share an API ke

[2021-01-26 17:42] nullman0x commented on #182
@0xtavian i am using Ubuntu
No i am not able to enter the instance directly
 SSH op@IP port 2266

it is asking for password

[2021-01-26 17:42] nullman0x commented on #182
op@x.x.x.x's password:
Permission denied, please try again.

[2021-01-26 17:49] 0xtavian commented on #182
to be clear your running `ssh ip@axiom-ip -p 2266`? If youre unable to connect to these boxes than your ssh key hasnt been uploaded to the right box. Delete the local ssh pub and private keys, delete axiom, generate new ssh keys and run axiom-configure.
[code]

[2021-01-26 17:50] 0xtavian commented on #182
@nullman0x
Also do a dist-upgrade before installing axiom for good measure
`sudo apt-get update && sudo apt-get dist-upgrade -y`

[2021-01-26 17:53] nullman0x commented on #182
hold on let me try your steps @0xtavian

[2021-01-26 18:24] nullman0x commented on #182
@0xtavian
i tried all steps still having same error
i am using DO cloud with ubuntu

[2021-01-26 18:50] nullman0x commented on #182
@0xtavian
![image](https://user-images.githubusercontent.com/77861653/105890512-79ec6200-6035-11eb-915f-46294303ca1b.png)

[2021-01-26 19:12] 0xtavian commented on #182
@nullman0x I see the issue. You are running axiom-configure with sudo. Drop the sudo or move the ssh keys to the appropriate user.

[2021-01-26 19:13] 0xtavian commented on #182
I would create a new user, add them to sudoers and re-install as a user. The configure script will prompt for creds when sudo is needed.

[2021-01-26 19:15] 0xtavian commented on #182
Also when you are testing ssh access, do it without axiom-ssh. `ssh op@<moore13-ip> -p 2266`.

[2021-01-26 19:17] nullman0x commented on #182
@0xtavian  ok let me try
I tried earlier without root user, but that time also had same error
then i thought to try with root user

Yes I am also checking with this
ssh op@<moore13-ip> -p 2266

let me try one more time now, i will get back to you in 15 minutes

[2021-01-26 19:56] nullman0x commented on #182
@nullman0x
am i missing something ?

![image](https://user-images.githubusercontent.com/77861653/105897809-aa84c980-603e-11eb-8ab6-545cbefc1ae0.png)

[2021-01-26 20:03] nullman0x commented on #182
same error again
![image](https://user-images.githubusercontent.com/77861653/105898583-a0af9600-603f-11eb-872a-bc204bc116d2.png)

[2021-01-26 20:26] 0xtavian commented on #182
@nullman0x  yea for sure u r missing something. did you run sudo apt-get dist-upgrade? also install unzip and paste the full output to a pastebin (remove ur DO api key first).

[2021-01-26 20:28] 0xtavian commented on #182
@nullman0x running axiom-configure installs unzip. idk how u missed that. Run `bash <(curl -s https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-configure)`.

[2021-01-26 20:29] nullman0x commented on #182
@0xtavian  ok i will give you output with this
bash <(curl -s https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-configure)
please wait

[2021-01-26 20:31] 0xtavian commented on #182
ty run `bash <(curl -s https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-configure)` as a low-priv user and try again, please provide full output.

[2021-01-26 20:32] nullman0x commented on #182
@0xtavian

the current user is op, i have created is also a sudo user

[2021-01-26 21:27] mchoji commented on #182
I am facing the same error. Apparently, there is a problem with the script used to build the image at DO. I see several errors regarding dpkg and missing user op.

I will try to build this image manually and see where is the problem at.

[2021-01-26 21:50] nullman0x commented on #182
@0xtavian

log attached
so i created a new vmware vm in ubuntu
i am stilling getting errors

ran these commands
sudo apt-get update && sudo apt install curl -y && sudo apt-get dist-upgrade -y

bash <(curl -s https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-configure)

[log.txt](https://github.com/pry0cc/axiom/files/5876345/log.txt)

[2021-01-26 21:58] 0xtavian commented on #182
@mchoji you are correct @nullman0x sorry for the wild goose chance. I am also investigating.

[2021-01-26 22:05] nullman0x commented on #182
@0xtavian  thanks please investigate
I thought I made some mistake, because few days when I used the same script it worked, but when I tried to install it today, not working at all.
I spent my day&night only trying to install this

[2021-01-26 22:09] pry0cc commented on #182
I'm trying it out now. I'm aware of the issue but I won't fix it tonight. I'll get this resolved.

[2021-01-26 22:10] pry0cc commented on #182
It's probably some bullshit update from Ubuntu or DO that is breaking a package somewhere. I expect it'll be simple and there will be many others complaining soon enough.

Stay tuned.

[2021-01-26 22:19] pry0cc commented on #182
![image](https://user-images.githubusercontent.com/4334403/105913313-a20a9f80-5ffa-11eb-9358-eb88f45a3688.png)
Probably the issue

[2021-01-26 22:26] pry0cc commented on #182
Does this fix work?

https://github.com/pry0cc/axiom/commit/c304a0406c23d96535c170a66bc6215eb852394d

if so - merge it with master. I'm off.

[2021-01-26 22:34] 0xtavian commented on #182
didnt work for me

[2021-01-26 22:55] pry0cc commented on #182
build completed, checking to see now if I can ssh in...

[2021-01-26 23:14] mchoji commented on #182
I got some errors in the end...not sure what it will impact though.

![2021-01-26_20-01.png](https://user-images.githubusercontent.com/7395296/105918663-304b4980-602c-11eb-814d-8e73a197849e.png)

[2021-01-26 23:15] 0xtavian commented on #182
@nullman0x @mchoji, thanks for bringing this. @pry0cc has pushed a fixed. I can confirm that it works. run axiom-update and try again.

[2021-01-26 23:50] nullman0x commented on #182
@0xtavian  working fine now
thanks @pry0cc
closing this issue

[2021-01-26 23:50] #182 closed

[2021-01-27 14:32] hahwul commented on #183
@0xtavian @pry0cc
Oh, thank you so much! I understood it😍
It's really nice to hear that you're also discussing the axiom-share! First of all, my curiosity has been solved, so I'll close the issue! I'll be waiting for the opening of discussion!

[2021-01-27 14:32] #183 closed

[2021-01-28 08:05] 0xtavian opened #185 "unix_listener: cannot bind to path No such file or directory"
fix with `mkdir $HOME/.ssh/sockets`

[2021-01-29 23:07] Mirabis opened #187 "Improvement/Fix: Re-use Azure credentials from config for Packer build"
The addition of `"use_azure_cli_auth": true` in axiom.json will tell packer to use the credentials saved in the steps before. [Docs](https://www.packer.io/docs/builders/azure)

**Why?**
I use Azure in a corporate environment where plain `az login` is not allowed regardless of being able to open the browser or 2FA being present. The only way to interact with Azure CLI interactively is to use `az lo

[2021-01-30 00:00] pdelteil opened #188 "[issue] axiom-configure doesn't install several packages"
Hello,

I tried to run the axiom-configure on a Kali 2020.4 instance, but the following packages were not installed correctly:

- interlace
- packer
- doctl

As a workaround I just ran the installations commands in axiom-configure manually:

interlace
[code]
packer
[code]

doctl

[code]

[2021-01-30 04:02] pdelteil opened #189 "Add bc as dependency [Kali]"
I was running the axiom-fleet and got some errors due to bc not installed:

![Screenshot from 2021-01-30 01-01-16](https://user-images.githubusercontent.com/20244863/106346549-bcf94000-6296-11eb-966c-8248c1c665a2.png)

[2021-01-30 04:27] pdelteil opened #190 "[Issue] App not handling correctly droplets limit"
I was trying to create a fleet with 15 instances, but my initial limit was 10.

So, I got this error:

![Screenshot from 2021-01-30 01-22-23](https://user-images.githubusercontent.com/20244863/106347051-4a8a5f00-629a-11eb-9bd3-99f02e88552c.png)

[2021-01-30 12:11] ZultanH opened #191 "Change colour of blue text in "axiom-ls""
The dark blue colour on a black terminal background makes it essentially impossible to read what the text is in the output of axiom-ls. Would recommend changing it to something more readable in contrast to a black background.

[2021-01-30 12:50] nullman0x opened #192 "how to backup settings and move axiom?"
how can I backup whole of an instance
not just the files listed in ~/.axiom/boxes/backup-files.txt
 ?

[2021-01-30 21:06] nullman0x commented on #192
also I have made some custom changes to the boxes.
how can I backup the box and replicate it as fleets?

[2021-01-30 22:02] pdelteil commented on #189
Also jq

[2021-01-30 22:47] pdelteil opened #194 "[Kali][issue] Using zsh"
So, I tested Axiom in a couple of Kali instances (2020.4) and adding the other issues I created it works fine.

The only detail remaining is to apply the changes to the .zshrc file to be 100% functional, so just add

`source ~/.zshrc `

[2021-01-31 07:16] math-ematics commented on #190
And you requested a higher fleet cap at Digital ocean via your settings? Since the max is 10 at DO if you do not manually ask for more

[2021-01-31 12:10] nullman0x commented on #192
i want to backup a whole box and it's configurations
not just the files listed in ~/.axiom/boxes/backup-files.txt

how to do this?

[2021-01-31 12:15] nullman0x commented on #192
also how to archive a nbox without gpg encryption
axiom-boxes archive <name>

I am getting error
gpg: jaa01.tar.gz: encryption failed: Invalid user ID

[2021-01-31 20:26] Mindslave opened #199 "Fedora configuration option using apt"
Hey,

I noticed that in `interact/axiom-configure` in the fedora specific part of you use apt, shouldn't it be dnf or yum?

See line 92-94
[code]

further down in line 100 you do acctually use dnf

[code]

If wanted I can try to figure out the package names for dnf accordingly and set up a pull request in the next few days.

While Im at it, I appreciate your work on this project, seems awesome so

[2021-02-01 01:38] pry0cc commented on #190
Yeah you'll need to speak to support and ask for an increase!

[2021-02-01 01:38] #190 closed

[2021-02-01 01:39] pry0cc commented on #191
Can you show me a screenshot? looks fine in both my setups!

[2021-02-01 01:39] pry0cc commented on #199
Fixed!

[2021-02-01 01:39] #199 closed

[2021-02-01 01:44] pry0cc commented on #187
Can you possibly work up a pull request?

[2021-02-01 01:44] #185 closed

[2021-02-01 01:45] pry0cc commented on #194
Merged!

[2021-02-01 01:45] #194 closed

[2021-02-01 01:46] pry0cc commented on #192
Archive is only gpg encryption, to snapshot a host you need to use snapshotting in the DO panel.

[2021-02-01 01:46] #192 closed

[2021-02-01 02:08] ZultanH commented on #191
![Screenshot_21](https://user-images.githubusercontent.com/43057246/106406775-11aedd80-6486-11eb-8361-99c24011ec8d.png)
I'm using PuTTY so it could be that as well.

[2021-02-01 09:18] nullman0x opened #201 "Digitalocean account locked out due to axiom"
account got locked out for running axiom, axiom is the only tool used
used only few droplets

any alternative
please provide a option to deploy axiom on any VPS ?

[2021-02-01 11:03] gsilvapt commented on #189
jq is already supported: https://github.com/pry0cc/axiom/blob/master/interact/axiom-configure#L95

bc support is added in this PR #202

[2021-02-01 11:06] gsilvapt commented on #188
It would help if you could paste here the logs of the errors so we can identify and push fixes for it. Thanks! :pray:

[2021-02-01 11:06] gsilvapt commented on #188
Can you paste some error logs to help understanding why they failed installing? Thanks!

[2021-02-01 13:03] rst10124492 commented on #191
In Putty, go to Connection - Data, change Terminal-type string to xterm-256color save the session and log in again.

[2021-02-01 13:04] rst10124492 commented on #201
Have you asked DO why they blocked your account?

[2021-02-01 13:15] nullman0x commented on #201
yes due to axiom mass scaning

[2021-02-01 14:58] rst10124492 commented on #201
I never got my account blocked and I am mass scanning daily and I am not alone. Make sure to let them know you're scanning organisations that allow it because that's what you're scanning, right?

[2021-02-01 15:00] nullman0x commented on #201
yes only targets in scope are scanned

[2021-02-01 15:00] nullman0x commented on #201
how old is your account?

[2021-02-01 15:00] nullman0x commented on #201
and how many droplet you use

[2021-02-01 15:03] nullman0x commented on #201
i am sure I am not the only one
https://twitter.com/w3Nicolas/status/1134529316904153089

[2021-02-01 15:05] geeknik commented on #201
Strange. My DO account is almost 8 years and I have a couple hundred droplets running and I've never been suspended from the service even after receiving multiple abuse reports.

[2021-02-01 15:08] nullman0x commented on #201
never heard digitalocean allowing more than 10 droplets
I guess you used digitalocean used for some other purpose initially

[2021-02-01 15:13] geeknik commented on #201
I don't know about all of the problems other people are having but we just emailed support one day and asked for a bump in our limit and they asked us to justify it and the rest is history. Good luck!

[2021-02-01 17:49] pdelteil commented on #190
I'm sorry I couldn't answer before.

What I meant is that the app is not handling that problem correctly.  I guess it might (if possible) check if the amount of droplets you want to add to a fleet is less or equal to the amount of droplets available.

If you notice the app is not failing correctly, is creating the amount of droplets available but it keeps trying to initiate droplets that do not ex

[2021-02-01 17:52] pdelteil commented on #189
Yes, that's not what I mean.  jq and bc are dependencies required in the 'parent' host from where you are running axiom, not in the image.

[2021-02-01 18:06] pdelteil commented on #188
Hello there @gsilvapt they just were not installed, didn't get any error output from the installing script (axiom-configure), I just realized this packages were missing after running axiom-init

After this issue is fixed you axiom will be Kali tested and supported :D

[2021-02-01 20:22] nullman0x commented on #201
there goes the thread https://twitter.com/pry0cc/status/1356249648118308865
digitalocean is a mess

has anyone used it on IBM or any other VPS
I need help

[2021-02-02 15:40] nullman0x commented on #201
left digitalocean

[2021-02-02 15:40] #201 closed

[2021-02-02 15:41] nullman0x opened #203 "linode image 18gb"
hi
axiom image building is failing

I dont have 18gb image feature
i asked the linode team they did not enable it for me, they seems they wont do that for new accounts

is there someway to reduce the size of image when building it?

what to do? any workaround ?? @pry0cc

[2021-02-02 17:41] nullman0x commented on #203
how to build and download image over SSH ?
@pry0cc

[2021-02-02 18:53] bing0o opened #204 "i can't start a new droplet using axiom"
i'm having an issue with axiom, at first it was working all fine, but now i can't start a new droplet(s) using axiom

![axiom-issue](https://user-images.githubusercontent.com/25457545/106648040-047e1580-6590-11eb-98fc-233df4ee450b.png)

any solution !.

[2021-02-02 19:38] 0xtavian commented on #204
that region might be full. Try a different one. @bing0o

<img width="409" alt="Screen Shot 2021-02-02 at 1 37 56 PM" src="https://user-images.githubusercontent.com/21030907/106653002-de3e8280-655b-11eb-83d4-984820a8a53a.png">

[2021-02-02 20:09] Mirabis commented on #187
I'll queue it for the weekend.

[2021-02-02 20:28] bing0o commented on #204
yea you're right @0xtavian that's the problem, thanks :]

[2021-02-02 20:38] bing0o commented on #204
yea you're right @0xtavian that's the problem, thanks :]

[2021-02-02 20:47] nullman0x opened #205 "axiom-init not working"
hi
 on linode the image is created successfully and i can find it on the linode images panel
![image](https://user-images.githubusercontent.com/77861653/106660097-981e0900-65c5-11eb-861d-d776a1202d33.png)

but axiom-init is not loading (waiting since minutes)

![image](https://user-images.githubusercontent.com/77861653/106660418-f945dc80-65c5-11eb-86f8-49ff7a277072.png)

What's wrong?

[2021-02-02 21:35] nullman0x commented on #205
i tried multiple times
same issue
need help

[2021-02-02 21:36] #204 closed

[2021-02-02 22:01] #203 closed

[2021-02-02 22:35] #205 closed

[2021-02-02 23:40] CuriousIncident opened #206 "axiom-scp privilege issue"
I'm trying to copy over my amass config file, but I am getting an privilege error, am I not signed in as root? I will look into axiom-scp and try to solve this as i haven't seen similar reports it might be an issue of my setup.
I'm running Kali Linux I tried both I hope correctly running as a user and as root.

`uname -a: Linux Boot 5.10.0-kali2-amd64 #1 SMP Debian 5.10.9-1kali1 (2021-01-22) x86_6

[2021-02-03 00:28] 0xtavian commented on #206
@CuriousIncident try `axiom-scp /root/dom/ama/config1.ini edison29:/home/op/lists/config.ini`.

[2021-02-03 00:29] 0xtavian commented on #205
@nullman0x all good?

[2021-02-03 06:42] abdulsec commented on #167
install unzip
sudo apt install unzip
you should install unzip first , because its required to unzip packet
then intall

[2021-02-03 15:24] Hebx opened #208 "Axiom-Build fails at creating image for Linode"
Hi , I'am having this issue on Wsl 2 Kali Linux & on Linode Ubuntu 20.04 LTS . I've installed all dependencies prior to launching the script eventho the error keeps occuring in loop.

![image](https://user-images.githubusercontent.com/33012322/106767064-67c08400-6632-11eb-8403-890e7699b6db.png)

[2021-02-03 16:54] 0xtavian commented on #206
Additionally you have root access with sudo. the sudo password is your API key. Going to close this issue. Please reopen if you need.

[2021-02-03 16:54] #206 closed

[2021-02-03 17:02] 0xtavian commented on #177
Linode is officially supported! Make sure to request a image storage upgrade from support or you wont be able to use Axiom. There is an open during setup to auto submit your support request.

[2021-02-03 21:43] Hebx commented on #208
axiom-build script was pointing to full.json provisioner with a digital ocean build. a modification of the full.json file for a linode build resolve the issue.

[2021-02-03 22:55] Hebx commented on #208
The issue has nothing to do with this modification , reopening the issue for more investigation.

[2021-02-04 01:43] kusayuzayushko opened #209 "Update rustscan to v 2.0"
Currently, it's outdated as hell.

[code]

`wget https://github.com/RustScan/RustScan/releases/download/2.0.1/rustscan_2.0.1_amd64.deb`
`sudo dpkg -i rustscan_2.0.1_amd64.de`

[2021-02-04 02:12] kusayuzayushko opened #210 "Problem starting metasploit"
[code]

Is it just not enough space or something else?

[2021-02-04 05:36] kusayuzayushko opened #211 "axiom-init fails at creating node on Linode."
![image](https://user-images.githubusercontent.com/521312/106849209-e0801880-66e4-11eb-8f02-cd8eb6646777.png)

my config for linode:

[code]

[2021-02-04 12:03] pry0cc commented on #211
Change default_size to g6-nanode-1

[2021-02-04 12:04] pry0cc commented on #210
Looking in to this..

[2021-02-04 12:05] pry0cc commented on #209
Good call! Thanks

[2021-02-04 12:08] pry0cc commented on #210
So - it seems that the Linode nanode machines have TINY hard disks and so running metasploit actually fills the disk of the box.

Try using a bigger instance, g6-standard-1 - put this into ~/.axiom/axiom.json under default_image and try a new instance and tell me if that worked!

[2021-02-04 12:09] pry0cc commented on #208
You need to increase your image size to 18GB, on account setup you are prompted if you would like to open a ticket - did you select yes?

If you did - please check in with Linode support and ensure they increase your image size to 18GB - this is required to run axiom :)

Thanks

[2021-02-04 12:10] #191 closed

[2021-02-04 12:11] pry0cc commented on #167
Does that latest update fix this?

[2021-02-04 12:56] kusayuzayushko commented on #210
it wasn't nanonode, i was using g6-standart-1

[2021-02-04 14:09] kusayuzayushko commented on #211
I'm an idiot: was using "g6-standart" instead of "g6-standard". Closing.

[2021-02-04 14:10] #211 closed

[2021-02-04 15:40] kusayuzayushko commented on #210
For some reason, axiom made nanode instead of standard. Is it my fault? Any idea what am i doing wrong?

![image](https://user-images.githubusercontent.com/521312/106908470-ea7c3880-6731-11eb-8fb7-14c550ba0a4e.png)

![image](https://user-images.githubusercontent.com/521312/106916488-d0deef00-6739-11eb-82ac-11f9e31ea33b.png)

[2021-02-04 17:40] nullman0x opened #212 "linode private ip ssh help"
hi

i want axiom to communicate via private ip such as 192.168.x.x to other nodes
i dont want to use public ip

how to do this ??

[2021-02-04 17:43] nullman0x commented on #212
once a fleet is generated
each of the instance can be alloted a private ip via linode control panel

now I want to use the private ip to connect to all other fleet instead of public ip

[2021-02-04 17:46] nullman0x commented on #212
if the instance has private ip

then axiom-ssh wont run

![Uploading image.png…]()

[2021-02-04 17:51] nullman0x commented on #212
as observed the file .sshconfig writes both public ip and private ip to .sshconfig if private ip is alloted for the instance

![image](https://user-images.githubusercontent.com/77861653/106934130-c293d180-673f-11eb-9c89-1ae5e42cb701.png)

[2021-02-04 22:15] Hebx commented on #208
I understand now that linode images are limited in size and axiom requirement exceed that default data limitation.
I open a ticket for the image increase request.
Thanks

[2021-02-04 22:15] #208 closed

[2021-02-05 00:42] bing0o opened #213 "some questions !"
hello,
thanks for this great tool, and i want to ask some question if is't possible
1 i want to know if it's possible to create a new instance not with the default size: my default size is "s-1vcpu-1gb" and i want to create a new one with "s-2vcpu-4gb"
2 the second one is i wanna know if i can turn an (instance or fleet) off using axiom

thanks in advance .

[2021-02-05 00:45] pry0cc commented on #213
You can spin up a single instance with axiom-init --size=yoursize
But you can't spin up a fleet without changing the default size just as yet. Our general guidance has been just to update the file, but we could add a size flag to the fleet command too.

Secondly, there are no power options for axiom mainly because it doesn't have an affect on charges (last i checked I might be wrong)

[2021-02-05 00:48] pry0cc commented on #212
I'll think about a fix for this one using the ipv4[] good catch

[2021-02-05 00:49] pry0cc commented on #210
That's super weird! Maybe rm it and try again?

[2021-02-05 00:59] geeknik commented on #213
DO still charges for powered off resources. Unsure about other providers.

[2021-02-05 01:02] bing0o commented on #213
@pry0cc @geeknik thank you so much guys

[2021-02-05 01:02] #213 closed

[2021-02-05 03:31] kusayuzayushko commented on #210
I've rebuilt everything, but no luck.

![image](https://user-images.githubusercontent.com/521312/106985917-e89b8f00-679c-11eb-949f-a8512e1085c1.png)
![image](https://user-images.githubusercontent.com/521312/106986022-17196a00-679d-11eb-910c-80945334fee9.png)

[2021-02-05 11:04] nullman0x commented on #212
ok
is it possible to use api key of one linode account to create image and create fleet on another account linode api key

[2021-02-05 22:33] 0xtavian commented on #212
@nullman0x only if the Axiom image is publicly accessible. I dont know if Lindo offers this but they very well might.

[2021-02-05 22:35] 0xtavian commented on #209
thanks @kusayuzayushko !

[2021-02-05 22:35] #209 closed

[2021-02-05 22:37] 0xtavian commented on #189
I believe this was fixed yesterday, let us know if that is not the case. Im going to close this issue, feel free to reopen.

[2021-02-05 22:37] #189 closed

[2021-02-05 23:30] nullman0x commented on #212
i am getting a weird error
when I ran axiom-scan

/root/.axiom/interact/axiom-scp: line 99: rsync: command not found
/root/.axiom/interact/axiom-scp: line 99: rsync: command not found
/root/.axiom/interact/axiom-scp: line 99: rsync: command not found
/root/.axiom/interact/axiom-scp: line 99: rsync: command not found

though the command, the output results did not get collected and result is empty

[2021-02-06 00:47] pxng0lin opened #214 "unable to run axiom-scan"
**I've tried to run axiom-scan with WSL ubuntu and just now my kali install, done this evening and im still getting the same error.

I tried with both dnsx and httpx

error:**

`kali@kali:~/a_pxngb0x/tools/Sudomy/output/02-05-2021/brexily.com$ axiom-scan httprobe_subdomain.txt -m httpx -o httpx-brexily.txt

Module: [ httpx  ] | Input: [ 42 targets ] | Instances: 10 [ kx01 kx02 kx03 kx04 kx05 kx06

[2021-02-06 03:57] Hebx commented on #210
Linode only gives you access to the image size that you requested for your instance storage at first . what you need to do is adding a disk of the unallocated storage from your axiom image and making it as a root (dev/sda) then reboot the linode instance .

[2021-02-06 13:36] nullman0x commented on #212
subfinder.txt

[2021-02-06 13:36] #212 closed

[2021-02-06 22:03] pry0cc commented on #214
ModuleNotFoundError: No module named 'colorclass' ? Do you need to install the dependencies first when installing interlace?

pip install -r requirements.txt inside the interlace folder?

[2021-02-08 17:41] 0xtavian commented on #187
thank you!

[2021-02-08 17:41] #187 closed

[2021-02-08 17:53] pry0cc commented on #188
Can you please try out the latest push and tell me if it works now?

[2021-02-08 19:01] 0xtavian commented on #214
updated WSL setup (couldnt test) and tested with Kali, kali is working. If you can test and close the issue if its resolved that would be great. thank you!

[2021-02-09 16:50] 0xtavian commented on #188
Thanks, this has been resolved.

[2021-02-09 16:50] #188 closed

[2021-02-10 17:10] 0xtavian commented on #167
Please reopen if this is not fixed.

[2021-02-10 17:10] #167 closed

[2021-02-10 17:10] 0xtavian commented on #214
please reopen if this is not fixed.

[2021-02-10 17:10] #214 closed

[2021-02-11 02:14] KingOfBugbounty opened #218 "Add findomain + fff"
Hello pry how are you?

can you add findomain? fff?

https://github.com/Findomain/Findomain

https://github.com/tomnomnom/fff

Thanks bro.

[2021-02-12 00:48] kmskrishna opened #219 "How good is the support for GCP?"
I tried configuring Axiom for GCP and faced some errors. It worked perfectly for Digital Ocean.

So how well does Axiom work for GCP. Am I doing something wrong or is it still under development for GCP?

[2021-02-12 10:30] pry0cc commented on #219
It's under dev - you're good.

Now that we have ST sponsorship I'm going to work more on GCP integration.

Hang in there :)

[2021-02-12 18:24] 0xtavian commented on #218
@KingOfBugbounty sorry for the late reply, will try to get this done this weekend! great suggestion

[2021-02-13 13:13] cocoonkid opened #220 "Feature request - Provide AUR package"
Feature request: Please offer an AUR package for arch :+1:

[2021-02-13 14:12] cocoonkid commented on #177
Hetzner is already in the list!  Nothing to add :+1:

I wlll try my luck with k8s and report back.

[2021-02-13 14:12] ArpitKubadia opened #221 "Add npm and nodejs in new boxes"
I am not sure if this is already getting installed or not, but on creating a new box and typing npm, the output shows that it does not exist.

[2021-02-13 14:14] cocoonkid opened #222 "Feature request: Rustscan, Feroxbuster"
Please add Rustscan, Feroxbuster as packages.

[2021-02-13 23:03] evilpacket opened #224 "linode 404 every single axiom-build"
From a fresh kali instance I recently installed axiom and configured it for linode. I had previously had axiom working on this linode account and had gone through the support process to get bumped beyond 18gb (both times on us-west). Now on the new kali instance every single time I run axiom-build I get a 404 for the image as demonstrated below. I haven't been able to figure out why it's happening

[2021-02-13 23:05] pry0cc commented on #224
Would you be able to show me a screenshot of your images tab here: https://cloud.linode.com/images ?

[2021-02-14 00:00] evilpacket commented on #224
I also noticed that the console popped up an error that was to the effect of "failed to create image..."

<img width="1088" alt="Screen Shot 2021-02-13 at 3 59 28 PM" src="https://user-images.githubusercontent.com/115769/107864777-94d01c00-6e14-11eb-86cb-f36f66387605.png">

[2021-02-14 00:01] evilpacket commented on #224
Looks like I was wrong on the zone.... but I did try both zones to be sure :/

[2021-02-14 11:07] pry0cc commented on #224
You're probably hitting your image size limit, I'd recommend deleting these images through the web panel and then trying axiom-build again.

We need to write in a function that automatically deletes the old images - I'll add that to my list :) Please let me know if that works ^^

[2021-02-14 18:49] evilpacket commented on #224
You were absolutely correct, deleting all of my images took care of the issue and my axiom-build was successful. I was originally thinking the image size constraint was each individual image not the total amount of images stored...

Thanks for your help!

[2021-02-14 18:49] #224 closed

[2021-02-15 14:25] KingOfBugbounty commented on #218
Thanks @0xtavian :)

[2021-02-16 03:56] pry0cc commented on #218
Testing this now...

[2021-02-16 04:43] pry0cc commented on #218
https://github.com/pry0cc/axiom/pull/227

Can you try this update?

[2021-02-16 04:44] pry0cc commented on #220
Good idea!

[2021-02-16 06:10] pdelteil opened #228 "Execution stops with no reason while running axiom-scan using nuclei module"
The execution stopped at 50% with no errors.  This happened before but I never found a reason why.

![Screenshot from 2021-02-16 03-10-17](https://user-images.githubusercontent.com/20244863/108025067-8ea09200-7004-11eb-998f-1a16dfdd69cc.png)

[2021-02-16 13:01] pry0cc commented on #228
This is weird - have you tired updating axiom?

axiom-update && axiom-build

[2021-02-16 23:36] pdelteil commented on #228
I will retry after the current run finishes or fails.

[2021-02-16 23:41] KingOfBugbounty commented on #218
I think you are in trouble pryd

https://ibb.co/BsQj12z

[2021-02-17 18:06] 0xtavian commented on #218
thanks for the add @pry0cc

@KingOfBugbounty you'll have to run axiom-build to install the new tools

[2021-02-17 18:07] 0xtavian commented on #218
and you'll have to create a module. I'll see if i can get around to this today.

[2021-02-17 18:10] 0xtavian commented on #155
@michael1026 we added Arjun! instead of JSON we output as txt. This just made it easier to add to axiom without having to write code to merge JSON. But we still plan to do that sometime in the future.

[2021-02-17 23:23] 0xtavian opened #231 "Feature Request: add Hakrawler module"

[2021-02-19 03:24] #231 closed

[2021-02-19 17:26] 0xtavian commented on #218
@KingOfBugbounty Findomain module is added.

[2021-02-19 17:46] 0xtavian commented on #218
Thanks for the suggestions @KingOfBugbounty. Added both to axiom 8).

[2021-02-19 17:46] #218 closed

[2021-02-19 23:20] 0xtavian commented on #222
@cocoonkid good call, added 8). Feedback is always appreciated. Thank you for making the suggestion! Dont forget to check out our guide on making simple modules if you ever wanted to look into doing it yourself. https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules

https://github.com/pry0cc/axiom/blob/master/modules/feroxbuster.json
https://github.com/pry0cc/axiom/blob/master/modules/rustsca

[2021-02-19 23:20] #222 closed

[2021-02-20 04:27] 4k4xs4pH1r3 opened #232 "Axiom Account Setup - ibm cloud provider fail to create ubuntu - on macos"
Creating Ubuntu 18.04 Base VSI
FAILED
flag needs an argument: -k

Base IBM Cloud Server ID is
FAILED
Incorrect Usage: This command requires one argument.

parse error: Invalid numeric literal at line 1, column 5
Waiting for server to initialize. Current phase:
Upgrading Ubuntu 18.04 to Ubuntu 20.04... multiple reboots ahead
FAILED
Incorrect Usage: This command requires one argument.

parse error:

[2021-02-20 04:54] 4k4xs4pH1r3 opened #233 "Axiom account setup - azure provider fail to create the vm - on macos"
/Users/x/antigen/antigen.zsh: line 2: /bin/antigen.zsh: No such file or directory
/Users/x/.zshrc: line 4: antigen: command not found
/Users/x/.zshrc: line 6: autoload: command not found
/Users/x/google-cloud-sdk/completion.zsh.inc: line 1: autoload: command not found
/Users/x/google-cloud-sdk/completion.zsh.inc: line 2: zmodload: command not found
/Users/x/google-cloud-sdk/completion.zsh.inc: lin

[2021-02-20 05:08] 4k4xs4pH1r3 opened #234 "Axiom account setup - do provider fail to create the vm - on macos"
/Users/x/antigen/antigen.zsh: line 2: /bin/antigen.zsh: No such file or directory
/Users/x/.zshrc: line 4: antigen: command not found
/Users/x/.zshrc: line 6: autoload: command not found
/Users/x/google-cloud-sdk/completion.zsh.inc: line 1: autoload: command not found
/Users/x/google-cloud-sdk/completion.zsh.inc: line 2: zmodload: command not found
/Users/x/google-cloud-sdk/completion.zsh.inc: lin

[2021-02-20 05:14] 4k4xs4pH1r3 opened #235 "Axiom account setup - gcp provider fail to create the vm - on macos"
Axiom Account Setup
You can use this wizard to add new accounts, once made, use axiom-account to switch between profiles
Please enter your provider (do, gcp, ibm, linode, azure):

Now your account is setup, we need to run a build
A build will take about 25 minutes, spin up a temporary instance, and then snapshot it to use for our future boxes
Starting Build in 5 seconds... Ctrl+C to quit, remember

[2021-02-20 05:17] 4k4xs4pH1r3 opened #236 "Add the option to select an existing vm in any cloud provider"
Thanks in advance please is possible Add the option to select an existing vm in any cloud provider, by id, thank you.

[2021-02-20 05:20] 0xtavian commented on #234
@4k4xs4pH1r3

Create an Ubuntu 20.04 VM on a cloud provider and install axiom from there. Not all the dependencies are included for Mac during the setup script. If you want to use Macos, you have to manually install the dependencies first https://github.com/pry0cc/axiom/wiki/0-Installation.

Or you could install axiom on a local VM, Ubuntu 20.04 and Kali 2020.4 are both supported.

[2021-02-20 05:29] 0xtavian commented on #236
@4k4xs4pH1r3 I'm not sure I understand what you mean. axiom creates a Packer image and uses that image to deploy a fleet of servers. With axiom-select you can pick which ones you want to run axiom-scan, axiom-exec, axiom-scp, etc commands on.

[2021-02-20 05:30] 0xtavian commented on #232
repeat https://github.com/pry0cc/axiom/issues/234 - due to same issue with Mac dependencies

[2021-02-20 05:30] #232 closed

[2021-02-20 05:30] 0xtavian commented on #233
repeat https://github.com/pry0cc/axiom/issues/234 - due to same issue with Mac dependencies

[2021-02-20 05:30] #233 closed

[2021-02-20 05:30] 0xtavian commented on #235
repeat https://github.com/pry0cc/axiom/issues/234 - due to same issue with Mac dependencies

[2021-02-20 05:30] #235 closed

[2021-02-20 05:32] ZultanH opened #237 "Axiom-scan not working on Linode"
I have done the storage upgrade and have successfully made a build but whenever I do axiom-init or axiom-fleet and attempt to run axiom-scan on a module it instantly finishes and produces no results.
![Screenshot_12](https://user-images.githubusercontent.com/43057246/108584925-cf940000-7390-11eb-9807-ecb5a376374a.png)

[2021-02-20 05:41] 4k4xs4pH1r3 commented on #236
I mean have the option to select an existing vm/instance created in do, gcp, ibm or azure during the installation wizard

[2021-02-20 05:45] 0xtavian commented on #237
If you run axiom-update and try again does it work?

[2021-02-20 05:49] ZultanH commented on #237
Already latest version

[2021-02-20 05:49] 0xtavian commented on #237
Thats odd. I just tested it and its working for me. `axiom-scan targets.txt -m httpx -o httpoutput`

[2021-02-20 05:53] 0xtavian commented on #237
You should have seen some log files created with the `$module+$date` naming convention. To check to see if axiom uploaded the target list you can axiom-ssh into an instance and cd to `/home/op/scan/$module+$date/` make sure you can cat in input files and they have been uploaded.

[2021-02-20 05:56] 0xtavian commented on #236
you mean have axiom select an existing vm/instances to install axiom onto?

[2021-02-20 05:59] ZultanH commented on #237
![image](https://user-images.githubusercontent.com/43057246/108585477-7fb73800-7394-11eb-8c41-dd08c655a592.png)
Appears that the file is trying to upload but maybe it's too large? Not too sure what the issue could be.

[2021-02-20 06:02] 0xtavian commented on #237
the input files should be inside those directories. cd into the directory last used `ls -lat`. The first folder is the most recent scan

[2021-02-20 06:04] ZultanH commented on #237
just shows 0 output
![image](https://user-images.githubusercontent.com/43057246/108585669-52b75500-7395-11eb-830e-adc366623b17.png)

[2021-02-20 06:09] 0xtavian commented on #237
ok exit out of the axiom instance and run `axiom-exec id` just to make sure u can execute on the instances. double check axiom-select to make sure you have the right boxes selected (your first screenshot looks exactly how it supposed to look, but with results obviously).

Are any other modules not working? What is the exact command you are running?

[2021-02-20 15:34] cocoonkid commented on #222
Absolutely! Thanks

[2021-02-20 15:47] 4k4xs4pH1r3 commented on #236
yes correct

[2021-02-20 16:35] 4k4xs4pH1r3 commented on #232
dear I tried one more time installing manually in macOS, still fails= https://gist.github.com/4k4xs4pH1r3/2a26c398c56f6bdbe51707a956ad91db

`rm -rf ~/.axiom/ && git clone https://github.com/pry0cc/axiom ~/.axiom/ &&  $HOME/.axiom/interact/axiom-configure`

#

Also i installed in Kali Linux hosted on ibm with
`bash <(curl -s https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-confi

[2021-02-20 18:09] pdelteil opened #238 "[Question] Build, remove and rebuild fleet"
Hello there,

I'm running a fleet, I want to remove all droplets and then re create the fleet as was before, I could re build the droplet but it takes some time. I was trying to use the backup feature but I'm not sure it would work to do what I want.

Thanks.

[2021-02-24 09:51] nullman0x opened #242 "nuclei hangs"
nuclei keeps hanging and does not complete the process

@0xtavian knows the issue

@pry0cc  need a fix

[2021-02-24 09:52] nullman0x commented on #242
![image](https://user-images.githubusercontent.com/77861653/108982708-17c66180-76b4-11eb-9b93-4ccfe9109898.png)

[2021-02-24 19:02] b10wf15h3d opened #243 "Potential violation of use with Digital Ocean"
Not an issue but more of a caution of use, DO suspended my account and refuse to state what violations were made. All i had running was circa 35 droplets running a dalfox scan over a number of hosts. I have asked for my data but that question was not answered.

Hello.

Thank you for reaching out to DigitalOcean Support.

Your account was found to match patterns associated with fraudulent behavior,

[2021-02-26 05:10] 0xtavian commented on #238
@pdelteil So the wiki say "If you want to backup your instance, run axiom-backup <instance> and a local rsync backup will be made of the home directory in ~/.axiom/boxes/." https://github.com/pry0cc/axiom/wiki/A-Quickstart-Guide#backup-your-instance
So it should just copy everything on an instances and downloads it locally. so partial scan results, wordlists etc. Admittedly i've never used axiom-b

[2021-02-26 20:52] #242 closed

[2021-02-26 23:18] 0xtavian commented on #237
closing this issue has i have not been able to reproduce and no mention of this not working on discord. feel free to reopen for whatever reason tho. thanks @ZultanH

[2021-02-26 23:18] #237 closed

[2021-02-26 23:19] Roni-Carta opened #245 "[Feature Request]: Ability to have the fleet on the same network"
Hi !

This Feature Request is self-explanatory. It would be awesome to have the entire fleet under the same network.

For instance we could use one of the instances as an OpenVPN server, and connect the entire fleet to it. This way, a user could also connect on the network and interact with the fleet.

Eg: Connect on the network and proxy the requests trough the user's Burp Proxy without having to

[2021-02-27 01:00] 0xtavian commented on #245
@Roni-Carta thanks for this! I agree, axiom-vpn should have functionality that allows spinning up a VPN server, connecting all axiom instances to that VPN, and set up routing between all instances.

[2021-02-27 15:37] #243 closed

[2021-02-27 15:37] b10wf15h3d commented on #243
If you're account is suspended you cannot retrieve your data either

[2021-03-02 05:27] pdelteil commented on #238
Hello @0xtavian,

That's exactly what I have in mind.  😄

[2021-03-02 09:16] kusayuzayushko opened #247 "gf-completition is missing"
axiom-update -> axiom-build -> axiom-init proxy ->axiom-ssh proxy

[code]

[2021-03-02 16:32] 0xtavian commented on #247
@kusayuzayushko you can safely ignore this error. I'll get around to fixing it maybe later today. gf is just complaining that bash completion isnt working

[2021-03-03 17:54] pdelteil opened #250 "[Issue] Axiom-scan error 'zsh:1: command not found: nuclei'"
I updated axiom and rebuilt it and now I can't run axiom-scan.

This is the error I get:

``Command: [ nuclei -silent -update-templates ; cat input | nuclei -o output -stats -t /home/op/nuclei-templates -exclude /home/op/nuclei-templates/technologies/waf-detect.yaml -exclude /home/op/nuclei-templates/technologies/tech-detect.yaml -exclude /home/op/nuclei-templates/dns/cname-service-detector.yaml -

[2021-03-03 18:28] 0xtavian commented on #250
@pdelteil please use the new nuclei module or specify the full path to the nuclei binary https://github.com/pry0cc/axiom/blob/master/modules/nuclei.json

[2021-03-03 18:40] pdelteil commented on #250
@0xtavian thanks.

[2021-03-03 18:40] #250 closed

[2021-03-08 04:32] rossiV1 opened #251 "cannot access axiom instance after new axiom-init"
Hi.

i have been using axiom for a while, but currently i am testing a new build using DigitalOcean with higher specs.

I have created a many new instances today (GMT+8) but i cannot access the instances using axiom-ssh or axiom-connect. I also cannot access the axiom instances using the normal ssh command. It says wrong password.

I am aware the password is the DO API key, but still cannot access

[2021-03-08 17:24] 0xtavian commented on #251
@rossiV1 can you run axiom-update and try again please?

[2021-03-08 17:25] 0xtavian commented on #251
@rossiV1 also we changed the root password to a unique randomly generated password that is set during the axiom-build process. Shortly after running axiom-build you will see the new password displayed to the terminal, and again at the very end of the build process.

[2021-03-08 20:08] rossiV1 commented on #251
yeah thank you. i have tested and currently it is working great! thank you for your time

[2021-03-08 20:08] #251 closed

[2021-03-12 11:00] pdelteil opened #254 "[Question] How can I update nuclei ? [without having to rebuild]"
That's the question.

Thanks.

[2021-03-12 14:47] pdelteil commented on #228
Updating solve the issue.

Thanks.

[2021-03-12 14:47] #228 closed

[2021-03-12 19:04] 0xtavian commented on #254
`axiom-exec "GO111MODULE=on go get -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei"` @pdelteil

[2021-03-12 19:09] adrianovalle opened #256 "Problem related with Debian 10 image in DigitalOcean"
Hi!,
    I have discovered a  bug installing the axiom in a Debian 10 image on DigitalOcean. After forward the steps in the manual, i can't run any commands in axiom-scan. After a research, i discovered the problem: rsync application is not installed by default in Debian. After the install, axiom works flawless.

Log of error:
[code]

[2021-03-12 19:24] 0xtavian commented on #256
@adrianovalle good to know! I'll do some testing and if all goes well with Debian we can add it to our list of supported operating systems. Currently only Ubuntu 20.04 and Kali 2004 are officially supported.

[2021-03-12 19:52] #254 closed

[2021-03-12 20:33] 0xtavian commented on #256
thanks again @adrianovalle. We've included rsync install during setup and edited our supported our list of supported operating systems ! https://github.com/pry0cc/axiom/blob/master/README.md#operating-systems-supported

[2021-03-12 20:33] #256 closed

[2021-03-17 11:07] kusayuzayushko opened #260 "[Feature request] axiom-deploy for fast socks proxy"

[2021-03-17 20:45] 0xtavian commented on #260
What exactly are you looking for @kusayuzayushko ?

Currently you should be able to proxy thru your fleet or instances https://github.com/pry0cc/axiom/wiki/Cheatsheet#proxy-through-a-set-of-hosts-or-one

We also have axiom-deploy profile to configure Squid on port 2525, so it can be used as a proxy server for Burp/OWASP Zap etc.

[2021-03-18 07:10] kusayuzayushko commented on #260
Oh, i didn't know about Squid. Currently, i use Microsocks to create a socks5 proxy for my browser but have to install it manually on every new instance, to bypass internet censorship. I also know there is an OpenVPN profile, but i don't want to use a VPN for all my traffic, just for my browser.
Will look into Squid, thank you.

[2021-03-18 09:37] #260 closed

[2021-03-18 13:10] avistnm commented on #210
Use my code get it from here -
https://github.com/avistnm/Metasploit-avistnm.git

[2021-03-18 17:57] ResistanceIsUseless opened #261 "Feature Request: Update documentation to give more detail on creating custom images and backups"
I've been using axiom for a while but I'm still not fully grasping the format to build your own custom images. Is this using a standard format for the json files or is it custom to axiom? I have an idea for a couple custom images I want to build as my default and would like some direction on how to do that.

Also, I would also like more documentation on the backup process. If using Azure, is using

[2021-03-19 17:14] 0xtavian commented on #261
Hey @ResistanceIsUseless thanks for opening an issue about this. So as of current axiom doesnt support custom images out of the box. We are using a standard format for the image, which is packer builders https://github.com/pry0cc/axiom/tree/master/images/builders and the full.json.
https://github.com/pry0cc/axiom/blob/master/images/provisioners/full.json.

I havent used Azure in a bit but you _mig

[2021-03-19 18:47] ResistanceIsUseless opened #262 "Axiom-init not working with Azure"
WARNING: Command group 'vm' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus
ssh: Could not resolve hostname moser15: nodename nor servname provided, or not known

Looks like whatever az commands axiom is using have been changed. :-/

[2021-03-19 22:44] 0xtavian commented on #262
@ResistanceIsUseless Thank you for letting us know. Would you mind add `set -xv` to the very store of the script in `~/.axiom/interact-axiom-init`, running axiom-init again and pasting the debug output? Make sure to remove any sensitive data before posting.

[2021-03-20 08:55] z0mb13s3c opened #263 "Feature Request : Metasploit Module"
Hi,

First of all thanks so much for this tool. It's seriously a game changer.

It would be cool to have a metasploit module (axiom-scan --list doesn't show that metasploit is available as an option) which would execute a command based on inputs. Granted, metasploit is slightly more complicated as it has thousands of sub modules and each one of them with different options but maybe it could be ach

[2021-03-20 16:10] iNoSec2 commented on #247
for gf autocomplete i use this in my zshrc
#Autocompletion gf tool from tomnomnom
_cmpl_gf() {
	reply=($(ls $HOME/.gf | cut -f1 -d"."))
}
compctl -K _cmpl_gf gf

if that help, cleaner way for me, instead of using an other zsh file

[2021-03-20 23:32] abdulsec opened #264 "not able to install axiom"
hii , i have try to install axiom whole the day  but its not work
I got this error

![Capture](https://user-images.githubusercontent.com/65031578/111888440-ce301480-89dc-11eb-9ebe-36829877fd2b.PNG)

I run also axiom-build multiple time  , but not working

[2021-03-21 00:37] 0xtavian commented on #264
@abdulsec please make sure there are no other private images. If Linode has already increased your storage limit to 18GB keep in mind the GB allocated is the sum of all images combined, not just for one image. If previous bad build or  recovery snapshot(s) of Linode VPS is present on the account's image dashboard, they all must be deleted for axiom to be able to properly provision.

another simila

[2021-03-21 07:36] abdulsec commented on #264
i will build again , when the storage increased to 18 gb

[2021-03-22 23:36] cthulhu897 commented on #262
Hi, I can confirm it wont deploy instances, and I've noticed there's a mismatch between the values provided during account setup and the ones used during image building, (region and something else I cant remeber) I think it could be related to the bug.
I'm pasting thew requested output below:

`
cthulhu@offensive-master ~ % axiom-init
AXIOM_PATH="$HOME/.axiom"
+ AXIOM_PATH=/home/cthulhu/.axiom
DOC

[2021-03-23 00:18] cthulhu897 commented on #262
I can confirm the bug is related to the image building script, but I dont know how o where to fix it.
-> when provisioning the image it is always built at "eastus", so when creating an instance it is wrongly referenced.

[2021-03-23 03:45] abdulsec commented on #264
after they increase my image to 18 gb now , I was able to run axiom-build successfully

[2021-03-23 03:45] #264 closed

[2021-03-23 15:15] ResistanceIsUseless commented on #262
Image creation worked for me in azure but not deploying. Manually creating
the VM worked i just haven't had the time to update the script and retry
building the VM. I'll try and get to that today or tomorrowand paste some
output as well as my review of the script. I think one of the switches
might be unneeded or a wrong value.

On Mon, Mar 22, 2021 at 5:18 PM Francisco Díaz ***@***.***>
wrote:

[2021-03-23 17:15] ResistanceIsUseless commented on #262
just tested it out and i get the following error with the command axiom is sending to ARM CLI.

[code]

Running it again manually and adding "--admin-username axiom" resolves the issue.  I'm not sure if that got changed away from the azure default someplace or it's now required. The az vm create -h doesn't say it's required.

[2021-03-23 18:05] 0xtavian commented on #262
@ResistanceIsUseless @cthulhu897  I updated the azure builder https://github.com/pry0cc/axiom/blob/master/images/builders/azure.json to include region. Can you run axiom-update and axiom-build, axiom-init to see if that fixes it? If not i'll make time later tonight and recreate. thanks guy for bringing this issue forward!

To debug, I would also add `set -xv` to axiom-build  and rerun to see what

[2021-03-23 19:24] cthulhu897 commented on #262
I had to run `axiom-account-setup` againt for `axiom-init` to work, but now it does create instances and I'm finally experiencing unlimited power in az!

[2021-03-23 19:47] 0xtavian commented on #262
@ResistanceIsUseless let us know if youre still having issues. If everything is copacetic, feel free to close.

[2021-03-24 19:18] ResistanceIsUseless commented on #262
Did axiom-update, axioom-account-setup, axiom-init right now and the build from image to vm still fails. Looks like it's still not liking the missing username. I then did the following(below) and re-ran everything and it fixed it. This could just be something wrong with me if @cthulhu897 wasn't having any issues.

I added "--admin-username op" to the following line https://github.com/pry0cc/axiom/

[2021-03-24 19:47] 0xtavian commented on #262
@ResistanceIsUseless after provisioning an instance like that, can you ssh into it and axiom is set up? That is an odd issue, and I havent read anything to suggest the username is required. Can you try to run axiom-build again and see if that makes a difference? If that doesnt work, I would suggest setting up axiom on a fresh VPS or VM to test. I still havent had time to attempt an azure fleet, I

[2021-03-24 19:52] cynicXer opened #265 "Existing DO droplets pulled into fleet ssh config"
I have pre-existing infrastructure in DO (several droplets).  It appears that the initialization of a new fleet pulled the IP addresses of existing droplets into the fleet configuration file in ~/.ssh/.config.  Additionally, the configuration file appears to be malformed and I get "Bad configuration option" errors when trying to run commands (e.g. 'ip a') against the fleet.  The SSH configuration

[2021-03-24 20:05] cthulhu897 commented on #262
I'd suggest removing ~/.axiom and also all the resources in your azure panel, and then try it again.
I think that `axiom-rm`  or some of its inner mechanisms could have a bug during the deletion of the resources, so my guess is something between your local install and the remote objects is not working right, and the script seems to not remove faulty assets properly, so it reuses the faulty image.

[2021-03-24 20:46] 0xtavian commented on #265
@cynicXer does any of your pre-existing infrastructure have private and public IPs by any chance?  I think i see the host `Host ubuntu-s-1vcpu-2gb-sfo2-01` (the last host on the list) has two IPs? At this moment axiom cant handle DO infra with public and private IPs, they cant even be on the account for axiom to work. If you see multiple IPs assigned to one host in the ssh config, you should be fi

[2021-03-25 18:41] 0xtavian opened #267 "Add Knock Module"
https://github.com/guelfoweb/knock

[2021-03-25 20:37] anasbousselham opened #268 "Aquatone module"
My Aquatone module
`[{
        "command":"cat input | /usr/bin/aquatone -out output",
        "ext":""
}]
`

[2021-03-25 22:57] ResistanceIsUseless commented on #262
Everything works as expected when provisioning like this. So I'm guessing its just me. If it causes any issues I'll delete everything and start over.

[2021-03-25 22:57] #262 closed

[2021-03-25 23:06] #268 closed

[2021-03-25 23:33] ResistanceIsUseless commented on #261
I use Azure for work so i switched over from Digital Ocean. I know axiom tries to be as cost efficient as possible so adding a bunch of fancy features is low on the priority list, but I was thinking it would be nice to backup scan and config files to a single place in the cloud as opposed to locally.

- Using fuse mount blob storage to a VM (https://github.com/Azure/azure-storage-fuse). This would

[2021-03-26 12:20] PR3R00T opened #269 "Subfinder Module Issue"
Hey, When installing Axiom I see that it installed Subfinder via the Go command, However theres currently a issue during the build which does not allow the app to install:

    digitalocean: Installing Subfinder
==> digitalocean: go: downloading github.com/projectdiscovery/subfinder v0.1.1
==> digitalocean: go: downloading github.com/projectdiscovery/subfinder v2.4.6+incompatible
==> digitalocean:

[2021-03-26 12:23] PR3R00T commented on #269
https://github.com/projectdiscovery/subfinder/issues/405

[2021-03-26 16:41] 0xtavian commented on #269
@PR3R00T thanks you, yea we've been waiting for PD to push a fix.

[2021-03-26 17:12] ResistanceIsUseless opened #270 "Tool Request: Add Scrying (RDP, VNC, HTTP/S Screenshot tool)"
https://github.com/nccgroup/scrying

Supports headless screenshotting

[2021-03-26 18:58] 0xtavian commented on #270
@ResistanceIsUseless nice, any interest in making a pull request?

[2021-03-26 20:05] 0xtavian commented on #269
thanks i decided to just add the temp workaround https://github.com/pry0cc/axiom/blob/38c47d8f62cfb029521c01ddad90d44e8d47502d/images/provisioners/full.json

[2021-03-26 20:05] #269 closed

[2021-03-26 20:30] 0xtavian commented on #267
Going to delay adding knock as it doesnt yet support using a file of DNS resolvers and as such not very safe distribution.
STDOUT output cant be reduced which makes it look ugly when distributed.

leaving these here to reverse later just in case

add to packer build https://github.com/pry0cc/axiom/blob/master/images/provisioners/full.json
[code]

working module
[code]

[2021-03-26 20:30] #267 closed

[2021-03-26 21:20] 0xtavian commented on #261
@ResistanceIsUseless thanks for the kind words and detailed explanation. We are more than happy to merge a pull request if you have the time to add some type of permanent storage via Azure but at this time I dont think we will add cloud specific storage for any other provider, unless its a feature that many want. Every cloud provider has different storage options to choose from so it would take so

[2021-03-26 21:23] 0xtavian commented on #261
To my knowledge no. Packer will spin up a fresh VM to install the tools on. I dont believe using Packer to initialize a Packer made image is supported, or at least, its not used by axiom.

[2021-03-26 23:21] pdelteil opened #272 "[Issue] Axiom-scan keeps asking for ssh password"
I did a fresh build, doing:

``axiom-update && axiom-build``

then

``axiom-fleet -i=20``

And I get

![Screenshot from 2021-03-26 20-19-58](https://user-images.githubusercontent.com/20244863/112701915-aa534f80-8e70-11eb-9200-a60a8d5749e3.png)

The other problem I have is that I don't know how to get out of that screen, I keep pressing CONTROL+C and more password prompts appear.

[2021-03-26 23:50] 0xtavian commented on #272
@pdelteil Im not sure why this is happening. What provider are you using? Can you reinstall following the manual install https://github.com/pry0cc/axiom/wiki/0-Installation#manual? Im setting up a fresh box now to test. Can you also check that `~/.axiom/configs/authorized_keys` has the pub key from `~/.ssh/id_rsa.pub` and if not run
 `cat ~/.ssh/id_rsa.pub > ~/.axiom/configs/authorized_keys
` and

[2021-03-26 23:51] 0xtavian commented on #272
As for having to press Control+C multiple times, you might have to press it 20 times (the size of your fleet), or you can hold down control+c and it should force edit.

[2021-03-26 23:57] pdelteil commented on #272
Yes, that's what I thought, but new dialogs keep appearing ( I did press it a lot more than 20 times, the counter indicating the droplet number X/20, keeps reseting).

[2021-03-26 23:59] 0xtavian commented on #272
Does it issue persist after reboot?

[2021-03-27 01:21] pdelteil commented on #272
Thanks @0xtavian, your instructions solved the issue.

[2021-03-30 20:16] ResistanceIsUseless commented on #261
Oh interesting. So the way axiom applies changes to VM's using the configs json is a custom thing not packer based like the image building. So the files are not interchangeable and are completely different. Good to know.

I tried to see if i could do a pull request on the wiki but it seems like its locked down. Am i doing something wrong or do you only allow specific people to edit that due to the

[2021-03-30 20:17] ResistanceIsUseless commented on #270
Sure!

[2021-03-31 16:48] 0xtavian commented on #261
@ResistanceIsUseless Yea thats a great idea. @pry0cc can you make another axiom-documentation repo?

[2021-03-31 20:02] cynicXer commented on #265
I finished with the old droplets in my DO account and deleted them and re-ran axiom-update and axiom-build.  Fleet seemed to work after that.

Closing this issue.

[2021-03-31 20:02] #265 closed

[2021-04-02 09:56] 0xtavian commented on #263
@z0mb13s3c I like the general idea 100%. Im thinking about using @hahwul's mad-metasploit instead. Hope to suggestions :) https://github.com/hahwul/mad-metasploit

[2021-04-02 10:14] z0mb13s3c commented on #263
Hmm...never used mad-metasploit tbh. I'll take a look at it this weekend and maybe we can come up with a viable solution :)

[2021-04-04 20:57] osamahamad commented on #91
@harleyhacker may u share the solution in case u found it  ?

[2021-04-05 11:00] C90D opened #274 "The generated file is empty after running scan"
![image](https://user-images.githubusercontent.com/58028789/113567208-c01afe80-9640-11eb-97ac-2007eebddde3.png)
After running the scan module, a log file was generated on each server, but it was not synthesized in the end. Is there a problem with my operation?

[2021-04-05 18:33] 0xtavian commented on #91
@osamahamad @harleyhacker sometimes sourcing doesnt work. idk why. try to logout and back it and see if that works.

[2021-04-05 18:34] 0xtavian commented on #274
Did you specify an output file? show the command you are running along with the full terminal output. @C90D

[2021-04-05 21:52] KingOfBugbounty opened #275 "Add tools -"
Heeeeey dude !!

How are you guys?

https://github.com/devanshbatham/ParamSpider
https://github.com/KathanP19/Gxss
https://github.com/s0md3v/Arjun

I'm looking through the list.
https://github.com/pry0cc/axiom

Thanks bro!!

[2021-04-06 02:11] C90D commented on #274
Sorry, I responded late.
Let me talk about my configuration first. I installed axiom on vultr and then operated fleet.
This time I can use this command to demonstrate
axiom-scan root.txt -m dnsx -resp -o dns.txt
After running the command, I checked the file and found that there was nothing in it. I reinstalled it and it did not solve the problem.
![image](https://user-images.githubusercontent.com/

[2021-04-06 03:33] anasbousselham commented on #274
httpx your root file before your nuclei scan.

[2021-04-06 03:38] C90D commented on #274
Do you mean that you need to use the httpx processing in axiom before scanning with nuclei?I have used httpx separately before using nuclei.@anasbousselham

[2021-04-06 05:21] klau5dev opened #276 "Suggest tool: S3Scanner"
https://github.com/sa7mon/S3Scanner

What do you think about adding this tool? Is already there any similar tool?
Or is there someone who knows similar but better tool than this? Then let me know!

[2021-04-06 12:54] anasbousselham commented on #274
so it's not a nuclei problem, first step please try to run any module like `axiom-scan subs_target -m httpx -o httpx` and after connected to one of your fleet instance `axiom-ssh inst01` and ls your `work` folder, screenshot it or `cat` someone files here...

[2021-04-06 13:08] C90D commented on #274
Excuse me, I have a question, shouldn't the files generated after running be in my local? Why doesn't my fleet output the generated results to a local file?

[2021-04-06 15:24] 0xtavian commented on #274
@C90D not sure why this is happening for you. Would you mind adding `set -xv` to the top of the axiom-scan script in `$HOME/.axiom/interact/axiom-scan`, running again and providing debug output? Feel free to send us the debug output via Discord or upload it to pastebin just be sure to delete any sensitive data in the debug output beforehand.

[2021-04-06 18:38] blackpungas opened #277 "[Error] interlace: error: The path input does not exist!"
Hi there, I really tried everything before opening this issue, but I cant figure this out.

The command Im trying to run is the one that appears for ffuf in the documentation.

[code]

I've got 8 instances and only one ends up running ffuf (the first one), the others outputs this error

"interlace: error: The path input does not exist!"

I tried modifying ffuf.json
I tried with a local dictionary

[2021-04-06 19:39] 0xtavian commented on #277
@blackpungas any chance you have only one target in http.txt?

[2021-04-06 21:32] blackpungas commented on #277
ouch, that was the error indeed, thanks, but.. was I doing something wrong?

[2021-04-07 01:58] C90D commented on #274
Excuse me, can you take a look at this file?
[debug.txt](https://github.com/pry0cc/axiom/files/6268482/debug.txt)

[2021-04-07 17:53] 0xtavian commented on #277
@blackpungas nope. But if you are trying target only one target with the combined power of a fleet, unfortunately axiom doesnt scale like this, yet. But we do have plans in the future to add this functionality. Im going to close this issue but feel free to reopen or post if you have anymore questions.

[2021-04-07 17:53] #277 closed

[2021-04-07 19:43] 0xtavian commented on #274
@C90D

so it seems like you didnt provide an output file. You can tell because output is saved to `/root/test/scan+$timestamp` is used for the output file, which happens when you dont provide an output file.

it seems like you did provide an output file here but for some reason it didnt work. Are the results saved to the remote instances? look for 'remote logs saved to `/home/op/scan/$module+$time

[2021-04-07 21:34] 0xtavian commented on #275
Hey @KingOfBugbounty, we are good thanks for asking!

We actually have an Arjun module already https://github.com/pry0cc/axiom/blob/master/modules/arjun.json. With your ParamSpider module that only leaves gxss :)

[2021-04-08 05:58] C90D commented on #274
Both of these locations have generated results, but they are both separate and not merged. I am trying to install with the user user, and I will give feedback later.
I using vultr as a control and then spinning up instances/fleets on DO.

[2021-04-08 07:55] dokkillo commented on #274
Hi, I have same problem. I'm using a non-root user, I launched httpx and the output returns empty.
![imagen](https://user-images.githubusercontent.com/920841/113989224-84ef1a00-9850-11eb-9482-b0b60d13d271.png)

Its all ok, and then.. .when i try to see  the output file, it returns empty.

![imagen](https://user-images.githubusercontent.com/920841/113989304-99cbad80-9850-11eb-953a-1cb2c6940509.png)

[2021-04-08 11:20] KingOfBugbounty commented on #275
Woow Perfect my bro !
Thanks my bro, i will close issue. :D

[2021-04-08 11:20] #275 closed

[2021-04-08 13:18] dokkillo commented on #274
My issue its fixed.... i forget to add axiom to the path
export PATH="$PATH:$HOME/.axiom/interact"

[2021-04-08 21:49] 0xtavian commented on #276
good call. its been pushed to master.

[2021-04-08 21:49] #276 closed

[2021-04-09 01:06] C90D commented on #274
Aha, I will try too, thanks bro

[2021-04-10 09:03] C90D commented on #274
I can generate files, but httpx does not seem to be installed. @0xtavian

[2021-04-10 11:08] #274 closed

[2021-04-13 16:45] bwlinux opened #285 "problem in generate_sshconfig()"
Just started with Axiom today after watching the NahamCon video this morning. So everything is fresh....

I already had servers running at Digital Ocean, and both have Floating IPs.  This causes the following error...
/home/kali/.axiom/.sshconfig: line 9: Bad configuration option: XXX.XXX.XXX.XXX
/home/kali/.axiom/.sshconfig: line 15: Bad configuration option: XXX.XXX.XXX.XXX
/home/kali/.axiom/.ss

[2021-04-13 20:57] 0xtavian commented on #285
@bwlinux wow thank you so much! im def going to dig into this later today. To make a pull request first fork the repo and make your changes then navigate here and submit your request. https://github.com/pry0cc/axiom/pulls. If yoy dont get around to making the request nw. i'll take care of it hopefully later today. :) Cheers!

[2021-04-13 23:43] bwlinux commented on #285
@0xtavian  please check the pull request #286.  I think I managed to do it.

I've got a few more coming...

[2021-04-14 00:45] 0xtavian commented on #285
merged! Thanks again. Im adding the cleanup to the ssh config to the other provides are well. Going to close this issue but feel free to open a new one or reopen this one if u run into issues

[2021-04-14 00:45] #285 closed

[2021-04-14 04:15] #219 closed

[2021-04-14 04:15] 0xtavian commented on #263
somewhat related https://github.com/pry0cc/axiom/issues/210

[2021-04-14 15:44] 0xtavian commented on #238
@pdelteil thanks! this has been implemented. https://github.com/pry0cc/axiom/pull/289

[2021-04-14 15:44] #238 closed

[2021-04-14 15:45] 0xtavian commented on #261
@ResistanceIsUseless we rewrote axiom-backup to asset with creating custom images https://github.com/pry0cc/axiom/pull/289 :)

[2021-04-15 16:21] khanjanny opened #294 "do having issue with API"
i have tried to install on my do but it seems somehow not working .any solution ..?

REEOR ::

==> digitalocean: Creating temporary ssh key for droplet...
==> digitalocean: Creating droplet...
==> digitalocean: Error creating droplet: POST https://api.digitalocean.com/v2/droplets: 422 Size is not available in this region.
==> digitalocean: Deleting temporary ssh key...
Build 'digitalocean' errored

[2021-04-15 16:31] 0xtavian commented on #294
@khanjanny  run `doctl compute size list` and pick a different size/slug. Add the new size to `.axiom/account/[your-account].json` then rerun axiom-build

[2021-04-15 16:31] #294 closed

[2021-04-16 04:05] 0xtavian commented on #245
@Roni-Carta

We are considering https://tailscale.com/ or a similar alternative

[2021-04-16 05:50] pdelteil commented on #272
I faced this issue again. This time I did:

Follow the steps above that solve the problem before with no results.
Full clean installation. (removing .axiom folder, recreated the ssh keys)
axiom-update && axiom-build several times.

During the installation many errors were displayed related to the user 'op' (user op not found).

[code]
2
[code]
3
[code]
4
[code]

[2021-04-16 08:36] 0xtavian commented on #272
@pdelteil  add
`    "while [ ! -f /var/lib/cloud/instance/boot-finished ]; do echo 'Waiting for cloud-init...'; sleep 1; done"` to
`.axiom/images/provisioners/full.json` and rerun axiom-build. This is a temp fix. Only DO seems to be broken.

example:
[code]

[2021-04-16 14:14] KrE80r commented on #285
pull request #286 broke the opposite case - sort of - where there are other non-axiom droplets "without" floating IP.
The generated sshconfig has no IP added to the HostName part for non-axiom droplets

[2021-04-16 14:39] bwlinux commented on #285
That's really strange @KrE80r .  I thought I tested for that.

Are you saying it looks something like this??

[code]

[2021-04-16 14:42] 0xtavian commented on #285
@KrE80r i dont think that is the case. If you are having trouble with DO its most likely because of https://github.com/pry0cc/axiom/issues/272#issuecomment-821017660

[2021-04-16 21:29] pdelteil commented on #272
That solved the issue!

Thanks a lot.

[2021-04-16 22:03] feint9 opened #298 "axiom over azure fail running builder"
Hi,

fresh install of axiom from github...

#error

└─# /root/.axiom/interact/axiom-build                                                                                                                                                       17:41:30 16.04.21
Keep this password for your records: s1cR93qYWaiwQ.........
Building image full for provider azure... This can take up to 25 minutes so please

[2021-04-17 00:29] 0xtavian commented on #298
@feint9 if you have any more details or insight as to why this might be happening lmk. I am also getting azure errors but not quite those. but they are still preventing me from accessing instances. Is there anything unusual about your set up? Can you paste full terminal output logs? thanks for bringing this to our attention

[2021-04-17 06:04] pdelteil commented on #238
Thanks @0xtavian.

How is intended to use it?

1. axiom-backup ID
2. deploy a fleet using the backup? (How?) ``axiom-init NAME --restore=ID`` ?

The documentation in the cheat sheet says :

[code]

Which is a bit confusing..

[2021-04-17 06:46] KrE80r commented on #285
Indeed but only the non-axiom droplet is missing the IP.

[2021-04-17 06:52] KrE80r commented on #285
issue #272 pops-up later. Here are more details

- running axiom-playbook I get errors like
[code]
Line 8 contains
[code]

- Where "box.example.com" is a non-axiom droplet I have with no floating IP, and it uses a FQDN.
- Other axiom droplets do have ips added to them as expected in sshconfig.
-  Reverting the below line did get the IP added to sshconfig as expected
[code]

[2021-04-17 16:27] 0xtavian commented on #238
thanks. i'll update that. @pdelteil.  run axiom-init, then ssh into the instance you want to configure for feature fleets, axiom-ssh [instance]. set up everything you want (config files, extra tools etc) and exit that ssh session. Run axiom-backup and follow the prompts. then wait a few minutes until the image is created and run axiom-fleet to deploy with your custom image.

[2021-04-17 22:37] bwlinux commented on #285
@KrE80r  could you trying something to make sure it works for both of us.

Change that line to the following:
[code]
I think the problem is related to jq using a 0 or 1 based array index. The 'head -1' should insure we just take the first line returned regardless.

Could you also run the following:
[code]

[2021-04-18 20:24] NagliNagli opened #300 "Supporting file upload for folders, not only wordlist"
Hi,

for various scans I want to upload a folder, would be cool to specify it as the -wL flag and to support folders as well as files.

cheers.

[2021-04-19 13:35] itsgudenuf commented on #298
@feint9, I did some debugging on this last week. I had to make several changes to the azure-functions.sh file. I'll do a pull request later today and get those changes up there.

There is one caveat that I have not figured out how to work around... When you do axiom-fleet in Azure, there will be a Virtual Network created in the name of the first VM instance.  It can not be deleted until no other o

[2021-04-19 16:38] 0xtavian commented on #298
that would be very much appreciated, thank you! @itsgudenuf

[2021-04-19 16:40] 0xtavian commented on #300
hey @NagliNagli thanks thats def an interesting idea. Question tho, what tool uses a folder as a targetlist/wordlist? also i changed the title, do u agree with that title? :p

[2021-04-19 19:03] feint9 commented on #298
0xtavian a fresh run of axiom... Kali full updated...

┌──(root💀zzz)-[~]
└─# bash <(curl -s https://raw.githubusercontent.com/pry0cc/axiom/master/interact/axiom-configure)                                                                                          20:00:05 19.04.21

 ▄▄▄      ▒██   ██▒ ██▓ ▒█████   ███▄ ▄███▓
▒████▄    ▒▒ █ █ ▒░▓██▒▒██▒  ██▒▓██▒▀█▀ ██▒
▒██  ▀█▄  ░░  █   ░▒██▒▒██░  ██▒

[2021-04-19 20:04] 0xtavian commented on #298
@feint9 thanks, i'll try to look into this tomorrow/wednesday. If @itsgudenuf gets the PR request submitted that would be even better :). thanks guys

[2021-04-19 22:17] 0xtavian commented on #298
@feint9 by mistake we dont install az. I need to do that. can you run `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash` and try again? You can see from the errors some are about az not being installed

[2021-04-20 01:03] pdelteil commented on #272
Thanks. I think I will keep the extra `while`.

[2021-04-20 01:03] #272 closed

[2021-04-20 02:17] 0xtavian commented on #298
@itsgudenuf awesome job man. Even with these odd errors im still able to provision fleets etc.
<img width="525" alt="Screen Shot 2021-04-19 at 9 07 50 PM" src="https://user-images.githubusercontent.com/21030907/115327055-ea49e180-a153-11eb-982a-d958ced18d4b.png">
<img width="1440" alt="Screen Shot 2021-04-19 at 9 06 19 PM" src="https://user-images.githubusercontent.com/21030907/115327058-eae27800-

[2021-04-20 02:19] 0xtavian commented on #298
https://github.com/pry0cc/axiom/pull/301 thanks again @itsgudenuf and @feint9

[2021-04-20 02:19] #298 closed

[2021-04-20 06:00] NagliNagli commented on #300
Hi, specific folder of nuclei templates for example

[2021-04-20 10:22] dmatrixx opened #302 "running axiom-scan on fleets from multiple accounts (eg linode and digitalocean) collectively"
This is a question . If there is a way to to tweak and add fleets from multiple clouds so as to run axiom-scan. Like adding hosts and ssh keys in one file from which the axiom-scan can run on them?

[2021-04-20 20:46] 0xtavian commented on #302
@dmatrixx you've inspired me to take another look into multi cloud fleets and its actually easier than i originally thought. The requirements for axiom to work with multiple cloud at the same time are:

1) the ssh config file located in `~/.axiom/.sshconfig` has to have the inventory of both accounts. By default this config is regenerated during axiom-scan or when switching accounts. so my default

[2021-04-20 23:25] dmatrixx commented on #302
@0xtavian

Sweet!! Thanks for the work there and the one liner.

I was gonna try to do that myself, but thought to ask first if it would work that way .
The one liner works good and aggregated my 2 linode accounts and one digital ocean account.

Geez! Axiom just got more amazing. More power!!

Thank you

[2021-04-21 02:10] 0xtavian commented on #300
@NagliNagli its actually supported already :). I updated the docs https://github.com/pry0cc/axiom/wiki/Filesystem-Utilities#using-axiom-scp
https://github.com/pry0cc/axiom/wiki/Cheatsheet#copy-files-to-and-from-hosts

thanks! I didnt know this myself.

[2021-04-21 02:10] #300 closed

[2021-04-22 17:27] h1-secu opened #305 "An Error during Build"
Hey folks,
When I try to build axiom, I see some errors. Here is the output:

[code]

What should I do?

[2021-04-22 17:30] 0xtavian commented on #305
hey @h1-secu see here https://github.com/pry0cc/axiom/issues/294

[2021-04-22 17:30] 0xtavian commented on #305
run `doctl compute size list` and pick a different size/slug. Add the new size to .axiom/account/[your-account].json then rerun axiom-build

[2021-04-22 17:30] #305 closed

[2021-04-23 12:38] h1-secu opened #307 "An Error During Subfinder Scan"
Hey guys,
When I run subfinder, axiom asks me the droplets' passwords. I guess its not normal. I put the passwords manually but it doesn't work.

Output:

[code]

[2021-04-23 16:00] 0xtavian commented on #307
@h1-secu please look into this issue for guidance https://github.com/pry0cc/axiom/issues/272/

[2021-04-23 18:20] h1-secu commented on #307
@pdelteil Im not sure why this is happening. What provider are you using? Can you reinstall following the manual install https://github.com/pry0cc/axiom/wiki/0-Installation#manual? Im setting up a fresh box now to test. Can you also check that `~/.axiom/configs/authorized_keys` has the pub key from `~/.ssh/id_rsa.pub` and if not run
 `cat ~/.ssh/id_rsa.pub > ~/.axiom/configs/authorized_keys
` and

[2021-04-23 19:28] 0xtavian commented on #307
@h1-secu

What provider? but the fix should be simple.

Remove `"while [ ! -f /var/lib/cloud/instance/boot-finished ]; do echo 'Waiting for cloud-init...'; sleep 1; done",`  from `.axiom/images/provisioners/full.json`.

you never created an ssh key or added the public key to `~/.axiom/configs/authorized_keys`.
you must have gotten a warning during setup that no ssh keys were identified? bottom lin

[2021-04-24 18:39] #307 closed

[2021-04-26 01:28] pdelteil opened #309 "[Issue] Axiom-scan, nuclei -> parse error"
Hello guys,

This started to happen:

[code]
While doing ``axiom-scan urls.txt nuclei -t /home/op/nuclei-templates ``

After 20 minutes I realized I removed the ``-m`` flag. Maybe adding a condition to the parser to point the missing module flag?

Thanks!

[2021-04-27 17:52] 0xtavian commented on #309
hey @pdelteil two things about this. The first is that using nuclei with the `-t` option doesnt work with axiom (I think we should change this). We know this is how nuclei normally works without axiom but we've opted for a custom option `-w` so its more concise with other modules. Basically instead of providing the `-t` option you need to provide the `-w` (wordlist) option. Second is there is an a

[2021-04-29 01:01] uBadRequest opened #318 "[linode] Specified number of instances fail to spin up"
I asked Linode to increase my limit of linodes I could spin up to 50, but when I run 'axiom-fleet -i=50', I only end up getting 35.

Is there currently anything that would check whether or not the specified number of hosts have successfully started? Or adding to the current fleet while keeping the naming scheme?

[2021-04-29 08:14] arkenoi opened #319 "Feature request: masscan range and port combo sharding"
Say, you scan a number of IP ranges with masscan. The target has some IDS in place and once it detects something that definitely looks like a port scan it bans your scanner instance. As of now, all target ranges are being split by chunks exactly the way you specify it in the command line, say, you have 3 ranges and 3 scanning instances, each one would get its own. However, if we were able to split

[2021-04-29 18:54] 0xtavian commented on #318
@uBadRequest Im not sure how to check if the limits have been increased via the cli but I would suggest reaching out to support if you think something is awry.

`axiom-ls` displays the instances on the account that are active. You can also double check with the GUI (you might have to use it from time to time to delete automatic backup images of linodes).

Yes, for example, if you want to add 10 mo

[2021-04-29 18:54] #318 closed

[2021-04-29 18:55] 0xtavian commented on #319
@arkenoi I wouldnt provide axiom-scan with subnets ranges. Instead use mapcidr https://github.com/projectdiscovery/mapcidr to fully expand the ranges beforehand.

[2021-04-30 01:56] pdelteil opened #321 "[issue] axiom-scan waybackurls won't work"
I ran axiom-scan using the module waybackurls, worked once, canceled and now it doesn't run anymore.

Tried many times, I only get this output

![Screenshot from 2021-04-29 21-51-29](https://user-images.githubusercontent.com/20244863/116639120-bf227780-a935-11eb-9186-f8af0740463c.png)

[2021-04-30 03:57] 0xtavian commented on #177
@taythebot not without a substantial code change. What provider are you considering?

[2021-04-30 10:08] s3ns3ii opened #322 ""An image has not been found in this region.""
Whenever trying to start an instance I get this error. The axiom.json file seems good to me so not sure what is this. Any suggestion please? Already ran axiom-build again but didn't help.
Selected the ams2 region on setup, and in the snapshot this one is selected too.

"An image has not been found in this region. Do you need to run 'axiom-build'?"

[2021-04-30 11:46] s3ns3ii commented on #322
sorted in the meantime with a reinstall.. :)

[2021-04-30 11:46] #322 closed

[2021-04-30 19:44] 0xtavian commented on #322
If that happens again try executing `axiom-account [your-account]` and make sure the imageid located in `~/.axiom/account/[your-account].json` is the correct image tag/title/name. You can check the cloud dashboard web GUI for the image name your are supposed to use.  The naming convention for image names is always axiom-$REGION$TIMESTAMP. If none of that works reinstall :).

[2021-04-30 19:49] #321 closed

[2021-04-30 20:58] #319 closed

[2021-04-30 21:01] #261 closed

[2021-04-30 21:02] 0xtavian commented on #261
I would suggest looking into the Barebones JSON Packer build and using that as a template for custom Packer JSONS.

[2021-05-01 08:10] Raywando opened #323 "A few instances not closing after finishing the task"
Hi

I ran nuclei module on 36 instances and it worked fine but eventually, this is the output I get after the task finishes and get stuck there

![lQkPyBxUR1](https://user-images.githubusercontent.com/33800255/116775748-4cb4b300-aa6d-11eb-8741-e5944e00c318.png)

These two pictures are from `htop` command that shows a few instances are still not closing and i have to kill them manually
(every time

[2021-05-03 03:13] pdelteil commented on #309
Hi there,

Actually the -t it does work. I was just testing it:

``axiom-scan input.urls.txt -m nuclei -t /home/op/nuclei-templates/phalcon.yaml  -stats -si 180``

It did run only one template

![Screenshot from 2021-05-02 23-06-40](https://user-images.githubusercontent.com/20244863/116838111-2ab94e80-ab9b-11eb-98f1-e8c7177d5f13.png)

And then if I remove the -t i got this:

![Screenshot from 2021

[2021-05-03 05:25] iamsonidarshan opened #324 "Add support to check for subdomain takeover using subzy"
Can you please add this tool, https://github.com/LukaSikic/subzy to check for subdomain takeovers?

[2021-05-04 15:16] 0xtavian commented on #323
@Raywando if you run axiom-exec 'sudo ps aux' you will more likely see nuclei scans still running. You can run nuclei with -stats to display stats to confirm the scans are still running.

[2021-05-04 15:16] #323 closed

[2021-05-04 15:38] anasbousselham opened #326 "Sqlmap"
Hi,
Was anybody successful in making it work correctly?

[2021-05-04 15:41] 0xtavian commented on #309
cool. thanks @pdelteil. you would use the -w flag the same way as -t, they seem to be interchangeable with the nuclei module. if you wanted to upload a local wordlist and use that for templates you would provide the -wL flag, however Im not sure if `-wL` works with directories. Im going to postpone adding an error message when a module isnt provided for now.

[2021-05-04 15:41] #309 closed

[2021-05-05 18:39] pdelteil opened #327 "[issue] Auto ticket creation failed"
This is the error I got

![Screenshot from 2021-05-05 14-37-27](https://user-images.githubusercontent.com/20244863/117192377-a5f34e00-adaf-11eb-981e-2fdba4fa1007.png)

[2021-05-06 18:32] itsgudenuf opened #329 "Is there any work on Google Cloud?"
Just curious.

I enjoy using Linode, but wouldn't mind having GCP as another option.

[2021-05-06 20:29] dhauenstein opened #332 "Update nuclei templates and add a sensible config"
I'd love to see nuclei templates updated when building a axiom snapshot, for example by executing
`nuclei -ut` .
This itself should be a simple task and could be easily configured in the provisioning json file, but additionally I'd like to propose creating a sensibel initial [nuclei config ](https://nuclei.projectdiscovery.io/nuclei/get-started/#nuclei-config).
Of course nuclei-templates can be up

[2021-05-06 20:31] dhauenstein commented on #247
I just issued a PR (#331) for this.

[2021-05-06 21:04] 0xtavian commented on #332
Thanks @dhauenstein for the suggestion and the other PRs! When using nuclei module for axiom-scan (https://github.com/pry0cc/axiom/blob/master/modules/nuclei.json) we actually do update before each run, but adding them to the Packer provisioners is something we can do.

About the nuclei config I'll have to look into it more but might be worth doing. For what its worth you could always do axiom-ini

[2021-05-06 21:12] 0xtavian commented on #329
Hey @itsgudenuf, not at the moment. We'd happily merge another one of your awesome PRs if you happen to take it upon yourself.

[2021-05-06 21:34] itsgudenuf commented on #329
LoL. OK.
I just wanted to make no one else was working on it.
I started looking at it a few weeks ago before I got into reconFTW.

Let me see what I can do.

[2021-05-06 21:34] #329 closed

[2021-05-07 08:13] dhauenstein commented on #332
Hey @0xtavian , you are of course absolutely right - nuclei templates get updated with every run. Sorry I missed this and it totally makes sense.
About the config: I'd love to see a possibility to configure/upload/install additional tools on the axiom snapshot. Now there are several ways:
1. Use `axiom-ssh` or `axiom-exec` to provision a once build box with your own tools and files. After that run

[2021-05-07 21:24] 0xtavian commented on #332
@dhauenstein I think this is a brilliant idea. we can have an option for the user to go to `~/.axiom/config/` and fill out config files and maybe have some default ones as an option. For an example how this could work check out the barebones Packer provisioner https://github.com/pry0cc/axiom/blob/master/images/provisioners/barebones.json. We would just set the source and destination files appropri

[2021-05-08 18:57] D1rk9ghT opened #334 "build fail"
![sssssssss](https://user-images.githubusercontent.com/51112159/117550325-59cd3580-b05d-11eb-896f-37c6efdbf207.png)

[2021-05-08 20:43] 0xtavian commented on #334
@D1rk9ghT can you upload a copy of the full axiom-build terminal output? what provider are you using? what os?

[2021-05-14 23:00] 0xtavian commented on #326
thanks, it should work now @anasbousselham

[2021-05-14 23:01] #247 closed

[2021-05-14 23:34] #326 closed

[2021-05-17 14:08] C90D opened #338 "add tools kxss"
https://github.com/Emoe/kxss
Thanks bro!!!

[2021-05-18 08:11] arkenoi opened #339 "name substitution bug"
If you happen to name your instances "scan*", you get spectacular side effects when trying to axiom-scp anything from/to "scan" directory there because every "scan" will get substituted with "scan01" "scan02" etc.

[2021-05-18 15:38] anasbousselham opened #340 "No such file or directory ParamSpider Module."
I have this error with `paramspider` after latest update:
[code]

[2021-05-18 16:10] 0xtavian commented on #340
what command are you running?  Running the following works for me.

`axiom-scan httprobe-output -m paramspider -o paramspider`

[2021-05-18 16:18] anasbousselham commented on #340
yep, I have habitude to do it.

[2021-05-18 23:34] pdelteil commented on #309
Thanks for your answer. But instead of a wordlist it's easier just to use nuclei's config file (where you can define excluded/included tags, params and pretty much everything you might need to run a scan).

[2021-05-19 04:36] Krosskid12 opened #343 "ssh problem"
![image](https://user-images.githubusercontent.com/73221787/118757021-e5c83400-b88b-11eb-9517-537fa67610a4.png)
Thanks in advance.

[2021-05-19 20:01] 0xtavian commented on #343
@Krosskid12 are you authenticated to the CLI? What cloud provider are you using? if you cant resolve, running axiom-account-setup and axiom-rebuild should fix the issue.

[2021-05-19 20:01] #340 closed

[2021-05-19 20:01] 0xtavian commented on #339
thanks. we've had this issue for a bit and havent had time to track it down.

[2021-05-20 02:10] #338 closed

[2021-05-20 02:11] C90D commented on #338
Sorry i saw it

[2021-05-20 05:03] Krosskid12 commented on #343
Hii i am using azure,i tried axiom-account-setup but didnt solve the problem.

[2021-05-20 21:05] pdelteil opened #344 "[Question] Linode instances 2 GB RAM"
Hello there,

Why default Linode instances are not the smaller size (and cost [double] 10$ per month). Wouldn't run correctly on a 1 GB instance or it just a bug while creating the fleets?

Thanks.

[2021-05-20 21:07] pdelteil opened #345 "[Issue] axiom-ls not showing the cost of Linode instances"
[code]

[2021-05-21 11:50] anasbousselham opened #346 "Httprobe -prefer-https"
Getting the master version fixes this.
`go get -u github.com/tomnomnom/httprobe@master`

[2021-05-23 06:03] abdilahrf opened #347 "[Issue] Subfinder module scan result not merged"
The remote and local logs is saved correctly but the output is not merged

This is the command that i run:
- axiom-fleet pwn -i=3 -t=2
- axiom-scan root.txt -m subfinder -o subs.txt

the output of scan is not saved in `subs.txt` is empty after the scan complete.

This screenshot below is explain the issue and showing the remote and local logs is correctly saved in place.

![image](https://user-ima

[2021-05-24 01:29] shelu16 opened #348 "Other vps support"
Hi I show there is 3 4 vps provide support to install vps . Can you make way to install othere then digital Ocean or any vps I can install

[2021-05-26 15:52] anasbousselham opened #349 "1.axiom wrong directory"
Hi,
I have this issus, the 1.axiom is wrong
`cp: cannot create regular file '/root/1.axiom/tmp/gospider+1622043286/merge/output/www_my_com': No such file or directory`

[2021-05-29 19:54] 0xtavian commented on #349
can you make sure to update to the latest version and try again? if that doesnt work try changing the names of your target list and output file/folder name to something random and try again. thanks @anasbousselham

[2021-05-29 19:55] 0xtavian commented on #348
I dont fully understand what you mean.  Currently, DigitalOcean, IBM Cloud, Linode and Azure are officially supported providers. Are you asking to install on a different cloud provider? If so, what cloud provider? @shelu16

[2021-05-29 20:00] 0xtavian commented on #347
@abdilahrf this is odd. also sorry for the late reply. I notice you are only scanning one target, if only scanning one target, only one axiom instance will have a job to do. the other will fail to exec the subfinder command and u will get the error during merge that no files are found because there was nothing on the remote isntances to pull from. However that doesnt explain why that last pwn01 di

[2021-05-29 20:02] 0xtavian commented on #346
good deal @anasbousselham. Done.

[2021-05-29 20:02] #346 closed

[2021-05-29 20:05] 0xtavian commented on #343
@0xtavian any luck? if you still have that setup, try to do `axiom-select` and reselect your fleet. It seems like you didnt get an IP from azure. do axiom-ls to validate you have inventory.

[2021-05-30 14:20] anasbousselham commented on #349
It is working now but however I have a lot files with ext. ~1~ with different size like this :

-rwxr-xr-x 1 root root 4.1K May 30 10:12 www_mywebsite_com

-rwxr-xr-x 1 root root 116K May 30 10:12 www_mywebsite_com.~1~

[2021-06-01 09:19] 0xAkashsec opened #350 "support to increase your snapshot image size to 18GB"
![image](https://user-images.githubusercontent.com/46501627/120299264-ad454300-c2ec-11eb-9326-c54343f62152.png)
![image](https://user-images.githubusercontent.com/46501627/120299348-be8e4f80-c2ec-11eb-8ac8-650c248544bd.png)

[2021-06-02 05:16] abdilahrf commented on #347
Hi @0xtavian ,

I running the update already, but its still the same error
`axiom-scan root.txt -m subfinder -o subs.txt`

![image](https://user-images.githubusercontent.com/6015012/120427454-22238600-c39c-11eb-89b4-5b0d88efcef9.png)

now my root.txt file contains more than 10targets, but still the logs is saved locally and remotely but not the merged file
`-o subs.txt` is not created the file `su

[2021-06-02 13:03] mchoji commented on #350
@0xAkashsec I have submitted a PR that fixes this issue. In the meanwhile, you can run the command manually

[code]

Remember to run `axiom-build` once your ticket gets resolved.

[2021-06-02 13:04] mchoji commented on #327
@pdelteil  I have submitted a PR that fixes this issue. In the meanwhile, you can run the command manually

[code]

Remember to run `axiom-build` once your ticket gets resolved.

[2021-06-02 15:54] bhutch opened #352 "axiom-scan: cp: Argument list too long"
Hello,

When the list of targets is large, axiom-scan may run into problems during merge operations. The cp "glob" could exceed the maximum command size (ARG_MAX).

For example, when merging directories, line 227 may present problems:

            cp -r $tmp/output/* $tmp/merge

Mode set to directory... Merging directories...
/home/axiom/.axiom/interact/axiom-scan: line 227: /usr/bin/cp: Argument

[2021-06-02 18:08] #327 closed

[2021-06-02 18:08] 0xtavian commented on #350
thanks @mchoji! Im going to close this but feel free to re-open if the issue is not resolved

[2021-06-02 18:08] #350 closed

[2021-06-03 15:17] ronfury opened #353 "Tool request for xsshunter-express"
https://github.com/mandatoryprogrammer/xsshunter-express

[2021-06-05 09:05] petrescugit opened #354 "I can't seem to ssh into the instances, either individually or using axiom-fleet"
I'm using Ubuntu 20.04 on a DO 2 GB droplet and I think I have the correct versions for all the dependencies.
The first few times I thought it was an error when I generated the ssh keys but I kept doing it 2-3 times and it doesn't work.
Anyone else having this issue?
If not, what can I post here to get a better diagnosis of my problem?
axiom-build works without any errors, so does axiom-update, I

[2021-06-05 14:28] petrescugit commented on #354
Manage to get past it like this:
1. I ran _ssh-keygen_ and used the default file names to setup a new keypair without a password
(you do mention in the tutorial taht a keypair is needed but the setup script also pretends to create one, it does create it but doesn't appear to use it)
2. _cat ~/.ssh/id_rsa.pub >> ~/.axiom/configs/authorized_keys"_
3. _axiom-build_

[2021-06-05 14:28] #354 closed

[2021-06-06 16:32] Regala commented on #309
Hi! Can we reopen this issue? Was banging my head against the wall because I started getting the same error `parse error: Invalid numeric literal at line 1, column 2`. Axiom tries to start, but fails. So basically the argument `-m` should be checked if it exists or not (always I'm guessing?).

Cheers!

[2021-06-07 06:43] Regala opened #355 "axiom-scan --progress flag suggestion"
Hi folks! Congrats on this awesome project first and foremost.

Was wondering if it would be viable/possible to have a `progress` flag on axiom-scan. Feel like it might be a bit complicated, since we would be dealing with interlace output and etc. My idea would be ofc to suppress output of the tools to make it easier, so you'd only see that potential progress bar.

Cheers!

[2021-06-07 13:50] Techbrunch opened #356 "axiom-scan ffuf - no such file or directory:"
I'm running into an error when trying to run ffuf using axiom-scan. For some reasons it looks like the directory is not correctly created on the instance:

[code]

It looks like this command is not ran: https://github.com/pry0cc/axiom/blob/569985e790f1cebd93221eafc44d383396955adb/interact/axiom-scan#L559

[2021-06-07 15:05] Techbrunch opened #357 "Digital Ocean - Enable IPV6 when creating the instance"
It would be great to enable IPV6 when creating droplet (or at least have the option to enable it).

This would enable port scan using IPV6.

This can be done with doctl using the `--enable-ipv6` flag.

Source: https://docs.digitalocean.com/reference/doctl/reference/compute/droplet/create/

Workaround: https://docs.digitalocean.com/products/networking/ipv6/how-to/enable/#on-existing-droplets

[2021-06-08 09:27] Techbrunch commented on #356
I found the issue, I was using an older version of Interlace that did not support the `--no-bar` flag. Updating Interlace fixed the issue.

I would be nice to add a `--debug` mode to make this can of issue easier to debug.

[2021-06-08 09:27] #356 closed

[2021-06-08 18:10] pdelteil opened #359 "Problem using Linode instances"
I've been running axiom-scan using linode instances and I constantly face the following issue:

One or more instances have a very low performance, for instance, using nuclei some instances run at 140 RPS (requests per second) while others run at 5 or less RPS. I've recreated the instances and I can't figure out why this is happening. I didn't have this type of issues using Digital Ocean.

Is anyon

[2021-06-10 02:17] pdelteil opened #360 "[Issue] Packages not installed on Ubuntu 18"
Hello,

This is an issue for users trying to make axiom work on Ubuntu 18.

I don't know why, but the installation script won't install ruby and python3-pip. You need to install them manually.

`sudo apt install ruby python3-pip`

This does work in Ubuntu 20.x.

[2021-06-11 16:38] #270 closed

[2021-06-11 16:47] ResistanceIsUseless opened #361 "Clean up shell functions"
I want to open discussion for cleaning up .zshrc and maybe consider splitting out some of the program specific shell functions in their own file or folder. This would make it easier to add more and keep things organized.

Also, I noticed that playbooks aren't really used currently. Is that correct? Maybe we use playbooks for multi-step actions for things like one-liners and functions for more util

[2021-06-12 05:45] 0xtavian commented on #361
answered in discussions

[2021-06-12 05:52] 0xtavian commented on #355
I think we had a --quiet option for axiom-scan but it seems to not be working. It previously suppressed all STDOUT and only showed the interlace progress bar. I think we ran into issues and remove it. But I can look into it again and see what i can come up with. Any solutions in mind?

[2021-06-13 01:59] 0xBrewz opened #363 "Project Discoverys Interactsh"
I think this would be a good feature for us that dont use burp collabator.. the framework already has the requirements and the project discovery suite on it.. i didnt see it in the list so thought adding it would be good and not much work at all

Tool: https://github.com/projectdiscovery/interactsh

Related Blogposts:
https://blog.projectdiscovery.io/interactsh-release/
https://blog.projectdiscove

[2021-06-15 15:56] Techbrunch commented on #357
According to this page: https://docs.digitalocean.com/products/networking/ipv6/

Which is weird since you can do it using the web interface. Maybe this means that it cannot be done at creation time.

Setting ipv6 to true in do.json:

[code]

It worked when building the image but not when creating new droplet from the image.

[2021-06-15 20:00] #361 closed

[2021-06-17 13:58] froboot commented on #343
ola, estou com um problema para instalar o axiom: Your build failed :( Please take a look at the errors!
This can happen sometimes, if you have a [404] error while using Linode, this is likely because you need to request support for a larger image size to 18GB!
For support, take a screenshot of the last 20 lines and open a issue at https://github.com/pry0cc/axiom/issues
Sometimes just running a bu

[2021-06-17 19:40] 0xtavian commented on #349
@anasbousselham I'm unable to reproduce. Can you try again and reopen the issue if needed?  make sure you are using the modules we provide and if not, paste the module you are using. thank you

[2021-06-17 19:40] #349 closed

[2021-06-17 19:42] 0xtavian commented on #347
@abdilahrf can you provide the list of subs in root.txt?

[2021-06-17 19:49] 0xtavian commented on #343
@froboot Gostaria de criar uma nova caixa com a máquina em nuvem Ubuntu 20.04 no azure, instalar o axioma a partir destas instruções
https://github.com/pry0cc/axiom#installation---easy-install e tente novamente. Essa falha pode acontecer por vários motivos. Mostrar a saída completa do terminal ajudaria, mas ainda assim recomendaria excluir tudo e reinstalar em uma máquina nova. Se você ainda tiver

[2021-06-17 20:05] froboot commented on #343
obrigado!

On Thu, Jun 17, 2021 at 4:49 PM 0xtavian ***@***.***> wrote:

[2021-06-18 11:36] 0xtavian commented on #359
@pdelteil thanks, I think the issue was related to the ulimits we set. they were just maxed out. so any process could probably over-consume resources and cause the remote instances to grind to a halt, maybe. thats one possible idea for why this happens. Make sure u do axiom-update and it will require a rebuild (axiom-rebuild). Let me know if this continues to happen. Im going to close this issue b

[2021-06-18 11:36] #359 closed

[2021-06-18 12:22] 0xtavian commented on #177
@taythebot they dont support Packer so its not possible either way.

[2021-06-18 12:26] 0xtavian commented on #360
@pdelteil Ubuntu 18 is not supported due to these issues.

[2021-06-18 12:26] #360 closed

[2021-06-18 12:28] 0xtavian commented on #348
Closing as possible repeat issue https://github.com/pry0cc/axiom/issues/236

[2021-06-18 12:28] #348 closed

[2021-06-18 13:09] 0xtavian commented on #363
@0xBrewz thanks for the suggestion, its been committed to dev. will push to master today

[2021-06-18 13:09] #363 closed

[2021-06-18 19:03] ZigzagSecurity commented on #234
Hi, I have the same issue here. I'm using a kali vm up to date.

![image](https://user-images.githubusercontent.com/40743997/122606052-5195ec00-d046-11eb-842f-37f2e2f1b1af.png)

[2021-06-18 23:16] pdelteil commented on #360
Understood. Thanks.

[2021-06-18 23:55] 0xtavian commented on #234
@ZigzagSecurity the error says ams2 is unavailable, pick a different region with axiom-account-setup (iirc) and rerun axiom-build

[2021-06-19 00:36] pdelteil commented on #359
Hello @0xtavian,

That change seems to fix the problem I was having. The RPS are similar in all the instances.

So, thanks so much.

[2021-06-19 20:25] gkfnf opened #368 "Does add tools like xray or awvs to scan some normal web vul for this is a good idea?"

[2021-06-20 00:01] froboot commented on #343
olá, fiz varias coisas para instar o axiom: excluir todos os arquivo e
instalei de novo, excluir o droplet e instalei de novo , mas ontinua dando
o mesmo erro, enviarei a imagens do erro aqui. você poderia mim ajudar ?

On Thu, Jun 17, 2021 at 5:05 PM carlos anarquia ***@***.***>
wrote:

[2021-06-20 00:12] froboot opened #369 "problema com a instalação do axiom."
ola, estou com esse problema ao tentar instalar o axiom, ja fiz varias coisas e mesmo assim continua dando o mesmo erro. ja excluir o droplet, instalei de novo, e dar o mesmo erro. poderia ajuda ?
(==> digitalocean: Erro ao criar droplet: POST https://api.digitalocean.com/v2/droplets: 422 criar este (s) droplet (s) excederá seu limite de droplet
==> digitalocean: Excluindo chave SSH temporária ...

[2021-06-21 17:20] 0xtavian commented on #369
@froboot

as the error says: you exceed your droplet limit. you either have to delete an instance or ask DO nicely to increase your droplet limit allowance

[2021-06-21 17:20] #369 closed

[2021-06-22 21:40] frederickalcantara opened #371 "Axiom can't build out Linode Machine due to image request size"
Based on the message instructions, I get the following.

<img width="1183" alt="Screen Shot 2021-06-22 at 5 39 44 PM" src="https://user-images.githubusercontent.com/23001248/123003182-d6537380-d380-11eb-8cb9-3a357d5aa7b8.png">

Please advise on how I can fix this, to provide some context I'm using a MacOS machine (Big Sur 11.4).

[2021-06-22 23:34] 0xtavian commented on #371
@frederickalcantara for linode you have to open a support ticket and request a larger image size. During axiom-account-setup there should be an option to auto submit a ticket (https://github.com/pry0cc/axiom/blob/master/interact/account-helpers/linode.sh#L90). If that is in fact the issue, they take around 24 hours or so to respond. Oddly, the error you are getting says 404 image not found. LMK if

[2021-06-22 23:34] #371 closed

[2021-06-24 01:45] wasp76b opened #372 "Tool request for Gxss"
It would be cool to have a Gxss module (https://github.com/KathanP19/Gxss)

thanks

[2021-06-24 18:12] 0xtavian commented on #357
@Techbrunch I'll try to look into this over the weekend, just been very busy. For what its worth Linode seems to have IPV6 automatically enabled

[2021-06-25 12:08] 0xtavian commented on #372
@wasp76b we have a guide for making simple modules https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules if youre interested in adding your own tools

[2021-06-25 12:15] 0xtavian commented on #368
@gkfnf Im not sure I've heard of awvs, can you send a link? As for xray, there are a few that I know of, with the most popular one being https://github.com/chaitin/xray. However, as they note on their page "xray is not open source". I have heard good things about this software thru the grapevine but wont add it to axiom's images by default before of its closed source nature. That being said, I thi

[2021-06-25 12:15] #368 closed

[2021-06-25 12:17] 0xtavian commented on #347
@abdilahrf closing as not able to repeat, feel free to open again if you have any more details

[2021-06-25 12:17] #347 closed

[2021-06-25 12:19] 0xtavian commented on #343
@Krosskid12 this as the OP hasnt responded and I have not been able to repeat. Feel free to reopen the issue or reach out to us on discord server run by 0x00sec, you'll find an axiom channel inside https://t.co/sd0q9YWINY

[2021-06-25 12:19] #343 closed

[2021-06-25 12:21] 0xtavian commented on #344
@pdelteil its not a mistake. We noticed a significant performance increase with $10 a month boxes vs $5, which of course the user has the option to change during axiom-account-setup

[2021-06-25 12:21] #344 closed

[2021-06-25 19:46] pdelteil commented on #344
Thanks for your answer.

Maybe a message with the price could be included during the installation/config process.

[2021-06-25 21:19] makma commented on #238
For others (and future me), I faced a similar issue, I wasn't able to sue my snapshot after `axiom-backup` with message
`An image has not been found in this region. Do you need to run 'axiom-build'?`.
I'm running axiom on WSL. The way to fix was to install `doctl`.
1. `cd ~`
2. `wget https://github.com/digitalocean/doctl/releases/download/v1.60.0/doctl-1.60.0-linux-amd64.tar.gz`
3. `tar xf ~/doctl

[2021-06-25 21:55] pdelteil commented on #238
Good to know. And `doctl` should have been installed using the axiom-configure script, probably it failed and you didn't notice.

[2021-06-26 16:27] ptrk01 opened #374 "No final result output file on FFUF modul scan"
I set up Axiom today and tried to do some test scans using standard scan modules ffuf.json and ffuf_base.json. Both modules run without any problems. The only problem is that the final output csv file is empty even though there are findings I see in the terminal output.

I run my fleet named "test" (10 instances) with the following commands:
[code]

After the scan is done, terminal prints the foll

[2021-06-30 19:03] 0xtavian commented on #374
@ptrk01 can you show me the findings displayed to the terminal? I havent been able to recreate. Those error messages ` no matches found` seem to indicate there arent any results.

[2021-06-30 21:42] #372 closed

[2021-06-30 21:43] 0xtavian commented on #353
@ronfury we have a guide for making simple modules https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules if youre interested in adding your own tools

[2021-06-30 21:43] #353 closed

[2021-06-30 21:43] 0xtavian commented on #324
@iamsonidarshan we have a guide for making simple modules https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules if youre interested in adding your own tools

[2021-06-30 21:43] #324 closed

[2021-07-01 20:48] anasbousselham opened #375 "~1~ extension"
I have more a more ~1~ extension after every scanning ; exp with aquatone :
`aquatone_report.html
aquatone_report.html.~1~
aquatone_report.html.~2~
aquatone_report.html.~3~
aquatone_report.html.~4~ `
How to remedy this issue!?
Thanks

[2021-07-02 06:09] kusayuzayushko opened #376 "problem running axiom-deploy openvpn"
[code]

And therefore:

[code]

I'm on Manjaro and I guess it's something with my  system. Have any idea what exactly is wrong and how to fix it?

[2021-07-02 09:52] kusayuzayushko commented on #376
Actually, it's not my system.
`sudo apt update -y; sudo apt --fix-broken install -y` on the axiom instance fixes the issue. Hope it'll help someone

[2021-07-02 11:33] darkc0d37 commented on #357
@Techbrunch  @0xtavian  this can be done by modifying ```do-funcations.sh``` file
This is the pull request https://github.com/pry0cc/axiom/pull/377/commits/24f8c1c77bffe4d7f274310ffde0632d7e52ac63

[2021-07-03 14:21] cocoonkid opened #379 "jq - doctl :axiom is missing a few packages so I had to start install multiple times."
When installing on arch:

jq
doctl

[2021-07-05 19:43] 0xtavian commented on #375
@anasbousselham this is working as expected, but it could be improved. Instead of downloading each aquatone_report.html from each instance, we should download all the data and generate the aquatone_report.html file on the axiom-controller. The way it is now, each instance creates an aquatone_report.html file. To avoid overwriting the reports because they have the same file name, we decided to appe

[2021-07-05 19:44] 0xtavian commented on #376
@kusayuzayushko thanks, more evidence that the Packer provisioner files need some work. I'll see what I can do this week.

[2021-07-05 19:45] 0xtavian commented on #379
I dont believe arch is fully supported. If you want to make a pull request with the fixes we'd be happy to test and merge.

[2021-07-05 19:45] #379 closed

[2021-07-05 19:46] 0xtavian commented on #374
closing, unable to reproduce. feel free to reopen if you think it was a mistake to close

[2021-07-05 19:46] #374 closed

[2021-07-05 19:46] 0xtavian commented on #357
thanks! Closing this. Reopen if there are any more issues.

[2021-07-05 19:46] #357 closed

[2021-07-06 18:10] cocoonkid commented on #379
these are extra packages on any system so the installer should check for their existence no?

[2021-07-08 02:49] rohancollab opened #382 "LiveTargetsFinder - can it be added to the modules please? Thanks."
hi @pry0cc ,

Thanks for this awesome framework! Really amazed by the speed. Just asking if is it possible to add LiveTargetsFinder by allyomalley to Modules?

LiveTargetsFinder - https://github.com/allyomalley/LiveTargetsFinder

Thanks a lot.

[2021-07-08 21:20] 0xtavian commented on #352
@bhutch thanks, working on a fix in this branch. https://github.com/pry0cc/axiom/blob/gee/interact/axiom-scan.

[2021-07-12 07:56] honoki commented on #185
This did solve my problem, but because of [this line](https://github.com/pry0cc/axiom/blob/68d189057f3de5ad6791bf76d288a44985427d77/interact/axiom-scan#L11) it reoccurred whenever I ran `axiom-scan`.

A simple fix was to just add `mkdir $HOME/.ssh/sockets` after that line. I'm assuming the same is the case for `axiom-orgalorg` and `axiom-exec`.

[2021-07-13 16:31] 0xtavian commented on #352
this has been pushed to master. However we'll also need to replace this line and likely a few more https://github.com/pry0cc/axiom/blob/master/interact/axiom-scan#L181

[2021-07-13 17:01] 0xtavian commented on #185
@honoki can you update to the new axiom-scan? we've removed the sockets all together.

[2021-07-13 22:51] 0xtavian commented on #185
for anyone else seeing this error I believe running `axiom-account [your-account]` should fix it, if not then run `axiom-account-setup`

[2021-07-14 06:32] MR-pentestGuy opened #385 "No module kxss"
There is no module called kxss here

[2021-07-14 18:08] 0xtavian commented on #382
@rohancollab If youre interested in adding a module please take a look at: https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules. The tool sounds interesting but there isnt any new functionality here that isnt already in the other tools (especially considering its just a wrapper for other tools), another concern is that it might not be maintained (last commit was Nov 2019).

[2021-07-14 18:10] 0xtavian commented on #385
@MR-pentestGuy thanks for pointing that out. if youre interested in making a module take a look here https://github.com/pry0cc/axiom/wiki/Adding-Simple-Modules. Otherwise it will have to wait until I have time

[2021-07-14 18:11] MR-pentestGuy commented on #385
well made one
 here you go

[{
        "command":"cat input | /home/op/go/bin/kxss | tee output",
        "ext":"txt"
}]

[2021-07-14 18:13] 0xtavian commented on #385
sweet, added! https://github.com/pry0cc/axiom/blob/master/modules/kxss.json

[2021-07-14 18:13] #385 closed

[2021-07-14 18:26] 0xtavian commented on #185
for anyone else seeing this error, pick your provider by running `axiom-provider do` for example. If that doenst work run `axiom-account [your-account]`, if none of those work run `axiom-configure` or `axiom-account-setup`.

[2021-07-15 09:13] Regala opened #389 "Feature suggestion: --no-logs switch so logs are not saved"
Axiom produces a large number of logs with each run, which grow over time and very easily takes up dozens of GB storage space.
![image](https://user-images.githubusercontent.com/1380527/125762297-f6f0a732-e41b-40b5-9fa7-474bede023d7.png)

The proposal is something like a `--no-logs` flag which would NOT save logs after the run, both locally and remotely (remotely it's even harder to track).

Even

[2021-07-15 09:41] mrtnrdl commented on #376
I have the same error - unfortunately, your fix doesn't work for me. (Ubuntu 21.04 up to date; axiom up-to-date)

[2021-07-15 19:58] 0xtavian commented on #352
@bhutch done! https://github.com/pry0cc/axiom/blob/master/interact/axiom-scan do let us know if you run into this issue again.

[2021-07-15 19:58] #352 closed

[2021-07-16 02:51] 0xtavian commented on #389
@Regala the first part is done and pushed to master :D

[2021-07-16 03:31] #382 closed

[2021-07-16 07:40] 0xtavian commented on #389
https://github.com/pry0cc/axiom/blob/master/interact/axiom-scan#L294 changing `keeplogs` to `false` also works

[2021-07-16 15:32] 0xtavian commented on #389
@Regala closing this but feel free to open it back up or @ me if you still want the `keeplogs` switch in `axiom.json`.

[2021-07-16 15:32] #389 closed

[2021-07-16 16:49] Regala commented on #389
@0xtavian definitely would like the `keeplogs` flag in `axiom.json` - easier than changing my dozens of axiom-* calls 🙈

[2021-07-16 17:15] rober-h commented on #389
@Regala the only script that uses the keeplogs flag is axiom-scan, currently. Moving it to axiom.json would make it easier to incorporate that flag into other scripts ofc. I'll see what I can do. :)

[2021-07-16 17:46] Regala commented on #389
< 3

On Fri, Jul 16, 2021 at 6:15 PM roder-h ***@***.***> wrote:

[2021-07-19 16:51] 0xtavian commented on #376
@kusayuzayushko does this work for you? https://jamesonhacking.blogspot.com/2021/04/using-axiom-to-send-burp-suite-requests.html

[2021-07-19 16:51] Regala opened #397 "[Bug] Axiom hangs when a job in a ssh session is silent for a long time"
Sometimes axiom hangs for no apparent reason; when you press enter you get the following message:
![unknown](https://user-images.githubusercontent.com/1380527/126197016-b547a129-e869-4c91-ab11-ddf0c6e297f4.png)
Talking with @0xtavian, this might be due to the ssh session which is dropped/closed if no output in the terminal exists; which might happen if it's a long scan and you use `-silent` flags

[2021-07-20 05:49] pdelteil commented on #397
I'm getting something similar:

``Connection to 45.ZZ.XX.YY closed by remote host.``

In my case the ssh session is not silent since I'm printing stats every 3 minutes (nuclei)

[2021-07-20 06:40] pdelteil opened #398 "[issue] Connection closed by remote host."
I'm getting this error a lot recently.

Connection to 45.XX.YY.ZZ closed by remote host. All droplets are still running.

I'm doing a axiom-scan nuclei.

[2021-07-20 14:52] 0xtavian commented on #398
@pdelteil thanks, i think it could be related to https://github.com/pry0cc/axiom/issues/397. In the meantime, can you add -stats to the module and lmk if that fixes it for now?

[2021-07-20 17:20] pdelteil commented on #398
Hi @0xtavian,

I already used the -stats flag.

I'm sorry, I didn't include the command:

``axiom-scan file.txt -m nuclei -stats -si 180 -t /home/op/nuclei-templates/template.yaml``

[2021-07-21 23:18] 0xtavian commented on #398
@pdelteil I noticed ServerAliveCountMax was missing from the SSH configs. I went ahead and added it in this branch https://github.com/pry0cc/axiom/tree/select-fix. Will push to master after testing. This should timeout in one hour if no data has been received from the server or if no data has been received from the client.

https://github.com/pry0cc/axiom/blob/master/images/provisioners/default.js

[2021-07-22 00:39] Pheelbert opened #399 "Failed to create Linode ticket"
Just letting you know that the cli call in linode.sh probably needs to be updated (maybe remove --region).

[code]

[2021-07-22 03:19] 0xtavian commented on #399
@Pheelbert thanks. it seems theirs a bug with their CLI. I was unable to submit even a ticket to test via the CLI. I went ahead and added a direct API call, should work now. LMK if it doesnt.

[2021-07-22 03:19] #399 closed

[2021-07-22 09:08] mrtnrdl commented on #376
At least it works for me - it shouldn't work without `--single` at the moment, as the referenced `$tmp` folder only gets created with `--single`.

I've tried fixing it through just creating the folder every run, but then there is the `haproxy.cfg` file missing. So to fix it completely, one must create a valid/working `haproxy.cfg` as a default and overwrite it if `--single` is passed as an argumen

[2021-07-23 04:37] MR-pentestGuy opened #401 "no tool commix"
the path it shows that commix is not installed and looks like there is module on commix

[2021-07-23 05:07] 0xtavian commented on #401
@MR-pentestGuy commix is in the reconftw provisioner https://github.com/pry0cc/axiom/edit/master/images/provisioners/reconftw.json

run axiom-build and select reconftw to use!

[2021-07-23 05:07] #401 closed

[2021-07-23 21:38] pdelteil commented on #359
Hello @0xtavian, I recently updated and rebuilt axiom, the instances are running at 100% but the RPS is only between 4-8. I used a lower rate limit for the nuclei scans with no change.

![Screenshot from 2021-07-23 17-27-39](https://user-images.githubusercontent.com/20244863/126843292-4b65a793-3dba-4bf6-8161-6115232da2c6.png)

What should I check ?

[2021-07-23 21:46] 0xtavian commented on #359
@pdelteil thats not axiom-scan right? I would delete and rebuild your fleet either way. There could be orphaned processes in the background causing overconsumption of resources. you could also try rebooting the entire fleet and trying again. LMK if that fixes it

[2021-07-23 22:07] 0xtavian commented on #234
@4k4xs4pH1r3 @ZigzagSecurity

Just pushed Mac support to master. Going to close this issue but feel free to reopen if it doesnt work for you

[2021-07-23 22:07] #234 closed

[2021-07-23 22:27] pdelteil commented on #359
Yes, it's axiom-scan. Also having problems with the normal output (some instances just stopped showing up on the stats).

I noticed the load was 0 after stopping the scan, still I will try restarting everything.

[2021-07-24 02:42] 0xtavian commented on #359
@pdelteil can you post the module you are using and the command you are running?

[2021-07-24 02:50] pdelteil commented on #359
Sure,

`axiom-scan $file -m nuclei -stats -si 180 -t /home/op/nuclei-templates/template.yaml`

[2021-07-24 02:55] 0xtavian commented on #359
@pdelteil and the exact module please

[2021-07-24 03:03] pdelteil commented on #359
Hi, isn't nuclei the module or you mean template?

[2021-07-24 03:06] 0xtavian commented on #359
Also dont specify `-t` use `-w` instead. Using  `-w` will correctly overwrite the default "wordlist" that we use for nuclei default template path. We rewrite the `-w` to `-t` so nuclei can understand it ofc. If there is no default wordlist but a module is expecting it (like nuclei), it will replace it with a default wordlist seclist/Discovery/Web-Content/common.txt. I hope that makes sense. And i

[2021-07-24 03:07] 0xtavian commented on #359
Also that output looks very odd. My axiom-scan doesnt look like that at all, so im not sure what thats about.

[2021-07-24 03:18] 0xtavian commented on #359
@pdelteil During the beginning of the scan you''l see the axiom-scan logo and under it you'll see the command that is actually passed to nuclei on the remote instance. After testing by removing the "wordlist" in the axiom [module](https://github.com/pry0cc/axiom/blob/master/modules/nuclei.json) and only specifying one template in the command line, like you did. you can see in the final command tha

[2021-07-26 10:11] eugui opened #405 "ffuf and -mr"
Hi,

I'm trying to use axiom-scan + ffuf module with "-mr" (regex) but is not working.

This command is ok and I have a vulnerability:
./ffuf -u W1/W2 -w URLS:W1 -w wordlist/ffuf_test:W2 -mr "\b(?:a|b|c)\b" -t 10

Using axiom-scan I don't have a vulnerability:
axiom-scan URLS -m ffuf -wL wordlist/ffuf_test -mr "\b(?:a|b|c)\b" --cache --threads 3 -o ffuf_test.csv

[2021-07-26 19:51] 0xtavian commented on #405
@eugui for more reliable usage edit the module itself, dont enter it in the command line. So for your example, just add the -mr etc to the `~/.axiom/module/ffuf.json` file.

[2021-07-26 19:51] #405 closed

[2021-07-28 17:03] RapidEU opened #406 "axiom-power - turn on / turn off / restart"
Hiya,

I've had a problem with some of my droplets, I was overloading their resources and they got stuck, I was unable to execute any command.

The only solution was to restart all of them manually, I was wondering maybe you could implement and perform direct API interaction to restart/turn on/turn off the machines, that could solve further problems, luckily I only had 3 machines and not 30 :p.

[2021-07-29 05:56] pdelteil commented on #359
I'm sorry @0xtavian. The output is a  `tail -n 1 *` on the log folder. The regular output was not working correctly, probably because of a overload on the droplets.